/*=======================================
      Review conflicts
=======================================*/

.conflicts-list-wrapper {
  margin-top: 20px;
  overflow: auto;
  min-height: 300px;
  max-height: 800px;
}

  .conflicts-list-wrapper table {
    border-collapse: collapse;
    border-width: 0;
    width: 98%;
  }

    .conflicts-list-wrapper table th {
      border-width: 0;
      border-bottom: 1px solid gray;
      color: #3A66DD;
      text-align: left;
      padding: 5px 10px 5px 5px;
    }

    .conflicts-list-wrapper table td {
      border-width: 0;
      padding: 5px;
    }

.conflicts-list-footer {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}

#dialog-confirm {
  display: none;
}

  #dialog-confirm table {
    border-width: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
  }

  #dialog-confirm #icon-warning {
    margin: 8px 0 8px 16px;
    height: 32px;
    width: 32px;
  }

  #dialog-confirm td div {
    padding: 8px 16px 8px 8px;
  }

/*=======================================
      Edit conflicts
=======================================*/

.difftitle {
  background: #EFEFEF;
  border: 1px solid #BBC;
  margin: 20px 0 2px 0;
  padding: 1px 20px;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
}

.diff-wrapper {
  height: 500px;
}

.xmlContainer {
  overflow: auto;
}

#diffcontainer {
  max-height: 500px;
  position: relative; 
  top: -500px; 
  background: white;
}

.diff-progress {
  height: 500px;
  background-image: url(/sitecore/admin/Wizard/Images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}

table.diff {
  width: 100%;
  height: 500px;
}

#patchcontainer textarea {
  height: 200px;
  resize: none;
  font-family: Courier, monospace;
  font-size: 13px;
  line-height: 150%;
  width: 100%;
  box-sizing: border-box;
}

div.wf-actionbuttons {
  margin: 0 auto;
  width: 700px;
}

.wf-actionbutton {
  display: inline-block;
  box-sizing: border-box;
  overflow: visible;
  margin-top: 5px;
  width: 50%;
}

#header {
  margin-top: 10px;
}

  #header span {
    font-size: 15px;
  }

div.legend-wrapper {
  width: 250px;
  margin: 5px auto 0;
}

table.difflegend {
  border-collapse: collapse;
  border-width: 0;
}

  table.difflegend td {
    border-width: 0;
    padding: 2px 5px 2px 0;
  }

    table.difflegend td.color div {
      height: 10px;
      width: 40px;
    }

      table.difflegend td.color div.original {
        background: #E99;
      }

      table.difflegend td.color div.custom {
        background: #9E9;
      }

    table.difflegend td.description {
      font-size: 12px;
    }
