div[data-sc-id=MoreExternalKeywordsBorder], div[data-sc-id=MoreInternalKeywordsBorder], div[data-sc-id=MorePaidKeywordsBorder] {
  border-top: 1px solid #ccc !important;
}

div.sc-border.sc-show-padding[data-sc-id=KeywordDialogBorder] {
    padding-top: 0;
}

div[data-sc-id=KeywordDialogMessageBar], span.sc-text[data-sc-id=Keyword], div[data-sc-id=KeywordStatsRow],
div[data-sc-id=KeywordListBorder], div[data-sc-id=CloseKeywordDialogBorder], div[data-sc-id=MoreKeywordDetailBorder] {
    margin-top: 15px;
}

div[data-sc-id=KeywordStatsRow] > div > span {
    font-size: 220%;
}

div[data-sc-id=KeywordDialog] .sc-dialogWindow-navigation span,
div[data-sc-id=KeywordStatsRow] label
{
  text-transform: uppercase;  
}

div[data-sc-id=ExternalListControl] td.ventilate, div[data-sc-id=InternalListControl] td.ventilate, div[data-sc-id=PaidListControl] td.ventilate {
    cursor: pointer;
}

div.sc-advancedExpander[data-sc-id=ExternalKeywords] .sc-advancedExpander-body,
div.sc-advancedExpander[data-sc-id=InternalKeywords] .sc-advancedExpander-body,
div.sc-advancedExpander[data-sc-id=PaidKeywords] .sc-advancedExpander-body
{
  border: none;
}