[data-sc-id="ReferenceContentButtonTextBox"] {
  float: right;
  width: 40%;
  padding-top: 2px;
  padding-right: 2px;
}


.sc-label {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
}

.sc-label, [data-sc-id="ReferenceContentSearchBorder"] {
  background-color: #2b2b2b;
  font-size: 15px;
  height: 40px;
}

[data-sc-id="AssosiatedContentLabel"] {
  width: 100%;
}

.dialog-content {
  visibility: hidden;
}