@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);

  var cssClass = string.Empty;
  var gridColoums = userControl.GetInt("GridColumns");
  var applyGridColumsToAllSizes = userControl.GetBool("ApplyGridColumsToAllSizes", false);
  if (gridColoums > 0)
  {
    cssClass = "col-md-" + gridColoums;
    if (applyGridColumsToAllSizes)
    {
      cssClass = cssClass + " col-lg" + gridColoums + " col-sm-" + gridColoums + " col-xs-" + gridColoums;
    }
  }

  var contentAlignment = userControl.GetString("ContentAlign");
  switch (contentAlignment)
{        
    case "Right":
        cssClass += " text-right";
        break;
    case "Center":
        cssClass += " text-center";
        break;
    case "Left":
        cssClass += " text-left";
        break;
}

  userControl.Class = cssClass;
  var controlId = userControl.ControlId;
  var htmlAttributes = userControl.HtmlAttributes;
}
<div @htmlAttributes>
  @this.Html.Sitecore().Placeholder(controlId + ".Content")
</div>