.scConditionOption,
.scConditionOption:link,
.scConditionOption:visited,
.scConditionOption:hover,
.scConditionOption:active
{
  text-decoration: none;
  word-wrap: break-word;
  line-height: 15px;
}

  .scConditionOption:active
  {
    color: #000000;
  }

  .scConditionOption:hover
  {
    color: #2694C0;
    text-decoration: underline;
  }

.scActionOption,
.scActionOption:link,
.scActionOption:visited,
.scActionOption:hover,
.scActionOption:active
{
  color: #303030;
  text-decoration: none;
  word-wrap: break-word;
  line-height: 15px;
}

  .scActionOption:active
  {
    color: #000000;
  }

  .scActionOption:hover
  {
    color: #2694C0;
    text-decoration: underline;
  }

.scRule
{
  padding: 16px 4px 16px 20px;
  color: #999999;
  background-color: #f7f7f7;
  border-top: #cccccc;
  border-bottom: 1px solid #cccccc;
}

  .scRule div
  {
    display: none;
    padding: 0px 15px 0 0;
  }

.scRuleActive
{
  color: black !important;
  font-weight: 600;
}

  .scRuleHover div
  {
    display: block !important;
  }

.scLine
{
  padding: 15px 4px 15px 40px;
  position: relative;
  word-wrap: break-word;
  line-height: 15px;
}

  .scLine div
  {
    display: none;
    right: 0;
    top: -22px;
    background: #e3e3e3;
    padding: 0px 15px 0 0;
    float: right;
  }

.ie .scLine div
{
  right: 8px;
}

.scLineHover
{
  background: #e3e3e3;
}

  .scLineHover div
  {
    display: block !important;
  }

.scLineButton
{
  color: #666666;
  padding-left: 15px;
}

.scLineButton img 
{
  height:16px;
  width:16px;
}

.scLineButton:hover 
{
  -ms-opacity: 0.6;
  opacity: 0.6;
}

.scAction
{
  padding: 2px 4px 2px 4px;
}

.scActionButton,
.scActionButton:link,
.scActionButton:visited,
.scActionButton:hover,
.scActionButton:active
{
  color: #2694C0;
  text-decoration: none;
}

  .scActionButton:hover,
  .scActionButton:active
  {
    text-decoration: underline;
  }

.scRuleGlyph
{
  width: 14px;
  height: 14px;
  margin: 0px 0px 4px 0px;
  vertical-align: bottom;
  background: url("/sitecore/shell/themes/standard/images/WebFramework/expanders/triangle_collapsed.png");
}

.scRuleActive .scRuleGlyph
{
  background: url("/sitecore/shell/themes/standard/images/WebFramework/expanders/triangle_expanded.png") !important;
}

.scSectionGlyph
{
  width: 14px;
  height: 14px;
  margin: 0px 0px 4px 0px;
  vertical-align: top;
  background: url("/sitecore/shell/themes/standard/images/WebFramework/expanders/triangle_expanded.png");
  display: inline-block;
}

.scSectionClosed .scSectionGlyph
{
  background: url("/sitecore/shell/themes/standard/images/WebFramework/expanders/triangle_collapsed.png") !important;
}

table.scDialogContentContainer
{
  padding-right: 4px;
  padding-left: 4px;
}

.scFixedLayoutTable
{
  table-layout: fixed;
}

.scConditionsAndActions
{
  height: 50%;
  overflow: hidden;
}

.scRuleDescription
{
  position: relative;
  height: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scConditionsAndActions > div
{
  height: 100%;
}

.scConditions
{
  padding-right: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scMainContainer, .scMainContainerFinalCountEnabled
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px 15px 20px 15px;
}

.scMainContainerFinalCountEnabled
{
  bottom: 40px;
}

.scFinalCountContainer
{
  position: absolute;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  text-align: right;
}

  .scFinalCountContainer span
  {
    padding-right: 20px;
  }

.scConditionsActions 
{
  border-bottom: 1px solid #cccccc;
}

.scConditions, .scActions
{
  position: relative;
  display: inline-block;
  width: 50%;
}

.scConditions #Conditions, .scActions #Actions
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  border: 1px solid;
  border-color: #d6d6d6;
}

.scConditions #Conditions
{
  top: 57px;
  right: 10px;
}

.scActions #Actions
{
  top: 57px;
  padding: 5px;
}

#Conditions
{
  border: 1px solid;
  border-color: #d6d6d6;
  padding: 5px;
  height: calc(100% - 75px);
  min-height: 1px !important;
}

.scDescription
{
  position: absolute;
  height: auto;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid;
  border-color: #d6d6d6;
}

.scDescriptionLabel 
{
  margin-top: 15px;
}

.selectConditions, .selectActions {
    padding-bottom: 5px;
}

.scActionSection, .scConditionSection {
    font-weight: 600;
}

.scRule .scLineButtons {
  font-weight: normal;
  position: absolute;
  right: 34px;
}

.scRule:not(.scRuleActive) .scLineButtons {
  display: none !important;
}

.scRuleChevron
{
  width: 16px;
  height: 16px;
  display: inline-block !important;
  position: absolute;
  right: 18px;
  background: url("~/icon/Office/16x16/navigate_down_lightgrey.png");
}

.scRuleActive .scRuleChevron
{
  background: url("~/icon/Office/16x16/navigate_up_lightgrey.png") !important;
}

.scGlyphSearch 
{
  background-image: url('~/icon/Office/16x16/magnifying_glass_black.png') !important;
  background-repeat: no-repeat;
  background-position: 99.5% center;
}

.scConditions .scGlyphSearch, .scActions .scGlyphSearch
{
  background-position: 99% center;
}