/*Set the background color in Moz from here*/
.RadEWrapper iframe
{	
	background-color:white;
}

/* ----------------------- Css classes for the fixed toolbar---------------------------------*/
.RadEFixedToolbarHolderMozilla
{
	border:1px solid #808080;
	width:100%;
	background-color: #f7f7f7;
	position:fixed !important;
	top:0px !important;
	left:0px !important;
	text-align: left;
	z-index:10000;
}

.RadEFixedToolbarHolderIE 
{
	/* IE5.5+/Win */
	position:absolute;
	left: expression( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft  + 'px');
	top: expression(  ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop  + 'px');
	background-color: #f7f7f7;
	border:1px solid #808080;
	width:100%;
	text-align: left;
	z-index:51200;
}

/* ----------------------- Css classes for the relative toolbar ---------------------------------*/
.RadERelativeToolbarHolder 
{
	position:absolute;
	background-color: #f7f7f7;
	border:1px solid #808080;
	text-align: left;
	z-index:10000;
}

.RadEToolText
{
	font:normal 11px Tahoma;
	margin-left:2px;
	margin-right:2px;
	cursor:default;
}

.RadEToolDown
{
	border-top: 1px solid #808080;	
	border-left: 1px solid #808080;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	font:normal 11px Tahoma;
	white-space:nowrap;
	height: 22px;
}

.RadEToolOn
{
	border-bottom: 1px solid #8c8c8c;
	border-top: 1px solid #c2c2c2;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	background-image: url(CssImg/toolOnbg.gif);
	font:normal 11px Tahoma;
	white-space:nowrap;
	height: 22px;
}

.RadEToolOff
{
	font:normal 11px Tahoma;
	margin: 1px;
	white-space:nowrap;
}

.RadEToolOnOver, .RadEToolOffOver
{		
	border-right: 1px solid #a1a1a1;		
	border-bottom: 1px solid #787878;
	border-top: 1px solid #c2c2c2;
	border-left: 1px solid #a1a1a1;	
	background-image: url(CssImg/toolOverBg.gif);
	font:normal 11px Tahoma;
	white-space:nowrap;
	height: 22px;
}

.RadEToolDisabled
{
	filter:alpha(opacity=30);
	-moz-opacity:0.5;
	opacity: 0.5;
	margin: 1px;
	white-space:nowrap;
}


.RadEToolLongOff
{
	font:normal 11px Tahoma;
	margin: 1px;
}

.RadEToolLongOn
{
	border-bottom: 1px solid #8c8c8c;
	border-top: 1px solid #cecece;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c8c8c8;
	background-image: url(CssImg/toolOnbg.gif);
	font:normal 11px Tahoma;
}

.RadEToolLongOnOver,.RadEToolLongOffOver
{
	border-bottom: 1px solid #787878;
	border-top: 1px solid #cecece;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
	background-image: url(CssImg/toolOverBg.gif);
	font:normal 11px Tahoma;
	white-space:nowrap;
	cursor:default;
}

.RadEToolLongDisabled
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
	margin: 1px;
}

.RadEModuleTable
{
	background-color: #fcfcfc;	
	color:#333333;
	border: 1px solid #dbdbdb;
	border-top: 1px solid #F4F7F9;
	text-align:left;
}

.RadEModule
{
	color:#333333;
	width:100%;
	height:100%;	
	padding-top:1px;	
	font:normal 11px Tahoma;
}

A.DomPathLink, A.DomPathLink:visited, A.DomPathLink:active, A.DomPathLink:link
{
	text-decoration:underline;
	font:11px normal Tahoma;
	padding:3px 2px 1px 2px;	
	color:#3333cc;
}

A.DomPathLink:hover
{
	background-color: white;	
}

A.DomPathLinkSelected
{
	padding:1px 2px 1px 2px;
	text-decoration:none;
	border:1px solid #C4D5E4;
	background-color: white;
	font:11px normal Tahoma;
	font-weight:bold;
	color: #333333;
}

.RadEToggleButton
{
	margin: 1px;
	border: 0px;
	TEXT-ALIGN: center;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background-color: #f7f7f7; /* 03 Jan 05 */
	background-image: none; /* 03 Jan 05 */	
}

.RadEToggleButtonPressed
{
	border: 1px solid #a0a0a0; /* 03 Jan 05 */
	text-align: center;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background-image: none; /* 03 Jan 05 */
	background-color: #dddddd; /* 03 Jan 05 */
}

TD.RadEContentContainer
{
	border:1px solid #d4d4d4;
	background-color: white;
}

/* Table wrapper and DOCKING ZONES classes */
TABLE.RadEWrapper
{
	border:1px solid #e4e4e4;
	background-color: #f7f7f7;
	padding: 1px;	
}

.RadEWrapper .RadEVerticalDockingZone
{
	font-size:0px;
	line-height:0px;
	width:1px;
}

.RadEWrapper .RadEDockingZone
{
	font-size:0px;
	line-height:0px;
}

.RadETitleGrip
{
	background-image: url(CssImg/draggedToolbarTitleBg.gif);
	height: 18px;
	text-align: left;
	padding-left: 4px;
	color: #666666;
	font:normal 11px Tahoma;
	font-weight: bold;
}

.RadESideGripHorizontal
{
	background-image: url(CssImg/dragHandle.gif);
	background-repeat: no-repeat;
	background-position: center;
	width:10px;
}

.RadESideGripVertical
{
	background-image: url(CssImg/dragHandleVertical.gif);
	background-repeat: no-repeat;
	background-position: center;
	height:10px;
}

.RadEToolbar
{
	background-image: url(CssImg/ToolbarRowBackground.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #fbfbfb;
	font:normal 11px Tahoma;
	border-top : 1px solid  #e5e5e5;
	border-left : 1px solid  #dcdcdc;
	border-right : 1px solid  #dcdcdc;
	height: 24px;
}

.RadEToolbarVertical
{
	background-image: url(CssImg/ToolbarRowBgVertical.gif);
	background-repeat: repeat-y;
	background-color: #fbfbfb;
	font:normal 11px Tahoma;
	border-bottom : 1px solid  #dcdcdc;
	border-top : 1px solid  #dcdcdc;
	border-right : 1px solid  #e5e5e5;
	width: 24px;
}

.RadAutoDockButton
{
	cursor: hand;
	cursor:pointer;
	background-image: url(CssImg/AutoDockButton.gif);
	background-repeat: no-repeat;
	background-position: center;
	width:8px;
	height:11px;
	margin-right: 3px;
	float:right;
	border:0px;
}

.RadESeparator
{
	width:2px;
	font-size:3px;			
	background-image: url(CssImg/Separator.gif);
	background-position:center;
	background-repeat:no-repeat;
}

.RadESeparatorHorizontal
{
	font-size:1px;
	height:3px;
	background-image: url(CssImg/SeparatorHorizontal.gif);
	background-position:center;
	background-repeat:no-repeat;
}

/*----------------- Editor additional HTML objects' styles */
.RadEErrorMessage
{
	color: red;
	font:normal 11px Tahoma;
	text-align:left;
	margin:3px;
}

TEXTAREA.RadETextArea
{
	border: #808080 1px solid;
	font:normal 11px Tahoma;
	background-color: white;
	color: #000080;
	/* Bug in IE - crashing the browser - do not set scrollbar styles! */
}

INPUT.RadEButton, BUTTON.RadEButton
{
	border: 0px;
	margin: 3px;
	WIDTH: 78px;
	FONT-FAMILY: Arial;
	HEIGHT: 22px;
	color: #333333;
	font-weight: bold;
	font-size: 11px;
	BACKGROUND-image: url(CssImg/button.gif);
	background-color: Transparent;
	TEXT-ALIGN: center;
	line-height: 21px;
}

INPUT.RadETextBox
{
	padding-left:2px;
	border: 1px solid #4D6185; 
	font: menu;
	font-size: 12px; 
	margin:1px;	 
}

SELECT.RadEDropDown
{
	FONT-FAMILY: Tahoma;
	padding-left:2px;
	font-size:11px;
	margin:2px;
}

.RadEXhtmlButton
{
	border-bottom: solid 1px #8c8c8c;
	border-top: 1px solid #c2c2c2;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	background-image: url(CssImg/toolOnbg.gif);
	font:normal 11px Tahoma;
	height: 22px;
	width: auto;
	margin: 1px;
	color: black;
}
/* ------------------------- Dropdown "Header" Styles ---------------------------------*/
.RadEDropDownOff
{
	cursor:default;
	background-color:white;
	border:1px solid #A6A6A6;
	padding-left: 3px;
	font:normal 11px Tahoma;
	margin-left:1px;
}

.RadEDropDownOn, .RadEDropDownOffOver
{
	cursor:default;
	background-color:white;
	border:1px solid #666666;
	font:normal 11px Tahoma;
	padding-left: 3px;
	margin-left:1px;
}

.RadEDropDownDisabled
{
	background-color: white;
	border: solid 1px #dcdcdc;
	font: normal 11px Tahoma;
	padding-left: 3px;
	margin-left:1px;
	color: #808080;
	cursor: no-drop !important;
}

.RadEDropDownDisabled img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
}

/* ----------------------------- RadWindow wrapper related styles ------------------------*/
.RadETableWrapperResizeSpan
{
	cursor : default;
	border : 3px solid #cccccc;
}

.RadETableWrapper
{
	border:1px solid #c8c8c8;
	border-top: 1px solid #e5e5e5;
	border-bottom: 0;
	background-color:#f7f7f7;
	font-size:0px;
	vertical-align: top;
}

.RadETableWrapper TD
{
	vertical-align: top;
}

.RadETableWrapperHeaderLeft
{
	background: url(CssImg/DialogueHeaderLeft.gif);
	width:9px;
	height:24px;
	vertical-align: top;
	background-repeat: no-repeat;
}
.RadETableWrapperHeaderCenter
{
	text-align: left;
	height:24px;
	font-family:Tahoma;
	font-weight: bold;
	color: #212121;
	background: url(CssImg/ToolbarRowBackground.gif);
	background-repeat: repeat-x;
	vertical-align: top;
}
.RadETableWrapperHeaderRight
{
	width:1px;
	height:24px;
	vertical-align: top;
}

.RadETableWrapperBodyLeft
{
	width:0px;
}

.RadETableWrapperBodyCenter
{
	width:100%;
	height:100%;
}

.RadETableWrapperBodyRight
{
	width:0px;
}

.RadETableWrapperFooterLeft
{
	background-repeat: no-repeat;
	height: 13px;
	font-size: 0px;
	width: 0px;
	border-bottom: 1px solid #B4B4B4;
}

.RadETableWrapperFooterCenter
{
	width:100%;
	height: 13px;
	font-size: 0px;
	line-height:0px;
	border-bottom: 1px solid #B4B4B4;
}

.RadETableWrapperFooterRight
{
	font-size: 0px;
	width: 14px;
	height: 13px;
	line-height:0px;
	cursor:nw-resize;
	background-image: url(CssImg/footerResize.gif);
	background-repeat: no-repeat;
	border-bottom: 1px solid #B4B4B4;
}

.RadETableWrapperFooterRightOver
{
	width:0px;
	height:0px;
	font-size: 0px;
	line-height:0px;
	cursor:nw-resize;
}

.RadERadWindowHeader
{
	font-family: Microsoft Sans Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #212121;
	padding-top: 6px;
	padding-left: 4px;
	cursor:default;
	width:100%;
	display:block;
}

.RadERadWindowButtonClose
{
	cursor: hand;
	cursor:pointer;
	background-image: url(CssImg/dialogueHeaderClose.gif);
	background-repeat: no-repeat;
	margin-top:18px;
	width:19px;
	height:24px;
	display:block;
}

.RadERadWindowButtonPinOff
{
	cursor: hand;
	cursor:pointer;
	background-image: url(CssImg/dialogueHeaderPinOff.gif);
	background-repeat: no-repeat;
	margin-top:18px;
	width:16px;
	height:24px;
	display:block;
}

.RadERadWindowButtonPinOn
{
	cursor: hand;
	cursor:pointer;
	background-image: url(CssImg/dialogueHeaderPinOn.gif);
	background-repeat: no-repeat;
	margin-top:18px;
	width:16px;
	height:24px;
	display:block;
}

/* RIBBON BAR-RELATED STYLES BEGIN */
.RadERibbon 
{
	border: solid 1px #e4e4e4;
	margin-right: 1px;
	margin-bottom: 1px;
}

.RadERibbon .RadAutoDockButton
{
	cursor: default;
	margin-top: 1px;
}

.RadERibbon .RadETitleGrip 
{
	font: normal 11px Arial, Verdana, Sans-serif;
	cursor: default;
	border: 0px;
	height: 11px;
}

.RadERibbon .RadEToolbar
{
	border: 0px;
}
/* RIBBON BAR-RELATED STYLES END */

.RadETableWrapperBodyCenter
{
	background-color: #fff;
}

.RadETableWrapperHeaderLeft:before
{
	content: " ";
	display: block;
	width: 3px;
}

/* Mozilla 1.5 Fix */
.RadETableWrapperHeaderRight:before
{
	content: " ";
	display: block;
	width: 3px;
}