@model List<Sitecore.Data.Items.Item>
@using HMPPS.Site.ViewHelpers
@if (Model.Any())
{
    <div class="breadcrumbs">
        <ol>
            @foreach (var item in Model)
            {
                var linkText = item.GetNavTitleOrPageTitle();
                var linkUrl = item.GetPageItemUrl();

                if (item.ID != Sitecore.Context.Item.ID)
                {
                    <li><a href="@linkUrl">@linkText</a></li>
                }
                else
                {
                    <li><a aria-current="page" href="@linkUrl">@linkText</a></li>
                }
            }
        </ol>
    </div>
}
