@model HMPPS.Site.ViewModels.Partials.HeaderViewModel
<header role="banner" id="global-header">
    <div class="header-wrapper">
        <div class="header-global">
            <a class="content" title="@Model.LogoLink.Title" href="@Model.LogoLink.Url" id="logo">@Model.LogoLink.Text</a>
        </div>
    </div>
</header>
