<header role="banner" id="global-header">
    <div class="header-wrapper">
        <div class="header-global">
            <a href="/" title="Go to the hub homepage" id="logo" class="content">
                The Hub
            </a>
        </div>
    </div>
</header>
