<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="core" connectionString="#{Hub-CoreConnectionString}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="master" connectionString="#{Hub-MasterConnectionString}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="web" connectionString="#{sqlWeb}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="analytics" connectionString="#{Hub-MongoAnalyticsConnectionString}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="tracking.live" connectionString="#{Hub-MongoLiveConnectionString}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="tracking.history" connectionString="#{Hub-MongoHistoryConnectionString}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="reporting" connectionString="#{Hub-ReportingConnectionString}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="reporting.apiKey" connectionString="#{Hub-ReportingApiKey}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="cloud.search" connectionString="#{Hub-SearchConnectionString}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    <add name="appinsights.instrumentationkey" connectionString="#{Hub-AppInsightKey}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
</connectionStrings>
