.mode {
    display: block;
    height: 80px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
}

.option-disabled .mode, .option-disabled .mode:hover, .option-disabled .mode:active {
    cursor: default;
    text-decoration: none;
    color: #8D8D8D;
    background: none !important;
}

.mode-icon {
    display: inline-block;
    margin: 0 auto;
    height: 32px;
    width: 32px;
}

.mode-text {
    white-space: normal;
    line-height: 16px;
    display: block;
}

.leftColumn {
    width: 120px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rightColumn {
    position: absolute;
    top: 0;
    right: 0;
    left: 127px;
    bottom: 0;
}

.visibleWarning {
}

.section-header {
}

.section {
    height: calc(100% - 26px);
}

#Treeview > div.scContentTreeNode,
#CloneDestination > div.scContentTreeNode,
#CreateDestination > div.scContentTreeNode {
    padding-left: 0px;
}

#Treeview, #CloneDestination, #CreateDestination {
}

#Right {
    padding: 8px;
}

#CreateSection, #CloneSection {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#SearchSection {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scVerticalImagedTabstrip {
    border-right: 2px solid #474747;
}

    .scVerticalImagedTabstrip > div:hover {
        background-color: #E3E3E3;
    }
    
    .scVerticalImagedTabstrip > div[disabled]:hover {
        background-color: transparent;
    }

    .scVerticalImagedTabstrip > div a {
        display: table;
    }

        .scVerticalImagedTabstrip > div a:hover {
            text-decoration: none;
        }

        .scVerticalImagedTabstrip > div a > div {
            display: table-cell;
            vertical-align: middle;
        }

    .scVerticalImagedTabstrip > div.selected, .scVerticalImagedTabstrip > div.selected:hover {
        background-color: #D0EBF6;
    }

.scFormTable > tbody > tr > td:first-child {
    color: #131313;
}