<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- The OAUTH2 client ID -->
        <add key="HMPPS.Authentication.ClientId" value="REMOVED" />
        <!-- The OAUTH2 client secret -->
        <add key="HMPPS.Authentication.ClientSecret" value="REMOVED" />
        <!-- The URL that the identity provider posts the token back to, absolute URL -->
        <add key="HMPPS.Authentication.SignInCallbackUrl" value="https://hmpps-cms.localhost/auth-callback" />
        <!-- The URL that handles log out -->
        <add key="HMPPS.Authentication.LogoutUrl" value="https://hmpps-cms.localhost/logout" />
        <!-- The temp cookie of IDAM login process-->
        <add key="HMPPS.Authentication.TempCookieName" value="TempCookie" />
        <!-- The OAUTH2 claims to request -->
        <add key="HMPPS.Authentication.Scope" value="openid profile email" />
        <!-- The OAUTH2 issuer (base URL) -->
        <add key="HMPPS.Authentication.ValidIssuer" value="https://idam.test.dp.hmpps.dsd.io:443/openam/oauth2" />
        <!-- The OAUTH2 authorize endpoint -->
        <add key="HMPPS.Authentication.AuthorizeEndpoint" value="https://idam.test.dp.hmpps.dsd.io/openam/oauth2/authorize" />
        <!-- The OAUTH2 token endpoint -->
        <add key="HMPPS.Authentication.TokenEndpoint" value="https://idam.test.dp.hmpps.dsd.io/openam/oauth2/access_token" />
        <!-- The OAUTH2 logout endpoint -->
        <add key="HMPPS.Authentication.LogoutEndpoint" value="https://idam.test.dp.hmpps.dsd.io/openam/XUI/#logout/" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
