@model Sitecore.Speak.Components.Models.ComponentRenderingModel
@{
  Model.Class.Append("sc-progressbar");
  Model.DataBind.IsVisible();
}
<div @Model.HtmlAttributes>
  <div class="progress">
    <div class="progress-bar" role="progressbar" data-bind="style: {width: Percentage() + '%'}" ></div>
    <span data-bind="text: Percentage() + '%', visible: ShowLabel"></span>
  </div>
</div>