@model Sitecore.Speak.Components.Models.Navigation.Breadcrumbs.BreadcrumbRenderingModel
@functions
{
  HtmlString RenderClass(bool isSelected)
  {
    return new HtmlString(isSelected ? "class=\"selected\"" : string.Empty);
  }
}
@{
  Model.Class.Append("sc-breadcrumb");
  
  Model.DataBind
    .IsVisible()
    .Bind("attr", "{title: Tooltip()}");
}
<div @Model.HtmlAttributes>
  <ul>
    @foreach (var item in Model.BreadCrumbItems)
    {
      <li @RenderClass(item.IsSelected)>
        <a href="@item.Url">@item.Title</a>
      </li>
    }
  </ul>
</div>