<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <cloudMediaStorage>
      <storageProvider type="FS.MediaLibrary.AzureStorage.AzureStorageProvider, FS.MediaLibrary.AzureStorage">
        <param name="accountName">evadenborossitecoretest1</param>
        <param name="accountKey">iZqnC+l8a4BUPIeBpkTcKOgfL9YHZuVSHntXRxZpqY3styl5Se7dKiyEIlIs3UqlDp4FonUP+RNzWbugfBTD1Q==</param>
        <param name="defaultContainer">blobs</param>
        <param name="containers" desc="Comma separated list">audio, video, game, ebook</param>
      </storageProvider>
    </cloudMediaStorage>

  </sitecore>
</configuration>
