@model HMPPS.Site.ViewModels.Pages.BookSectionPageViewModel

<div id="global-header-bar"></div>

<div class="site-wrapper">

    @Html.Partial("/Views/Partials/_Breadcrumb.cshtml", Model.BreadcrumbItems)

    <main class="elements-index root-index" id="content" role="main" tabindex="-1">
        <h1 class="heading-large">@Html.Sitecore().Field("Page Title")</h1>
    
        @if (Model.Children.Any())
        {
            <div class="image-grid">
                <div class="grid-row">
                    <div class="column-one-third">
                        <div class="image-grid-item">
                            <a class="js-ereader-trigger" target="blank" data-src="_dummy/books/epub/Metamorphosis-jackson.epub" href="book.php">
                                <img src="_dummy/img/entertainment.png" alt="">
                                <h2 class="heading-medium">Law &#x26; Politics</h2>
                            </a>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="image-grid-item">
                            <a class="js-ereader-trigger" target="blank" data-src="_dummy/books/pdf/dummy.pdf" href="book.php">
                                <img src="_dummy/img/education.png" alt="">
                                <h2 class="heading-medium">Maths</h2>
                            </a>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="image-grid-item">
                            <a class="js-ereader-trigger" target="blank" data-src="_dummy/books/epub/Metamorphosis-jackson.epub" href="book.php">
                                <img src="_dummy/img/education.png" alt="">
                                <h2 class="heading-medium">Sociology</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-one-third">
                        <div class="image-grid-item">
                            <a class="js-ereader-trigger" target="blank" data-src="_dummy/books/pdf/dummy.pdf" href="book.php">
                                <img src="_dummy/img/entertainment.png" alt="">
                                <h2 class="heading-medium">Art &#x26; Literature</h2>
                            </a>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="image-grid-item">
                            <a class="js-ereader-trigger" target="blank" data-src="_dummy/books/epub/Metamorphosis-jackson.epub" href="book.php">
                                <img src="_dummy/img/education.png" alt="">
                                <h2 class="heading-medium">Business &#x26; Economics</h2>
                            </a>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="image-grid-item">
                            <a class="js-ereader-trigger" target="blank" data-src="_dummy/books/pdf/dummy.pdf" href="book.php">
                                <img src="_dummy/img/education.png" alt="">
                                <h2 class="heading-medium">Science</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-one-third">
                        <div class="image-grid-item">
                            <a class="js-ereader-trigger" target="blank" data-src="_dummy/books/epub/Metamorphosis-jackson.epub" href="book.php" _blank>
                                <img src="_dummy/img/entertainment.png" alt="">
                                <h2 class="heading-medium">Philosophy</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </main><!-- / #content -->

</div>