@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  
  rendering.Class = "sc-contextswitcher";
  rendering.Requires.Script("client", "ContextSwitcher.js");

  var isVisible = rendering.GetBool("IsVisible", "IsVisible", true);
  rendering.Attributes["data-sc-isvisible"] = isVisible.ToString().ToLowerInvariant();

  var isEnabled = rendering.GetBool("IsEnabled", "IsEnabled", true);
  rendering.Attributes["data-sc-isenabled"] = isEnabled.ToString().ToLowerInvariant();

  var items = rendering.GetString("Items", "Items");
  rendering.Attributes["data-sc-items"] = items;

  var tooltip = rendering.GetString("Tooltip");
  rendering.Attributes["data-sc-tooltip"] = tooltip;

  var htmlAttributes = rendering.HtmlAttributes;
}

<div @htmlAttributes data-bind="visible: isVisible">
  <div class="sc-contextswitcher-tab">
    <button class="btn sc-contextswitcher-togglebutton btn-default toggle" data-bind="attr: {title: tooltip}, enable: isEnabled, click: toggle, css: { 'up': isOpen() }" type="button">
      <span class="sc-togglebutton-text" data-bind="text: tabName"></span>
      <div class="sc-togglebutton-toggler">
        <div class="sc-togglebutton-chevron" data-bind="css: { 'up': isOpen() }">
        </div>
      </div>
    </button>
  </div>
  <div class="sc-contextswitcher-panel" data-bind="style: {overflowY: scrollable() ? 'scroll' : 'hidden'}, css: { 'isopen': isOpen() } ">
    <div class="sc-contextswitcher-table">
    </div>
  </div>
</div>
