@using Sitecore.Mvc
@model Sitecore.Speak.Components.Models.ComponentRenderingModel
@{
  Model.HasNestedControls = true;

  Model.Class.Append("sc-contextToggleButton");

  
}
<div @Model.HtmlAttributes>
  @Html.RenderView("{C0182326-91FE-45C6-8BF0-C1C3AFE1D21A}", new
  {
    ID = "ToggleButton",
    Icon = "/sitecore/shell/client/Business Component Library/version 2/Assets/img/ContextToggle/side_panel_icon.png",
    IsOpen = "{Binding $component.IsOpen,Mode=TwoWay}",
    ShowArrow = false,
    SpritePosition = "center"
  })
</div>
