/*RadSpell Vista skin*/

.RadSpell_Vista
{
    width:460px;
    height:303px;
    background:url(Img/spellWinBack.gif) 0 0 repeat-x #fff;
	padding:0;
	margin: 0;
}
.RadSpell_Vista .RichTextView,
.RadSpell_Vista textarea,
.RadSpell_Vista select,
.RadSpell_Vista .MainOptions
{
    margin-left:7px;
}
.RadSpell_Vista,
.RadSpell_Vista textarea,
.RadSpell_Vista select
{
    font:normal 10px/16px 'Segoe UI', arial,sans-serif;
}
/*RadSpell headings start*/
.RadSpell_Vista h3,
.RadSpell_Vista h3 em
.RadSpell_Vista h3 span
{
    height:28px; /*the same as background images' height*/
    line-height:35px; /*may be different to vertically align the text inside the tab*/
}
.RadSpell_Vista h3
{
    margin: 0 ;
    padding-left:7px; /*the same as spellHeadLeft.gif's width*/
    background:url(Img/spellHeadLeft.gif) 0 0 no-repeat;
    font-size:1.1em;
    overflow:hidden;
}
.RadSpell_Vista h3 em
{
    float:left;
    padding-right:7px; /*the same as spellHeadRight.gif's width*/
    background:url(Img/spellHeadRight.gif) 100% 0 no-repeat #a0b8db;
    font-style:normal;
	cursor: default;
}
.RadSpell_Vista h3 span
{
    float:left;
    padding:0 5px 0 10px;
    background:url(Img/spellHeadMiddle.gif) 0 0 repeat-x;
}
.RadSpell_Vista h4
{
    margin-top:1em;
    padding-left:7px;
    font-size:1.1em;
    font-weight:normal;
}
/*RadSpell headings end*/

/*RadSpell text boxes start*/
.RadSpell_Vista .RichTextView,
.RadSpell_Vista textarea
{
    height:70px;
    border-width:1px;
    border-style:solid;
    border-color:#000 #ccc #ccc #000;
    background:#fff;
    font-size:1.1em;
}
.RadSpell_Vista textarea
{
    width:318px;/*this width + side padding = .RichTextView width + side padding*/
    padding:3px 5px 3px 3px;
}
.RadSpell_Vista .RichTextView
{
    width:320px;/*this width + side padding = textarea width + side padding*/
    padding:3px;
    font-family:tahoma,sans-serif;
    cursor:text;
}
.RadSpell_Vista .RichTextView strong
{
    color:#f00;
    text-decoration:underline
}
.RadSpell_Vista .RichTextView em
{
    font-style:normal;
    color:#000;
}
/*RadSpell text boxes end*/

/*RadSpell combobox start*/
.RadSpell_Vista select,
.RadSpell_Vista .MainOptions
{
    width:328px;/*2px more than .RichTextView width + side padding*/
}
.RadSpell_Vista select
{
    height:60px;
    font-size:1.1em;
}
/*the next two must be separate*/
/*IE 7 only*/
*:first-child+html .RadSpell_Vista select
{
    height:85px;/*5px more than select*/
}
/*IE 5-6 only*/
* html .RadSpell_Vista select
{
    height:85px;/*5px more than select*/
}
.RadSpell_Vista select option
{
    padding:1px 3px 0;
}
/*RadSpell combobox end*/

/*RadSpell buttons start*/
.RadSpell_Vista .SpellOptions li,
.RadSpell_Vista .SpellOptions a
{
    /*the same as background images' height*/
    height:21px;
    line-height:21px;
}
.RadSpell_Vista .SpellOptions li
{
    width:73px;
    text-align:center;
    font-size:1.1em;
}
.RadSpell_Vista .SpellOptions a
{
    color:#000;
    background:url(Img/spellButtonCombined.gif) 0 0 no-repeat;
    text-decoration:none;
}
.RadSpell_Vista .SpellOptions a:hover
{
    background-position:0 -21px;
}
.RadSpell_Vista .MainOptions
{
    margin-top:10px;
}
.RadSpell_Vista .MainOptions li
{
    float:right;
    margin-left:10px;
}
.RadSpell_Vista .AuxOptions
{
    float:right;
    width:90px;
    margin-top:20px;
	margin-right: 10px;
}
.RadSpell_Vista .AuxOptions li
{
    margin-top:8px;
}
.RadSpell_Vista a.disabled
{
    color:#ccc;
}
.RadSpell_Vista .SpellOptions a.disabled:hover
{
    background-position:0 0;
}
/*RadSpell buttons end*/
