<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net461" />
  <package id="CommonServiceLocation" version="1.0.0" targetFramework="net461" />
  <package id="Facebook" version="5.4.1.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net461" />
  <package id="Markdown" version="1.14.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.OData" version="5.9.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Extensions.Compression.Server" version="2.0.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.5" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.1.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net461" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net461" />
  <package id="RazorGenerator.Mvc" version="2.4.2" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="Sitecore" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Abstractions" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Aggregation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Automation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Automation.Aggregation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Automation.MongoDB" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Core" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.DataAccess" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Model" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.MongoDB" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.OmniChannel" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Outcome" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Processing" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.RobotDetection" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.Sql" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Apps.Loader" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Buckets" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Buckets.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Buckets.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.CES" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.CES.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.CES.DeviceDetection" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.CES.DeviceDetection.Rules" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.CES.GeoIp" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.CES.GeoIp.LegacyLocation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Cintel" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Cintel.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Cintel.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Client.LicenseOptions" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Cloud.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Cloud.Nexus" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Cloud.RestClient" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Commerce" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Commerce.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Commerce.ExperienceAnalytics" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Commerce.ExperienceProfile" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Analytics" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Analytics.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Azure" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Linq" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Linq.Lucene" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Linq.Solr" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.LuceneProvider" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.SolrProvider" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentTesting" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentTesting.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentTesting.Intelligence" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentTesting.Model" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentTesting.Mvc" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ControlPanel" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Aggregation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Api" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Core" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.ReAggregation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceAnalytics.Reduce" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceContentManagement.Administration" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor.Speak" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor.Speak.Ribbon" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceExplorer.Business" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ExperienceExplorer.Web" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.FXM" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.FXM.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.FXM.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.FXM.Service" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.FXM.Speak" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ItemWebApi" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.LaunchPad" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ListManagement" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ListManagement.Analytics" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ListManagement.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ListManagement.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ListManagement.ContentSearch" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ListManagement.Services" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Logging" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Logging.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Campaigns.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Campaigns.Services" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Core" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Definitions.MarketingAssets.Repositories" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Search" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Marketing.Taxonomy" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Mvc" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Mvc.Analytics" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Mvc.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Mvc.DeviceSimulator" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Mvc.ExperienceEditor" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Nexus" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.NVelocity" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Oracle" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.PathAnalyzer" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.PathAnalyzer.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.PathAnalyzer.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.PathAnalyzer.Services" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Publishing.WebDeploy" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Security.AntiCsrf" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SegmentBuilder" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SequenceAnalyzer" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Core" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.Sitecore" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SessionProvider" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.Memory" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.MongoDB" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.Redis" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.Sql" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Shell.MarketingAutomation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Api" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Client.Api" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Client.Common" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Client.Domain" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Client.Mvc" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Client.PublishingService" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Client.Speak" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Configuration" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Domain" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.ExperienceProfile.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Facebook" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Facebook.Api" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Facebook.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Facebook.Client.Mvc" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.GooglePlus" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.GooglePlus.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.GooglePlus.Client.Mvc" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Infrastructure" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Infrastructure.Logging" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Installation" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Klout.Api" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Klout.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.LinkedIn" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.LinkedIn.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.LinkedIn.Client.Mvc" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.NetworkProviders" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.SitecoreAccess" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.SocialMarketer" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.SocialMarketer.Api" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.SocialMarketer.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Twitter" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Twitter.Api" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Twitter.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Social.Twitter.Client.Mvc" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.Applications" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.Components" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.Components.Guidance" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.Components.Web" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.ItemWebApi" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Speak.Web" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Update" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Web" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Xdb.Client" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Xdb.Component" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Xdb.Configuration" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Zip" version="8.2.170614" targetFramework="net461" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net461" />
  <package id="WebGrease" version="1.5.2" targetFramework="net461" />
  <package id="YUICompressor.NET" version="2.1.1.0" targetFramework="net461" />
</packages>