@model Sitecore.Speak.Components.Models.Common.Buttons.ButtonRenderingModel
@{
  Model.Class.Append("btn sc-button");

  Model.Class.Append("btn-" + Model.ButtonType.ToLower());

  Model.Class.AppendIf(string.IsNullOrEmpty(Model.Text), "noText");

  Model.Class.AppendIf(Model.IsFullWidth, "btn-full-width");

  Model.DataBind
    .IsVisible()
    .IsEnabled()
    .Css("btn-full-width","IsFullWidth")
    .Css("icon", "Icon()!=''") 
    .Click("handler");
}
<button @Model.HtmlAttributes type="button">
  <div data-bind="style: {'backgroundImage': IconUrl, 'backgroundPosition': SpritePosition}" class="sc-icon"></div>
  <span class="sc-button-text" data-bind="text:Text">@Model.Text</span>
</button>