/* APPLICATION */
[data-sc-id="Main"] .row [class^="col-md-"] {
    padding-left: 15px;
	padding-right: 0;
	margin-bottom: 15px
}

[data-sc-id="Main"] .row {
  padding-right: 15px;
}


.sc-ExperienceAnalyticsFilters [data-sc-id$=DateRangeFilter],
.sc-ExperienceAnalyticsFilters [data-sc-id$=SubsiteFilter] {
    position: absolute;
    z-index: 1005;
    right: 15px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.175);
}

.sc-ExperienceAnalyticsFilters .sc-border[data-sc-id$="ContentWrapper"] {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc-ExperienceAnalyticsFilters .sc-SubsiteFilter [data-sc-id$="DropDownWrapper"],
.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="DropDownWrapper"] {
    padding-top: 0;
}

.sc-ExperienceAnalyticsFilters [data-sc-id$="FilterToggleButton"],
.sc-ExperienceAnalyticsFilters [data-sc-id$="ResetButton"] {
    margin-left: 7px;
}

/* Subsite */
.sc-ExperienceAnalyticsFilters [data-sc-id$=SubsiteFilter] {
    right: 15px;
}

.sc-ExperienceAnalyticsFilters [data-sc-id$="SubsiteColumnPanel"] {
    line-height: 26px;
}

.sc-ExperienceAnalyticsFilters .sc-SubsiteFilter [data-sc-id$="ComboBox"] {
    margin-bottom: 15px;
}

.sc-ExperienceAnalyticsFilters .sc-SubsiteFilter [data-sc-id$="ControlsRow"] {
    padding-bottom: 0;
    padding-top: 0;
}

/* Date range */
.sc-ExperienceAnalyticsFilters [data-sc-id$=DateRangeFilter] {
    right: 112px;
}

.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="FromDatePickerLeftColumn"],
.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="ToDatePickerLeftColumn"] {
    line-height: 28px;
    white-space: nowrap;
}

.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="ExperienceAnalyticsFiltersDateRangeFilterFromDatePickerRightColumn"],
.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="ExperienceAnalyticsFiltersDateRangeFilterToDatePickerRightColumn"] {
    padding-left: 25px;
}

.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="FromDatePickerRow"] {
    margin-bottom: 15px;
}

.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter .sc-radiobutton {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="PresetsInnerRow"] {
    margin-left: 0;
}

.sc-ExperienceAnalyticsFilters .sc-DateRangeFilter [data-sc-id$="ButtonsColumn"] {
    text-align: right;
}

/* ChartComposites */
.sc-ChartComposites {
    background: #FFF;
    padding-bottom: 6px;
}

    .sc-ChartComposites .sc-image {
        cursor: pointer;
        margin-left: 5px;
    }

    .sc-ChartComposites .sc-chartControlsWrapper {
        float: right;
    }

    .sc-ChartComposites [data-sc-id$="BorderChart"] {
        padding: 0 8%;
    }

    .sc-ChartComposites [data-sc-id$="ActionControl"] {
        background: none;
        background-image: none;
    }

        .sc-ChartComposites [data-sc-id$="ActionControl"] .btn-default {
            background: none;
            background-image: none;
            border: none;
            border-radius: 0;
            height: 46px;
        }

            .sc-ChartComposites [data-sc-id$="ActionControl"] .btn-default:hover {
                background: #e3e3e3;
                box-shadow: none;
            }

            .sc-ChartComposites [data-sc-id$="ActionControl"] .btn-default:active {
                border: 0px;
                box-shadow: inset 0 0 6px #b0b0b0;
            }

    .sc-ChartComposites .sc-actionpanel ul.nav > li > .btn-group {
        padding-right: 0;
    }

    .sc-ChartComposites [data-sc-id$="ActionControl"] .btn-group .btn-default:disabled {
        background-color: #aadbee;
        box-shadow: none;
        opacity: 1;
    }

    .sc-ChartComposites .sc-advancedExpander-body.hide {
        display: block !important;
    }

    .sc-ChartComposites .sc-advancedExpander-footer {
        display: none;
    }

    .sc-ChartComposites .sc-advancedExpander-header {
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 18px;
    }

.sc-ExperienceAnalyticsListControl .sc-advancedExpander-header {
    border-bottom: 1px solid #f0f0f0;
}


.sc-ChartComposites .sc-advancedExpander .sc-advancedExpander-header > table .sc-advancedExpander-header-title,
.sc-ExperienceAnalyticsListControl .sc-advancedExpander .sc-advancedExpander-header > table .sc-advancedExpander-header-title {
    color: #474747;
    padding-left: 15px;
    font-size: 1.5em;
    font-weight: normal;
}

.sc-ExperienceAnalyticsListControl.noTitle .sc-advancedExpander .sc-advancedExpander-header {
    display: none;
}

.sc-ChartComposites .sc-advancedExpander.open .sc-advancedExpander-header,
.sc-ChartComposites .sc-advancedExpander .sc-advancedExpander-header,
.sc-ExperienceAnalyticsListControl .sc-advancedExpander.open .sc-advancedExpander-header,
.sc-ExperienceAnalyticsListControl .sc-advancedExpander .sc-advancedExpander-header {
    border-left: none;
}

    .sc-ChartComposites .sc-advancedExpander.open .sc-advancedExpander-header > table,
    .sc-ChartComposites .sc-advancedExpander .sc-advancedExpander-header > table,
    .sc-ExperienceAnalyticsListControl .sc-advancedExpander.open .sc-advancedExpander-header > table,
    .sc-ExperienceAnalyticsListControl .sc-advancedExpander .sc-advancedExpander-header > table {
        background: #FFF;
    }

.sc-ChartComposites .sc-advancedExpander-body,
.sc-ExperienceAnalyticsListControl .sc-advancedExpander-body {
    border: none;
    background: #FFF;
}

.sc-ChartComposites .sc-advancedExpander-bodywrapper {
    padding: 0 8%;
}

.sc-ChartComposites .sc-advancedExpander .sc-advancedExpander-header > table .sc-advancedExpander-header-actionbar-container {
    padding-right: 0;
}

/* List control specific */
.sc-ExperienceAnalyticsListControl[data-sc-targetpageurl] tbody tr {
    cursor: pointer;
}

.sc-ExperienceAnalyticsListControl.sc-ListControl-configurationError .sc-advancedExpander,
.sc-ExperienceAnalyticsListControl.sc-ListControl-configurationError .sc-advancedExpander .sc-advancedExpander-body {
    background: #ffffff;
}

.sc-ExperienceAnalyticsListControl .sc-advancedExpander,
.sc-ExperienceAnalyticsListControl .sc-advancedExpander .sc-advancedExpander-body {
    background: none;
}

/* Kpi chart */
.sc-ChartComposites .sc-noData {
    font-size: 10px !important;
    font-family: verdana !important;
    color: #666666 !important;
}

.sc-ChartComposites .sc-metricValue {
    font-size: 3em;
}
