<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!-- The Authentication checker check if user/visitor is authenticated both by the identity provider and by Sitecore-->
        <processor type="HMPPS.Authentication.Pipelines.AuthenticationChecker, HMPPS.Authentication" resolve="true"
                   patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" >
          <param type="HMPPS.Utilities.Services.UserDataService, HMPPS.Utilities" />
        </processor>

        <!-- The login redirector redirects the unauthenticated user/visitor to the login page on the identity provider -->
        <processor type="HMPPS.Authentication.Pipelines.LoginRedirector, HMPPS.Authentication"
                   patch:after="*[@type='HMPPS.Authentication.Pipelines.AuthenticationChecker, HMPPS.Authentication']" />

        <!-- The logout redirector handles any logout action needed -->
        <processor type="HMPPS.Authentication.Pipelines.LogoutRedirector, HMPPS.Authentication" resolve="true"
                   patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" >
          <param type="HMPPS.Utilities.Services.UserDataService, HMPPS.Utilities" />
        </processor>

        <!-- Callback for OAUTH2, logs in a virtual user on successful handshake -->
        <processor type="HMPPS.Authentication.Pipelines.OAuth2SignInCallback, HMPPS.Authentication" resolve="true"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" >
          <param type="HMPPS.Utilities.Services.UserDataService, HMPPS.Utilities" />
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
