/*RadSpell Inox skin*/

.RadSpell_Inox
{
    width:460px;
    height:310px;
    border:1px solid #999;
    background:url(Img/spellWinBack.gif) 0 29px repeat-x #c5cbd9;
}
.RadSpell_Inox .RichTextView,
.RadSpell_Inox textarea,
.RadSpell_Inox select,
.RadSpell_Inox .MainOptions
{
    margin-left:7px;
}
.RadSpell_Inox,
.RadSpell_Inox textarea,
.RadSpell_Inox select
{
    font:normal 10px/16px arial,sans-serif;
}
/*RadSpell headings start*/
.RadSpell_Inox h3,
.RadSpell_Inox h3 em
.RadSpell_Inox h3 span
{
    height:26px; /*the same as background images' height*/
    line-height:26px; /*may be different to vertically align the text inside the tab*/
}
.RadSpell_Inox h3
{
    margin:10px 15px 0;
    padding-left:5px; /*the same as spellHeadLeft.gif's width*/
    background:url(Img/spellHeadLeft.gif) 0 0 no-repeat;
    font-size:1.1em;
    overflow:hidden;
}
.RadSpell_Inox h3 em
{
    float:left;
    padding-right:5px; /*the same as spellHeadRight.gif's width*/
    background:url(Img/spellHeadRight.gif) 100% 0 no-repeat;
    font-style:normal;
}
.RadSpell_Inox h3 span
{
    float:left;
    padding:0 5px;
    background:url(Img/spellHeadMiddle.gif) 0 0 repeat-x;
}
.RadSpell_Inox h4
{
    margin-top:1em;
    padding-left:7px;
    font-size:1.1em;
    font-weight:normal;
}
/*RadSpell headings end*/

/*RadSpell text boxes start*/
.RadSpell_Inox .RichTextView,
.RadSpell_Inox textarea
{
    height:80px;
    border-width:1px;
    border-style:solid;
    border-color:#000 #b2b2b2 #b2b2b2 #000;
    background:#fff;
    font-size:1.1em;
}
.RadSpell_Inox textarea
{
    width:318px;/*this width + side padding = .RichTextView width + side padding*/
    padding:3px 5px 3px 3px;
}
.RadSpell_Inox .RichTextView
{
    width:320px;/*this width + side padding = textarea width + side padding*/
    padding:3px;
    font-family:tahoma,sans-serif;
    cursor:text;
}
.RadSpell_Inox .RichTextView strong
{
    color:#f00;
    text-decoration:underline
}
.RadSpell_Inox .RichTextView em
{
    font-style:normal;
    color:#000;
}
/*RadSpell text boxes end*/

/*RadSpell combobox start*/
.RadSpell_Inox select,
.RadSpell_Inox .MainOptions
{
    width:328px;/*2px more than .RichTextView width + side padding*/
}
.RadSpell_Inox select
{
    height:80px;
    font-size:1.1em;
}
/*the next two must be separate*/
/*IE 7 only*/
*:first-child+html .RadSpell_Inox select
{
    height:85px;/*5px more than select*/
}
/*IE 5-6 only*/
* html .RadSpell_Inox select
{
    height:85px;/*5px more than select*/
}
.RadSpell_Inox select option
{
    padding:1px 3px 0;
}
/*RadSpell combobox end*/

/*RadSpell buttons start*/
.RadSpell_Inox .SpellOptions li,
.RadSpell_Inox .SpellOptions a
{
    /*the same as background images' height*/
    height:22px;
    line-height:22px;
}
.RadSpell_Inox .SpellOptions li
{
    width:88px;
    text-align:center;
    font-size:1.1em;
}
.RadSpell_Inox .SpellOptions a
{
    color:#000;
    background:url(Img/spellButtonCombined.gif) 0 0 no-repeat;
    text-decoration:none;
}
.RadSpell_Inox .SpellOptions a:hover
{
    background-position:0 -22px; /*the same as background images' height*/
}
.RadSpell_Inox .MainOptions
{
    margin-top:10px;
}
.RadSpell_Inox .MainOptions li
{
    float:right;
    margin-left:10px;
}
.RadSpell_Inox .AuxOptions
{
    float:right;
    width:105px;
    margin-top:20px;
}
.RadSpell_Inox .AuxOptions li
{
    margin-top:8px;
}
.RadSpell_Inox a.disabled
{
    color:#999;
    font-weight:bold;
}
.RadSpell_Inox .SpellOptions a.disabled:hover
{
    background-position:0 0;
}
/*RadSpell buttons end*/

