@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ListPath";
  rendering.Requires.Script("listmanager", "ListPath.js");
  rendering.Requires.Css("listmanager", "ListPath.css");

  var rootName = rendering.GetString("RootName", "RootName");
  rendering.SetAttribute("data-sc-rootName", rootName);

  var htmlAttributes = rendering.HtmlAttributes;
}
<div @htmlAttributes>
  <ul data-bind="foreach: Items">
    <li>
      <a href="#" data-bind="text: Name, click: $parent.itemClick"></a>
    </li>
  </ul>
</div>
