<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-cms-devtest-sqlserver.database.windows.net,1433;Initial Catalog=devtest-sc-db-core;User Id=cmcoreuser;Password=zqiqlemssqppgDZHJAV6L7KLEWddh4wvcrj43aw;" />
  <add name="master" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-cms-devtest-sqlserver.database.windows.net,1433;Initial Catalog=devtest-sc-db-master;User Id=cmmasteruser;Password=tiwsh4xb6pdwuJOTN3AR5RCIEU2m7rbsywk2ttk;" />
  <add name="web" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-cms-devtest-sqlserver.database.windows.net,1433;Initial Catalog=devtest-sc-db-web;User Id=cmwebuser;Password=7tbrpxo66cvgqDJP7BE4XYIB6Gs3alulxyvodfs;" />
  <add name="cloud.search" connectionString="serviceUrl=https://dp-cms-devtest-search.search.windows.net;apiVersion=2015-02-28-preview;apiKey=5BFD1F81FB8F178229F5053945D93BD1" />
  <add name="appinsights.instrumentationkey" connectionString="75d4e428-602b-4dd3-98e5-8ac61f71e777" />
</connectionStrings>