@using Sitecore.Mvc
<header class="sc-applicationHeader">
  @Html.Sitecore().Placeholder("ApplicationHeader")
</header>
<div class="row sc-contentRowFix">
  <section class="col-md-9 sc-applicationContent-main">
    @Html.Sitecore().Placeholder("ApplicationContent.Main")
  </section>

  <aside class="col-md-3 sc-applicationContent-info">
    @Html.Sitecore().Placeholder("ApplicationContent.Info")
  </aside>
</div>