@using Sitecore.Mvc
<div class="sc-navigation-wrapper">
  <nav class="sc-applicationContent-navigation sc-navigation-menu">
    @Html.Sitecore().Placeholder("ApplicationContent.Navigation")
  </nav>
  <div class="sc-navigation-content">
    <header class="sc-applicationHeader">
      @Html.Sitecore().Placeholder("ApplicationHeader")
    </header>
    <section class="sc-applicationContent-main">
      @Html.Sitecore().Placeholder("ApplicationContent.Main")
    </section>
  </div>
</div>