@using Sitecore
@model Sitecore.Speak.Components.Models.Containers.Popovers.PopoverRenderingModel
@{
  Model.Class.Append("sc-popover");
}
<div style="display:none">
  <div @Model.HtmlAttributes>
    @Html.Raw(ClientHost.Web.PlaceHolder(Model.Id + ".Content").ToHtmlString())
  </div>
</div>