<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <processors>
            <uiUpload>
                <processor mode="on" type="Sitecore.Pipelines.Upload.CheckExtension, Sitecore.UploadFilter" patch:before="*[1]">
                    <param desc="Allowed extensions (comma separated)"></param>
                    <param desc="Blocked extensions (comma separated)">exe,dll</param>
                </processor>                
            </uiUpload>
        </processors>       
    </sitecore>    
</configuration>