<div class="sc-tile-default" >
  <div class="sc-tile-default-property">        
    <span class="sc-tile-property-title" >Database: </span><span class="sc-tile-property-value" data-bind="text: $database"></span>
  </div>
  <div class="sc-tile-default-property">        
    <span class="sc-tile-property-title" >DisplayName: </span><span class="sc-tile-property-value" data-bind="text: $displayName"></span>
  </div>
  <div class="sc-tile-default-property">        
    <span class="sc-tile-property-title" >Path: </span><span class="sc-tile-property-value" data-bind="text: $path, attr: {title: $path}"></span>
  </div>
  <div class="sc-tile-default-property">        
    <span class="sc-tile-property-title" >TemplateName: </span><span class="sc-tile-property-value" data-bind="text: $templateName"></span>
  </div>
</div>