div[data-sc-id=ChannelRowPanel] {
  padding-top: 15px;
}

div[data-sc-id=InteractionDistributionColumnPanel] .sc-FusionChartsDoughnutChart,
div[data-sc-id=GoalDistributionColumnPanel] .sc-FusionChartsDoughnutChart {
  display: inline-block;
}

div[data-sc-id=ChannelRowPanel] span {
  display: inline-block;
  width: 100%;
}

div[data-sc-id=SummaryEdvancedExpander] {
  margin-top: 30px;
}

div.sc-advancedExpander[data-sc-id=SummaryEdvancedExpander] .sc-advancedExpander-body
{
  border: none;
}

