@using System.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  var data = userControl.GetString("Data", "data");
  var cssClass = "sc-ValueLabel";
  userControl.Requires.Script("business", "ValueLabel.js");

  var value = userControl.GetDouble("Value", "value");
  var label = userControl.GetString("Label", "label");
  var valueSize = userControl.GetString("ValueSize", "valueSize", "Normal");
  var labelSize = userControl.GetString("LabelSize", "labelSize", "Normal");
  var valueColor = userControl.GetString("ValueColor", "valueColor");
  var labelColor = userControl.GetString("LabelColor", "labelColor");
  var dataFunction = userControl.GetString("DataFunction", "dataFunction");
  var dataField = userControl.GetString("DataField", "dataField");
  var labelPosition = userControl.GetString("LabelPosition", "labelPosition", "Bottom");

  var language = Sitecore.Context.Culture.TwoLetterISOLanguageName;

  userControl.Attributes["data-sc-value"] = value.ToString(CultureInfo.InvariantCulture);
  userControl.Attributes["data-sc-label"] = label;
  userControl.Attributes["data-sc-valuesize"] = valueSize;
  userControl.Attributes["data-sc-labelsize"] = labelSize;
  userControl.Attributes["data-sc-valuecolor"] = valueColor;
  userControl.Attributes["data-sc-labelcolor"] = labelColor;
  userControl.Attributes["data-sc-datafunction"] = dataFunction;
  userControl.Attributes["data-sc-datafield"] = dataField;
  userControl.Attributes["data-sc-labelposition"] = labelPosition;
  userControl.Attributes["data-sc-language"] = language;

  userControl.AppendClass(cssClass);
  var htmlAttributes = userControl.HtmlAttributes;

}

<div @htmlAttributes>
  <div class="sc-ValueLabel-Row">
    @if (labelPosition == "Top")
    {
      <div class="sc-ValueLabel-Cell sc-@labelPosition">
        <div class="sc-ValueLabel-Label sc-ValueLabel-@labelSize" data-bind="html: label, style: { color: labelColor }"></div>
      </div>
      <div class="sc-ValueLabel-Cell sc-@labelPosition">
        <div class="sc-ValueLabel-Value sc-ValueLabel-@valueSize" data-bind="html: value, style: { color: valueColor }"></div>
      </div>
    }
    else
    {
      <div class="sc-ValueLabel-Cell sc-@labelPosition">
        <div class="sc-ValueLabel-Value sc-ValueLabel-@valueSize" data-bind="html: value, style: { color: valueColor }"></div>
      </div>
      <div class="sc-ValueLabel-Cell sc-@labelPosition">
        <div class="sc-ValueLabel-Label sc-ValueLabel-@labelSize" data-bind="html: label, style: { color: labelColor }"></div>
      </div>
    }
  </div>
</div>