<?xml version="1.0" ?>
<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/">

    <sitecore>

        <settings>
            <setting name="ContentSearch.Analytics.IndexAnonymousContacts">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
        </settings>

    </sitecore>

</configuration>
