<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/default.html</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/default.html</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/default.html</patch:attribute>
      </setting>
      <setting name="NoAccessUrl">
        <patch:attribute name="value">/default.html</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
