@{
  var url = "";
}
<div class="ci-bars" data-bind="if: isVisible" >
  <div class="ci-bars-item">
    <span class="ci-progress-bar-name ci-bold" data-bind="text:patternName"></span>
    <div class="ci-progress">
      <div data-bind="style: { width: patternPercentage() + '%' }" class="ci-progress-bar ci-progress-bar-best">
      </div><span class="ci-progress-bar-label" data-bind="text:patternPercentage()+'%'"></span>
    </div>
  </div>
  <div class="ci-bars-separator" data-bind="text:otherPatternMatches"></div>
  <div data-bind="foreach: bars">
    <div class="ci-bars-item">
      <span class="ci-progress-bar-name" data-bind="text:name"></span>
      <div class="ci-progress">
        <div data-bind="style: { width: percent + '%' }" class="ci-progress-bar ci-progress-bar-other">
        </div><span class="ci-progress-bar-label" data-bind="text:percent+'%'"></span>
      </div>
    </div>
  </div>
</div>

