<div data-bind="if: isVisible">
  <div class="ci-legend" data-bind="foreach: categories">
    <div>
      <span data-bind="text:categoryName"></span>
      <span class="ci-value" data-bind="text:categoryValue"></span>
    </div>
  </div>     
</div>
