/* ----------------------- Css classes for the fixed toolbar---------------------------------*/
.RadEFixedToolbarHolderMozilla
{
	border: solid 1px #808080;
	width: 100%;	
	background-color: #ece9d8;	
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	text-align: left;
	z-index: 10000;
}

.RadEFixedToolbarHolderIE {
	/* IE5.5+/Win */
	position: absolute;
	left: expression( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft  + 'px');
	top: expression(  ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop  + 'px');
	background-color: #ece9d8;
	border: solid 1px #808080;
	width: 100%;
	text-align: left;
	z-index: 51200;
}

/* ----------------------- Css classes for the relative toolbar---------------------------------*/
.RadERelativeToolbarHolder {
	position: absolute;
	background-color: #ece9d8;
	border: 1px solid #808080;
	text-align: left;
	z-index: 10000;
}

.RadEToolText
{	
	font: normal 11px Tahoma;
}

.RadEToolDown
{
	border-top: solid 1px #808080;	
	border-left: solid 1px #808080;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	font: normal 11px Tahoma;
	white-space: nowrap;
	height: 22px;
}

.RadEToolOn
{
	border: solid 1px #316ac5;
	background-color: #ccdaf0;
	font: normal 11px Tahoma;	
	height: 22px;
}

.RadEToolOnOver
{
	border: solid 1px #316ac5;
	background-color: #ccdaf0;
	font: normal 11px Tahoma;	
	height: 22px;
}

button.RadEXhtmlButton,
input.RadEXhtmlButton
{
	border-top: solid 1px #fff !important;
	border-right: solid 1px #ccc8c0 !important;
	border-bottom: solid 1px #ccc8c0 !important;
	border-left: solid 1px #fff !important;
	height: 20px !important;
	width: auto !important;
	background-color: #f5f3ea !important;
	font-size: 11px !important;
	font-weight: normal !important;
	vertical-align: top !important;
}

.RadEModule select, .RadEModule input
{
	vertical-align: middle !important;
}

.RadEToolOff
{
	font: normal 11px Tahoma;		
	margin: 1px;
}

.RadEToolOffOver
{
	border: solid 1px #316ac5;
	background-color: #ccdaf0;
	font: normal 11px Tahoma;		
}

.RadEToolDisabled
{
	filter: alpha(opacity=30);
	-moz-opacity: 0.5;
	margin: 1px;
}

.RadEToolLongOff
{		
	font: normal 11px Tahoma;	
	height: 22px;
	margin: 1px;
}

.RadEToolLongOn
{
	border: solid 1px #316ac5;
	background-color: #ccdaf0;
	font: normal 11px Tahoma;	
	height: 22px;
}

.RadEToolLongOnOver,.RadEToolLongOffOver
{
	border: solid 1px #316ac5;
	background-color: #ccdaf0;
	font: normal 11px Tahoma;	
	height: 22px;
}

.RadEToolLongDisabled
{
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	margin: 1px;
}

.RadEModuleTable
{	
	background-color: #F5F3EA;
	font: normal 11px Tahoma;	
	color: #333333;
	border: solid 1px #CCC8C0;
	border-top: solid 1px #fff;
	text-align: left;
}

.RadEModule
{	
	color: #333333;
	width: 100%;
	height: 100%;
	padding: 3px;
}

.RadEModule .MainTable
{
	font: normal 11px Tahoma;
	margin: 0px -3px 0px -5px;
}


A.DomPathLink, A.DomPathLink:visited, A.DomPathLink:active, A.DomPathLink:link
{
	text-decoration: underline;		
	font: normal 11px Tahoma;
	padding: 1px 2px 1px 2px;	
	color: #3333cc;
}

A.DomPathLink:hover
{	
	background-color: #fff;
}

A.DomPathLinkSelected
{
	padding: 0px 2px 0px 2px; 
	text-decoration: none;
	border: solid 1px #C4D5E4;
	background-color: white;
	font: normal 11px Tahoma;
	font-weight: bold;
	color: #333;
}

.RadEToggleButton
{ 
	margin: 1px; 
	border: 0px;
	text-align: center; 
	width: 24px;
	height: 24px;
	background-image: none; /* Jan 04 2006 Edit */
	background-color: transparent;
}

.RadEToggleButtonPressed
{ 
	border: solid 1px #316ac5;
	background-image: none; /* Jan 04 2006 Edit */
	background-color: #f5f3ea; /* Jan 04 2006 Edit. Old value was: background-color: #ccdaf0; */
	text-align: center; 
	width: 24px;
	height: 24px;
}

/* RadEditor Styles */
.RadEDialogLoad
{	
	border: solid 1px #222222;
	background-color: #222222;
	color: #bbbbbb;
	padding: 3px;
	font-family: Courier New;
	font-size: 9pt;
	overflow-y: auto; 		
}  
 
/* Table wrapper and DOCKING ZONES classes */
.RadEToolbarWrapper
{
	border: solid 1px #CAC3B1;
	background-color: #ece9d8;
}

TABLE.RadEWrapper
{
	border: solid 1px #CAC3B1;
	background-color: #ece9d8;
	/*padding: 3px;
	padding-left: 0px;*/
	padding: 0; /* wysiwyg - code mode height decrease fix */
}

.RadEWrapper .RadEVerticalDockingZone
{	
	font-size: 0px;
	width: 1px;
}

.RadEWrapper .RadEDockingZone
{
	font-size: 0px;	
}

TD.RadEContentContainer
{
	border: solid 1px #CAC3B1;	
}

/* NEW */
.RadETitleGrip
{
	background-image: URL(CssImg/draggedToolbarTitleBg.gif);
	height: 18px;
	border-top: solid 1px #475974;
	color: #fff;
	font-weight: bold;
}

.RadESideGripHorizontal
{
	background-image: url(CssImg/dragHandle.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 10px;
}

.RadESideGripVertical
{
	background-image: url(CssImg/dragHandleVertical.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 10px;
}

.RadEToolbar 
{
	font: normal 11px Tahoma;	
	height: 25px;
	background-color: #ece9d8;
}

.RadEToolbarVertical 
{
	font: normal 11px Tahoma;
	width: 25px;
	background-color: #ece9d8;
}

.RadAutoDockButton
{
	cursor: hand;
	cursor: pointer;
	background-image: url(CssImg/AutoDockButton.gif);
	background-repeat: no-repeat;
	width: 8px;	
	height: 9px;
	float: right;
	margin-right: 3px;
	border: 0px;
}

/* --------- end Docking styles ----------------------------------- */

td.RadEDropDownHolder
{
	padding: 1px;
	text-align: left;
}

/*------------------ IMG size classes ----------------------------*/
td.RadEDropDownHolder img
{	
	width: 13px;
	height: 18px;		
}


.RadESeparator 
{
	width: 3px;
	font-size: 3px;	
	background-image: url(CssImg/Separator.gif);
	background-position: center;
	background-repeat: no-repeat;
	padding-right: 1px;
    padding-left: 1px;
}


.RadESeparatorHorizontal
{
	font-size: 1px;
	height: 3px;	
	background-image: url(CssImg/SeparatorHorizontal.gif);
	background-position: center;
	background-repeat: no-repeat;
}
/*----------------- Editor additional HTML objects' styles */
.RadEErrorMessage 
{
	color: red;
	font: normal 11px Tahoma;
	/* background-color: #fff; */
	text-align: left;
	margin: 3px;
}

TD.RadECheckBoxText
{
	font: normal 12px Tahoma;
	color: #919191;
} 

TEXTAREA.RadETextArea 
{
	border: #808080 1px solid;
	font: normal 11px MS Sans Seriff;
	background-color: white;
	color: #000080;
} 

INPUT.RadETextBox
{
	padding-left:2px;
	border: 1px solid #4D6185; 
	font: menu;
	font-size: 12px; 
	margin:1px;	 
}

SELECT.RadEDropDown
{
	FONT-FAMILY: Tahoma;
	padding-left:2px;
	font-size:11px;
	margin:2px;
}

INPUT.RadEButton, BUTTON.RadEButton
{
	border: 0px; 
	margin: 3px; 
	width: 78px; 
	font-family: Arial; 
	height: 20px;
	color: #45330A;
	background-image: url(CssImg/button.gif);
	background-color: Transparent;
	text-align: center; 
	line-height: 19px;
}

/* ------------------------- Editor Dropdown "Header" Styles ---------------------------------*/
.RadEDropDownOff
{
	cursor: default;
	background-color: #FFF;
	border: solid 1px #dedccd;
	font: normal 11px Tahoma;	
}

.RadEDropDownOn, .RadEDropDownOn, .RadEDropDownOffOver
{
	cursor: default;
	background-color: #fff;
	border: solid 1px #316ac5;
	font: normal 11px Tahoma;	
}

.RadEDropDownDisabled
{
	cursor: default;
	background-color: white;
	border: solid 1px white;
	font: normal 11px Tahoma;
	color: #808080;
	cursor: no-drop !important;
}

.RadEDropDownDisabled img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
}

/* Table Wrapper related styles */
.RadETableWrapperResizeSpan
{
	cursor: default;	
	border: solid 3px #ccc;
}

.RadETableWrapper
{
	border: solid 1px #979797;
	border-top: solid 1px #696969;
	background-color: #e6e0c9;
	border-bottom: 0;
	font-size: 0px;
}

.RadETableWrapperHeaderLeft 
{
	background: url(CssImg/DialogueHeaderLeft.gif); 
	width: 9px;
} 
.RadETableWrapperHeaderCenter 
{		
	text-align: left;
	height: 27px;
	font-family: Tahoma;	
	color: #fff;
	background: url(CssImg/dialogueHeaderCenter.gif); 
	background-repeat: repeat-x;
} 
.RadETableWrapperHeaderRight 
{
	background-color: #ACC2E7;
	width: 1px;
} 

.RadETableWrapperBodyLeft 
{
	width: 0px;
} 
.RadETableWrapperBodyCenter 
{	
	width: 100%;
	height: 100%;
} 
.RadETableWrapperBodyRight 
{
	width: 0px;
} 

.RadETableWrapperFooterLeft 
{
	background-repeat: no-repeat; 
	height: 13px;
	font-size: 0px;
	width: 0px;
} 

.RadETableWrapperFooterCenter 
{
	width: 100%;
	height: 13px;
	font-size: 0px;
	line-height: 0px;
} 
.RadETableWrapperFooterRight 
{
	font-size: 0px;
	width: 14px;
	height: 13px;
	line-height: 0px;
	cursor: nw-resize;
	background-image: url(CssImg/footerResize.gif);
	background-repeat: no-repeat;
} 

.RadETableWrapperFooterRightOver 
{
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	cursor: nw-resize;
}

.RadERadWindowHeader
{
	font-family: Microsoft Sans Serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	height: 27px;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 10px;	
	cursor: default;	
	width: 100%;
	display: inline;
}

.RadERadWindowButtonClose
{
	cursor: hand;
	cursor: pointer;
	background-image: url(CssImg/dialogueHeaderClose.gif);
	width: 19px;	
	height: 27px;
	display: block;
}

.RadERadWindowButtonPinOff
{
	cursor: hand;
	cursor: pointer; /* if Mozilla */
	background-image: url(CssImg/dialogueHeaderPinOff.gif);
	width: 16px;	
	height: 27px;
	display: block;
}
.RadERadWindowButtonPinOn
{
	cursor: hand;
	cursor: pointer; /* if Mozilla */
	background-image: url(CssImg/dialogueHeaderPinOn.gif);
	width: 16px;	
	height: 27px;
	display: block;
}

/* RIBBON BAR-RELATED STYLES BEGIN */
.RadERibbon 
{
	border: solid 1px #cac3b1;
	margin-right: 1px;
	margin-bottom: 1px;
}

.RadERibbon .RadAutoDockButton
{
	cursor: default;
	margin-top: 1px;
}

.RadERibbon .RadETitleGrip 
{
	font: normal 11px Arial, Verdana, Sans-serif;
	cursor: default;
	border: 0px;
	height: 11px;
	border-top: solid 1px #cac3b1;
}

.RadERibbon .RadEToolbar
{
	border: 0px;
}
/* RIBBON BAR-RELATED STYLES END */