/* Table Wrapper related styles (i.e. dialog window) */
.RadETableWrapperResizeSpan
{
	cursor : default;
	border : 3px solid #ccc;
}

.RadETableWrapper
{
	border: solid 2px #8db2e3;
	background: #d5e4f2;
	font-size: 0px;
}

.RadETableWrapperHeaderLeft
{
	background: url('CssImg/dialogueHeaderLeft.gif') no-repeat;
	width: 3px;
	height: 18px;
}

.RadETableWrapperHeaderCenter
{
	text-align: left;
	height: 18px;
	background: url('CssImg/dialogueHeaderCenter.gif') repeat-x;
}

.RadETableWrapperHeaderRight
{
	width: 3px;
	height: 18px;
	background: url('CssImg/dialogueHeaderRight.gif') no-repeat;
}

.RadETableWrapperBodyLeft
{
	display: none;
}

.RadETableWrapperBodyCenter
{
	width: 100%;
	height: 100%;
}

.RadETableWrapperBodyRight
{
	display: none;
}

.RadETableWrapperFooterLeft
{
	background-repeat: no-repeat;
	height: 13px;
	font-size: 0px;
	width: 0px;
	border-bottom: 1px solid #B4B4B4;
}

.RadETableWrapperFooterCenter
{
	width:100%;
	height: 13px;
	font-size: 0px;
	line-height:0px;
	border-bottom: 1px solid #B4B4B4;
}

.RadETableWrapperFooterRight
{
	font-size: 0px;
	width: 14px;
	height: 13px;
	line-height: 0px;
	cursor: nw-resize;
	background: url('CssImg/footerResize.gif') no-repeat;
	border-bottom: solid 1px #B4B4B4;
}

.RadETableWrapperFooterRightOver
{
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	cursor: nw-resize;
}

.RadERadWindowHeader
{
	font: bold 11px Arial, Verdana, Sans-serif;
	color: #154a93;
	vertical-align: middle;
	padding-left: 4px;
	cursor: default;
	width: 100%;
	display: inline;
}

.RadERadWindowButtonClose
{
	cursor: hand;
	cursor: pointer;
	background: transparent url(CssImg/dialogueHeaderClose.gif) no-repeat;
	width: 14px;
	height: 18px;
	display: block;
}

.RadERadWindowButtonPinOff
{
	cursor: hand;
	cursor: pointer;
	background: transparent url(CssImg/dialogueHeaderPinOff.gif) no-repeat;
	width: 14px;
	height: 18px;
	display:block;
}

.RadERadWindowButtonPinOn
{
	cursor: hand;
	cursor: pointer;
	background: transparent url(CssImg/dialogueHeaderPinOn.gif) no-repeat;
	width: 14px;
	height: 18px;
	display:block;
}