/* r.a.d.spell Microsoft Office 12 skin - Main.css */

.RadETableWrapperResizeSpan
{
	cursor: default;	
	border: solid 3px #ccc;
}

.RadETableWrapper
{
	border: solid 1px #979797;
	border-top: solid 1px #696969;
	background: #c5cbd9;
	font-size: 0px;
}

.RadETableWrapperHeaderLeft 
{
	background: url('CssImg/dialogueHeaderCenter.gif') repeat-x;
	width: 1px;
}

.RadETableWrapperHeaderCenter 
{		
	text-align: left;
	height: 17px;
	font-family: Tahoma;	
	color: white;
	background: url('CssImg/dialogueHeaderCenter.gif') repeat-x;
} 

.RadETableWrapperHeaderRight 
{
	background: url('CssImg/dialogueHeaderCenter.gif') repeat-x;
	width: 1px;
} 

.RadETableWrapperBodyLeft 
{
	width: 0px;
}

.RadETableWrapperBodyCenter 
{	
	width: 100%;
	height: 100%;
}
 
.RadETableWrapperBodyRight 
{
	width: 0px;
} 

.RadETableWrapperFooterLeft 
{
	background: no-repeat; 
	height: 13px;
	font-size: 0px;
	width: 0px;
	border-bottom: solid 1px #B4B4B4;
} 

.RadETableWrapperFooterCenter 
{
	width: 100%;
	height: 13px;
	font-size: 0px;
	line-height: 0px;
	border-bottom: solid 1px #B4B4B4;
} 

.RadETableWrapperFooterRight 
{
	font-size: 0px;
	width: 14px;
	height: 13px;
	line-height:0px;
	cursor: nw-resize;
	background: url('CssImg/footerResize.gif') no-repeat;
	border-bottom: solid 1px #B4B4B4;
} 

.RadETableWrapperFooterRightOver 
{
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	cursor: nw-resize;
}

.RadERadWindowHeader
{
	font: bold 11px "Microsoft Sans Serif";
	color: white;
	height: 17px;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 10px;	
	cursor: default;	
	width: 100%;
	display: inline;
}

.RadERadWindowButtonClose,
.RadERadWindowButtonPinOff,
.RadERadWindowButtonPinOn
{
	cursor: hand;
	cursor: pointer;
	width: 13px;	
	height: 17px;
	display: block;
}

.RadERadWindowButtonClose
{
	background: url('CssImg/dialogueHeaderClose.gif');
}

.RadERadWindowButtonPinOff
{
	background: url('CssImg/AutoDockButton.gif');
}

.RadERadWindowButtonPinOn
{
	background: url('CssImg/AutoDockButton.gif');
}