@model Sitecore.Speak.Components.Models.Common.Sliders.SliderRenderingModel
@{
  Model.Class.Append("sc-slider").AppendIf(Model.IsSelectedBarTransparent, "transparentSelection").AppendIf(Model.IsLabelVisible, "sc-has-titlebar");
  
  Model.DataBind.IsVisible().IsEnabled();
}
<div @Model.HtmlAttributes>  
  @{
    if (Model.IsLabelVisible)
    {
      <div class="titleBar"></div>      
    }
  }
  <input class="sliderControl" type="text" data-slider-tooltip="show" style="display: none;">
</div>