@model Sitecore.Speak.Components.Models.Common.CheckBoxes.CheckBoxRenderingModel
@{
  Model.Class.Append("sc-checkbox");
  Model.DataBind
    .IsVisible()
    .IsEnabled()
    .Bind("attr", "{title: Tooltip()}");
}
<label @Model.HtmlAttributes>
  <input data-bind="enable: IsEnabled, checked: IsChecked, value:Value, title: Tooltip" value="@Model.Value" type="checkbox" title="@Model.Tooltip" >
  <span data-bind="text: Label">@Model.Label</span>
</label>