<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<add name="core" connectionString="#{sqlCore}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  <add name="master" connectionString="#{sqlMaster}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  <add name="web" connectionString="#{sqlWeb}#" />
  <add name="analytics" connectionString="#{mongoAnalytics}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  <add name="tracking.live" connectionString="#{mongoLive}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  <add name="tracking.contact" connectionString="#{mongoContact}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  <add name="reporting.apikey" connectionString="#{reportingKey}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  <add name="cloud.search" connectionString="#{search}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  <add name="appinsights.instrumentationkey" connectionString="#{aikey}#" xdt:Locator="Match(name)" xdt:Transform="Replace"/>-->
  <add name="core" xdt:Locator="Match(name)" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-dev-core;User Id=cdcoreuser;Password=qu2si7ff2jsvw37PKX6OOBTEPKtopghbtoetlrg;" xdt:Transform="Replace" />
  <add name="web" xdt:Locator="Match(name)" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-dev-web;User Id=cdwebuser;Password=qprzkvw4ipgus6GLK5ADZETBNKixxxxrj7adnii;" xdt:Transform="Replace" />
  <add name="redis.sessions" connectionString="dp-hub-devtest-redis-dev.redis.cache.windows.net:6380,password=SPdqqktmDgf5t3RGa8XotRhvhskGU0CUsLsgkbTgFP8=,ssl=True,abortConnect=False" xdt:Transform="Replace" xdt:Locator="Condition([(@name='master')])" />
  <add name="reporting.apikey" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  <add name="analytics" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="mongodb://dp-hub-devtest-dev:tH3JmJ63st1aRGSxmpnKLRZJq434JjlLYm7ipFfJzSv3go6EzXhvNWSHLfer8VUxPkmzvW8A4zXBJ9xYPqFjKA==@dp-hub-devtest-dev.documents.azure.com:10255/analytics?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.live" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="mongodb://dp-hub-devtest-dev:tH3JmJ63st1aRGSxmpnKLRZJq434JjlLYm7ipFfJzSv3go6EzXhvNWSHLfer8VUxPkmzvW8A4zXBJ9xYPqFjKA==@dp-hub-devtest-dev.documents.azure.com:10255/live?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.contact" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="mongodb://dp-hub-devtest-dev:tH3JmJ63st1aRGSxmpnKLRZJq434JjlLYm7ipFfJzSv3go6EzXhvNWSHLfer8VUxPkmzvW8A4zXBJ9xYPqFjKA==@dp-hub-devtest-dev.documents.azure.com:10255/contact?ssl=true&amp;replicaSet=globaldb" />
  <add name="cloud.search" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="serviceUrl=https://dp-hub-devtest-search-dev.search.windows.net;apiVersion=2015-02-28-preview;apiKey=A5D5418EEDC7EE134250904548721E81" />
  <add name="appinsights.instrumentationkey" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="24ff4e9a-1d01-4e7d-a9f8-0b2dd68497c5" />
</connectionStrings>
