<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-dev-core;User Id=cmcoreuser;Password=bkkzvcraf2h5yFK7A6YHW5FYKO4j36luzf3sdx6;" />
  <add name="master" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-dev-master;User Id=cmmasteruser;Password=cftl6stugqusi2CGRXA6OMIYF4bgreuxlp5v47u;" />
  <add name="web" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-dev-web;User Id=cmwebuser;Password=qcnvr6wcfumxuBL3B54CX4AXRI7ynnoipwmsb64;" />
  <add name="analytics" connectionString="mongodb://dp-hub-devtest-dev:tH3JmJ63st1aRGSxmpnKLRZJq434JjlLYm7ipFfJzSv3go6EzXhvNWSHLfer8VUxPkmzvW8A4zXBJ9xYPqFjKA==@dp-hub-devtest-dev.documents.azure.com:10255/analytics?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.live" connectionString="mongodb://dp-hub-devtest-dev:tH3JmJ63st1aRGSxmpnKLRZJq434JjlLYm7ipFfJzSv3go6EzXhvNWSHLfer8VUxPkmzvW8A4zXBJ9xYPqFjKA==@dp-hub-devtest-dev.documents.azure.com:10255/live?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.contact" connectionString="mongodb://dp-hub-devtest-dev:tH3JmJ63st1aRGSxmpnKLRZJq434JjlLYm7ipFfJzSv3go6EzXhvNWSHLfer8VUxPkmzvW8A4zXBJ9xYPqFjKA==@dp-hub-devtest-dev.documents.azure.com:10255/contact?ssl=true&amp;replicaSet=globaldb" />
  <add name="reporting.apikey" connectionString="qa74bwg8coe5x1yk8pqhy74x29vpd03a" />
  <add name="cloud.search" connectionString="serviceUrl=https://dp-hub-devtest-search-dev.search.windows.net;apiVersion=2015-02-28-preview;apiKey=A5D5418EEDC7EE134250904548721E81" />
  <add name="appinsights.instrumentationkey" connectionString="24ff4e9a-1d01-4e7d-a9f8-0b2dd68497c5" />
</connectionStrings>
