<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=#{sqlserver}#,1433;Initial Catalog=dp-hub-test-core;User Id=cmcoreuser;Password=#{cmcoreuserpassword}#;" />
  <add name="master" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=#{sqlserver}#,1433;Initial Catalog=dp-hub-test-master;User Id=cmmasteruser;Password=#{cmmasteruserpassword}#;" />
  <add name="web" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=#{sqlserver}#,1433;Initial Catalog=dp-hub-test-web;User Id=cmwebuser;Password=#{cmwebuserpassword}#;" />
  <add name="analytics" connectionString="mongodb://#{mongoserver}#:10255/analytics?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.live" connectionString="mongodb://#{mongoserver}#:10255/live?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.contact" connectionString="mongodb://#{mongoserver}#:10255/contact?ssl=true&amp;replicaSet=globaldb" />
  <add name="reporting.apikey" connectionString="#{reportingapikey}#" />
  <add name="cloud.search" connectionString="serviceUrl=https://#{searchserver}#;apiVersion=2015-02-28-preview;apiKey=#{searchkey}#" />
  <add name="appinsights.instrumentationkey" connectionString="#{aikey}#" />
</connectionStrings>
