<?xml version="1.0" encoding="utf-16"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" xdt:Locator="Match(name)" connectionString="#{Hub-CoreConnectionString}#" xdt:Transform="SetAttributes(connectionString)" />
  <add name="web" xdt:Locator="Match(name)" connectionString="#{sqlWeb}#" xdt:Transform="SetAttributes(connectionString)" />
  <add name="analytics" xdt:Locator="Match(name)" connectionString="#{Hub-MongoAnalyticsConnectionString}#" xdt:Transform="SetAttributes(connectionString)" />
  <add name="tracking.live" xdt:Locator="Match(name)" connectionString="#{Hub-MongoLiveConnectionString}#" xdt:Transform="SetAttributes(connectionString)" />
  <add name="tracking.contact" xdt:Locator="Match(name)" connectionString="#{Hub-MongoContactConnectionString}#" xdt:Transform="SetAttributes(connectionString)" />
  <add name="cloud.search" xdt:Locator="Match(name)" connectionString="#{Hub-SearchConnectionString}#" xdt:Transform="SetAttributes(connectionString)" />
  <add name="appinsights.instrumentationkey" xdt:Locator="Match(name)" connectionString="#{Hub-AppInsightKey}#" xdt:Transform="SetAttributes(connectionString)" />
  <add name="redis.sessions" connectionString="#{Hub-RedisConnectionString}#" xdt:Transform="Replace" xdt:Locator="Condition([(@name='master')])" />
  <add name="reporting.apikey" xdt:Locator="Match(name)" xdt:Transform="Remove" />
</connectionStrings>
