<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="#{sqlCore}#" />
  <add name="master" connectionString="#{sqlMaster}#" />
  <add name="web" connectionString="#{sqlWeb}#" />
  <add name="analytics" connectionString="#{mongoAnalytics}#" />
  <add name="tracking.live" connectionString="#{mongoLive}#" />
  <add name="tracking.contact" connectionString="#{mongoContact}#" />
  <add name="reporting.apikey" connectionString="#{reportingKey}#" />
  <add name="cloud.search" connectionString="#{search}#" />
  <add name="appinsights.instrumentationkey" connectionString="#{aikey}#" />
</connectionStrings>
