<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-test-core;User Id=cmcoreuser;Password=bkkzvcraf2h5yFK7A6YHW5FYKO4j36luzf3sdx6;" />
  <add name="master" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-test-master;User Id=cmmasteruser;Password=cftl6stugqusi2CGRXA6OMIYF4bgreuxlp5v47u;" />
  <add name="web" connectionString="Encrypt=True;TrustServerCertificate=False;Data Source=dp-hub-devtest-sqlsrv.database.windows.net,1433;Initial Catalog=dp-hub-test-web;User Id=cmwebuser;Password=qcnvr6wcfumxuBL3B54CX4AXRI7ynnoipwmsb64;" />
  <add name="analytics" connectionString="mongodb://dp-hub-devtest-test:NBEgCiAJp4rPx2EjcKDH0ZgXEOSFG20NkWdo8WzLFQnKHJHcPZ9tB6lz8MW44inJ0BCwRSJsqEj2osatrPwe1Q==@dp-hub-devtest-test.documents.azure.com:10255/analytics?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.live" connectionString="mongodb://dp-hub-devtest-test:NBEgCiAJp4rPx2EjcKDH0ZgXEOSFG20NkWdo8WzLFQnKHJHcPZ9tB6lz8MW44inJ0BCwRSJsqEj2osatrPwe1Q==@dp-hub-devtest-test.documents.azure.com:10255/live?ssl=true&amp;replicaSet=globaldb" />
  <add name="tracking.contact" connectionString="mongodb://dp-hub-devtest-test:NBEgCiAJp4rPx2EjcKDH0ZgXEOSFG20NkWdo8WzLFQnKHJHcPZ9tB6lz8MW44inJ0BCwRSJsqEj2osatrPwe1Q==@dp-hub-devtest-test.documents.azure.com:10255/contact?ssl=true&amp;replicaSet=globaldb" />
  <add name="reporting.apikey" connectionString="qa74bwg8coe5x1yk8pqhy74x29vpd03a" />
  <add name="cloud.search" connectionString="serviceUrl=https://dp-hub-devtest-search-test.search.windows.net;apiVersion=2015-02-28-preview;apiKey=D9453A7BA3F4DD4F7A891419BCCF47CF" />
  <add name="appinsights.instrumentationkey" connectionString="1b7ed3aa-5e62-4742-8978-68bf2ed7f011" />
</connectionStrings>
