<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sc.variable name="tempFolder" xdt:Locator="Match(name)" value="C:\working_git\HMPPS-HUB\cd-www\temp" xdt:Transform="SetAttributes(value)" />
  <LinkDatabase>
    <param connectionStringName="web" xdt:Transform="Replace" />
  </LinkDatabase>
  <IDTable>
    <param connectionStringName="web" xdt:Transform="Replace" xdt:Locator="Condition([(@connectionStringName='master')])" />
  </IDTable>
  <databases>
    <database id="master" xdt:Locator="Match(id)" xdt:Transform="Remove" />
  </databases>
  <clientDataStore>
    <param connectionStringName="web" xdt:Transform="Replace" xdt:Locator="Condition([(@connectionStringName='core')])" />
  </clientDataStore>
  <scheduling>
    <agent type="Sitecore.Tasks.PublishAgent" xdt:Locator="Match(type)" xdt:Transform="Remove" />
    <agent type="Sitecore.Tasks.CleanupAgent" method="Run" interval="06:00:00" patch:source="Sitecore.ContentTesting.config">
      <files hint="raw:AddCommand" patch:source="Sitecore.ContentTesting.config">
        <remove folder="d:\local\MediaCache" xdt:Locator="Match(folder)" xdt:Transform="Remove"/>
        <remove folder="C:\working_git\HMPPS-HUB\cd-www\temp\MediaCache"  pattern="*.*" maxAge="90.00:00:00" recursive="true" xdt:Transform="Insert"/>
      </files>
    </agent>
  </scheduling>
  <sites>
    <site name="shell" xdt:Locator="Match(name)" content="web" xdt:Transform="SetAttributes(content)" />
    <site name="modules_shell" xdt:Locator="Match(name)" content="web" xdt:Transform="SetAttributes(content)" />
    <site name="website" xdt:Locator="Match(name)" loginPage="/login" xdt:Transform="SetAttributes(loginPage)" />
  </sites>
  <settings>
    <setting name="Media.CacheFolder" xdt:Locator="Match(name)" value="C:\working_git\HMPPS-HUB\cd-www\temp\MediaCache" xdt:Transform="SetAttributes(value)"/>
  </settings>
</sitecore>

