@using Sitecore.Mvc
@model Sitecore.Speak.Components.Models.ComponentRenderingModel
@{
  Model.HasNestedControls = true;

  Model.Class.Append("sc-navigationPanelToggleButton");

  Model.DataBind.Click("togglePanel");
}
<div @Model.HtmlAttributes>
  @Html.RenderView("{C0182326-91FE-45C6-8BF0-C1C3AFE1D21A}", new
  {
    ID = Model.ControlId + "ToggleButton",
    Icon = "/sitecore/shell/client/Speak/Assets/img/Speak/NavigationPanelToggleButton/navigationPanelToggleIcon.png",
    ShowArrow = false,
    SpritePosition = "center"
  })
</div>