.RadEWrongWord
{
	background-color: yellow;
}
.RadEDomMouseOver
{
	background-color:#ffffcc;	
}

body
{
	padding:3px;
	background-image: none;
	margin: 0px;	
	word-wrap: break-word;
	direction: rtl;
	overflow: auto;
}

form
{
	background-color:#efefef;
	border:1px dashed #555555;
}

table
{
	BORDER-RIGHT: #999999 1px dashed;
	BORDER-BOTTOM: #999999 1px dashed;
}

table td
{
	PADDING: 1px;
	BORDER-TOP: #999999 1px dashed;
	BORDER-LEFT: #999999 1px dashed;
}

table th
{
	PADDING: 1px;
	BORDER-TOP: #000000 1px dashed;
	BORDER-LEFT: #000000 1px dashed;
}
