@using Sitecore
@model Sitecore.Speak.Components.Models.Containers.RowPanels.RowPanelRenderingModel
@{
  Model.DataBind.IsVisible();
  Model.Class.Append("row");
  Model.Class.AppendIf(Model.UsePadding, "sc-show-padding");
  if (Model.UsePadding && !string.IsNullOrEmpty(Model.PaddingType))
  {
    Model.Class.Append(Model.PaddingType);
  }
}
<div @Model.HtmlAttributes>
  @Html.Raw(ClientHost.Web.PlaceHolder(Model.Id + ".Content").ToHtmlString())
</div>