@using Sitecore
@model Sitecore.Speak.Components.Models.Containers.Borders.BorderRenderingModel
@{
    Model.Class.Append("sc-border");

    Model.Class.AppendIf(!string.IsNullOrEmpty(Model.ContentHorizontalAlignment), "sc-align-" + Model.ContentHorizontalAlignment.ToLower());
    Model.Class.AppendIf(Model.ShowBorder, "sc-show-border");

    if (Model.UsePadding)
    {
        var paddingDirection = (Model.PaddingType != "All") ? Model.PaddingType : string.Empty;
        Model.Class.Append("sc-show-padding" + paddingDirection);
    }

    Model.DataBind.IsVisible();
    Model.DataBind.Bind("attr", "{ title: Tooltip() }");
    
    Model.DataBind.Css("sc-show-border", "ShowBorder");
}
<div @Model.HtmlAttributes>
  @if (Model.IsContentAllowed)
  {
    @Html.Raw(ClientHost.Web.PlaceHolder(Model.ControlId + ".Content").ToHtmlString())
  }
</div>