.sc-globalHeader-content,
.sc-applicationContent,
.sc-applicationHeader-content {
  max-width: none;
}
.sc-applicationHeader-bottom,
.sc-applicationHeader-row2 {
  display: none;
}
.sc-launchpad {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0 50px;
}
.sc-launchpad-group {
  display: inline-block;
  margin: 0 50px 0 50px;
  vertical-align: top;
}
.sc-launchpad-group.first {
  margin: 0 50px 10px 0;
}
.sc-launchpad-group.last {
  margin: 0 0 0 50px;
}
.sc-launchpad-group-title {
  font-size: 16px;
  font-weight: 400;
  color: #969696;
  margin-top: 15px;
}
.sc-launchpad-group-row {
  white-space: nowrap;
  vertical-align: top;
  height: 166px;
  overflow: hidden;
}
.sc-launchpad-item {
  display: inline-block;
  width: 98px;
  min-height: 120px;
  text-align: center;
  margin: 16px 8px 16px 0;
  white-space: normal;
  vertical-align: top;
  color: #131313;
}
.sc-launchpad-item:hover {
  color: #131313;
}
.sc-launchpad-item .icon {
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(white, #f7f7f7);
  background-image: -o-linear-gradient(white, #f7f7f7);
  background-image: linear-gradient(white, #f7f7f7);
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  height: 98px;
  width: 98px;
  margin-bottom: 2px;
  display: block;
}
.sc-launchpad-item .icon img {
  width: 48px;
  height: 48px;
  margin: 24px;
}
.sc-launchpad-item .icon:hover {
  background: white;
}
.sc-launchpad-item:active .icon {
  box-shadow: inset 0 0 20px #d6d6d6;
}
.sc-launchpad-item .sc-launchpad-text {
  display: block;
  max-width: 100px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-weight: 600;
}
.sc-tiles {
  margin: 15px 0 0 50px;
  overflow: hidden;
}
.sc-tile {
  float: left;
  margin-right: 30px;
}
.sc-tile-header {
  text-transform: uppercase;
  color: #474747;
  font-weight: bold;
}
.sc-tile-content {
  margin-top: 8px;
  min-height: 350px;
  border: 1px solid #d6d6d6;
  padding: 8px;
  vertical-align: middle;
  text-align: center;
  background: white;
}
.sc-tile-content img {
  max-height: 363px;
  max-width: 100%;
}
.sc .sc-border[data-sc-id="RowPanelTilesWrapper"],
.sc .sc-border[data-sc-id="FallBackMessageBorder"] {
  padding: 0 50px;
}
.sc .sc-border[data-sc-id="AnalyticsFallback"] {
  background-color: #fff;
}
.sc .sc-border[data-sc-id="FallbackMessageHeaderWrap"] {
  padding: 15px;
  color: #474747;
}
.sc .sc-border[data-sc-id="FallbackMessageWrap"] {
  border-top: 1px solid #F0F0F0;
  min-height: 400px;
  position: relative;
}
.sc .sc-border[data-sc-id="FallbackMessageWrap"] .sc-text[data-sc-id="FallBackMessage"] {
  position: absolute;
  top: 20px;
  display: block;
  text-align: left;
  left: 15px;
  right: 15px;
}
.sc div[data-sc-id="ColumnPanelInteractions"],
.sc div[data-sc-id="ColumnPanelCampaigns"] {
  display: none;
}