// .audio-player {
//   //padding: 50px 0;
//
//  audio {
//   width: 100%;
//  }
//
// }

.video-js.audio-player {
  height: 0;
  padding-bottom: 66.67%;
  width: 100%;
  background-image: cover;
  margin: 50px 0;
  font-size: 17px;
}

.video-js.audio-player .vjs-control-bar {
  opacity: 1;
  visibility: visible;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -moz-transition: visibility 0.1s, opacity 0.1s;
  -ms-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  background-color: black;
  overflow: visible;
}

.video-js.audio-player .vjs-remaining-time,
.video-js.audio-player .vjs-fullscreen-control,
.video-js.audio-player .vjs-big-play-button,
.video-js.audio-player .vjs-progress-control{
  display: none;
}

.video-js.audio-player .vjs-time-divider,
.video-js.audio-player .vjs-current-time,
.video-js.audio-player .vjs-duration{
  display: block;
}

.video-js.audio-player .vjs-time-divider{
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  min-width: 1em;
}

.video-js.audio-player .vjs-time-control{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.video-js.audio-player .vjs-volume-panel.vjs-control{
  width: 3em;
}

.video-js.audio-player .vjs-mute-control,
.video-js.audio-player .vjs-play-control.vjs-control,
.video-js.audio-player .vjs-fullscreen-control.vjs-control{
  width: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.video-js.audio-player .vjs-mute-control.vjs-control.vjs-button{
	padding-bottom: 2.9em;
}

.video-js.audio-player .vjs-control:focus:before,
.video-js.audio-player .vjs-control:hover:before,
.video-js.audio-player .vjs-control:focus{
	text-shadow: none;
}

.video-js.audio-player.vjs-audio.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
	opacity: 0;
	visibility: hidden;
}

@include media(mobile) {
	.video-js.audio-player .vjs-progress-control.vjs-control{
		width: 100%;
		position: absolute;
		top: -9px;
		height: 13px;
	}

	.video-js.audio-player .vjs-progress-control .vjs-progress-holder{
		margin: 0;
	}

	.video-js.audio-player .vjs-volume-control.vjs-control.vjs-volume-horizontal{
		width: 2em;
	}

	.video-js.audio-player .vjs-volume-bar{
		margin: 1.35em 0.20em;
		width: 2em;
	}

	.video-js .vjs-volume-control.vjs-control.vjs-volume-horizontal{
		margin-right: 5px;
	}

	.video-js.audio-player .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel .vjs-volume-control:hover.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel .vjs-volume-control:active.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel .vjs-volume-control:focus.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel .vjs-mute-control:active ~ .vjs-volume-control.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel .vjs-mute-control:focus ~ .vjs-volume-control.vjs-volume-horizontal, .video-js.audio-player .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-horizontal{
		width: 3em;
	}

	.video-js.audio-player .vjs-volume-panel.vjs-volume-panel-horizontal:hover, .video-js.audio-player .vjs-volume-panel.vjs-volume-panel-horizontal:focus, .video-js.audio-player .vjs-volume-panel.vjs-volume-panel-horizontal:active, .video-js.audio-player .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active{
		width: 6em;
	}

	.video-js.audio-player .vjs-control-bar {
		height: 40px;
	}

	.video-js.audio-player {
	  font-size: 14px;
	}
}
