// Three-column browse pane component
// ==========================================================================
.browse {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .browse-panes {
    padding-bottom: 30px;
    position: relative;

    @include media(tablet) {
      padding-top: 30px;
    }

    h1,
    h2 {
      @include bold-27;
      margin-bottom: 10px;
      margin-top: 10px;
      outline: none;
    }

    .pane-inner {
      padding-bottom: 30px;

      @include media(tablet) {
        border-left: 1px solid $grey-2;
        min-height: 950px;
      }

      @include media(desktop) {
        min-height: 700px;
      }
    }

    .root-pane,
    .section-pane {
      min-height: 20px;

      h1,
      h2 {
        @include media(tablet) {
          padding-left: 15px;
        }
      }

      .sort-order {
        display: none;
      }

      ul li {
        list-style: none;
        position: relative;
      }

      ul a {
        position: relative;
        display: block;
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 400;
        text-transform: none;
        text-decoration: none;
        padding: 12px 25px 8px 0;

        &:hover {
          background: #dee0e2;
          color: #005ea5;
        }

        &:after {
          position: absolute;
          top: 50%;
          margin-top: -8px;
          right: 10px;
          float: right;
          content: "\203A";
        }

        @include media(tablet) {
          font-size: 19px;
          line-height: 1.31579;
        }

        @include media(tablet) {
          padding: 12px 30px 8px 15px;
          font-family: "nta", Arial, sans-serif;
          font-size: 14px;
          line-height: 1.14286;
          font-weight: 400;
          text-transform: none;
        }

        @media (min-width: 641px) and (min-width: 641px) {
          font-size: 16px;
          line-height: 1.25;
        }

        &.loading {
          cursor: default;
          background: transparent url(https://assets.publishing.service.gov.uk/collections/loading-a61f7620847c981f789bbee7328c664c1d55ebcd395a38431a1fa7c40aec9766.gif) 95% 50% no-repeat;

          &:after {
            content: '';
          }
        }

        h3 {
          font-weight: bold;
        }

        p {
          color: #0b0c0c;
          font-family: "nta", Arial, sans-serif;
          font-size: 12px;
          line-height: 1.25;
          font-weight: 400;
          text-transform: none;

          @include media(tablet) {
            font-size: 14px;
            line-height: 1.42857;
          }
        }
      }


      ul .active a {
        background: #005ea5;
        color: #fff;

        p {
          color: #fff;
        }

        &:hover {
          background: #005ea5;
        }
      }
    }

    .section-pane {
      z-index: 2;
      background: #fff;
      position: relative;

      @include media(desktop) {
        &.with-sort {
          .pane-inner {
            padding-left: 30px;

            &.alphabetical {
              padding-left: 96px;
            }
          }

          .sort-order {
            font-family: "nta", Arial, sans-serif;
            font-size: 20px;
            line-height: 1.11111;
            font-weight: 700;
            text-transform: none;
            float: left;
            display: block;
            width: 75px;
            margin-left: -90px;
            padding: 11px 0 15px 15px;
          }
        }
      }

      @media (min-width: 769px) and (min-width: 641px) {
        &.with-sort .sort-order {
          font-size: 27px;
          line-height: 1.11111;
        }
      }
    }

    .subsection-pane {
      h1 {
        padding-left: 0;
      }

      .list-header {
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;
        text-transform: none;
        margin: 30px 0 0 0;

        @include media(tablet) {
          font-size: 19px;
          line-height: 1.31579;
        }
      }

      ul {
        padding: 0;
        list-style: none;

        li {
          padding: 0;
          margin: 0;

          a {
            font-family: "nta", Arial, sans-serif;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 700;
            text-transform: none;
            display: block;
            text-decoration: none;
            padding: 10px 30px 10px 0;

            @include media(tablet) {
              font-size: 19px;
              line-height: 1.31579;
            }
          }
        }
      }

      .curated-list {
        ul li a {
          padding: 5px 30px 5px 0;
        }

        .list-header {
          margin: 30px 0 5px 0;
        }
      }

      .detailed-guidance {
        margin-top: 30px;
      }

      .sort-order {
        display: none;

        @include media(tablet) {
          display: block;
          font-family: "nta", Arial, sans-serif;
          font-size: 20px;
          line-height: 1.11111;
          font-weight: 700;
          text-transform: none;
          float: left;
          width: 75px;
          margin-left: -100px;
          padding: 11px 0 15px 15px;
        }

        @media (min-width: 641px) and (min-width: 641px) {
          font-size: 27px;
          line-height: 1.11111;
        }
      }

      @include media(tablet) {
        .pane-inner.a-to-z {
          padding-left: 100px;
        }

        .pane-inner.curated-list {
          padding-left: 30px;
        }
      }

    }

    &.section-only {
      @include media(tablet) {
        .section-pane {
          width: 50%;
          float: left;

          .pane-inner {
            border-left: none;
          }
        }
      }
    }

    &.no-root.subsection {
      @include media(tablet) {
        .section-pane {
          width: 25%;
          margin-left: 0;

          .pane-inner {
            border-left: none;
          }
        }

        .subsection-pane {
          margin-right: 25%;
        }
      }
    }

    &.section {
      .root-pane {
        display: none;
        @include media(tablet) {
          display: block;
          float: right;
          width: 25%;
        }
      }

      .section-pane {

        @include media(tablet) {
          float: right;
          width: 30%;
          margin-right: 45%;
        }

        @include media(desktop) {
          width: 35%;
          margin-right: 40%;
        }

      }

    }

    &.subsection {
      .root-pane,
      .section-pane {
        display: none;
        color: $grey-1;


        a,
        p {
          color: $grey-1;
        }

        @include media(tablet) {
          display: block;
          float: right;
          width: 25%;
        }
      }

      .section-pane {
        @include media(tablet) {
          margin-left: -18%;
          width: 30%;
        }

        @include media(desktop) {
          margin-left: -13%;
          width: 25%;
        }
      }


      .subsection-pane {
        @include media(tablet) {
          float: right;
          width: 50%;
          margin-right: 13%;
        }

        @include media(tablet) {
          float: right;
          width: 50%;
          margin-right: 13%;
        }
      }

    }
  }
}
