.neontroids{
  display: block;
}

.canvas{
  background-color: black;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

body.modal-active,
html.modal-active{
  overflow: hidden;
  height: 100%;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.neontroids__img{
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.neontroids__close{
  position: absolute;
  top: 0;
  right: 5%;
  border: none;
  background: none;
  color: white;
  font-size: 16px;
}
