.neontroids{
  //position: relative;

  display: block;
}

.canvas{
  //margin-top: 53px;
  background-color: black;
  // position: relative;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  max-height: 100%;
  // max-width: 100%;
  // overflow: hidden;
}

body.modal-active,
html.modal-active{
  overflow: hidden;
  height: 100%;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  max-height: 100%;
  width: 100%;
}

.neontroids__img{
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.neontroids__close{
  position: absolute;
  top: 0;
  right: 50px;
  border: none;
  background: none;
  color: white;
  font-size: 16px;
}
