.pub-c-pagination {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
}

.pub-c-pagination__list {
    margin: 0;
    padding: 0;
}

.pub-c-pagination__list:after {
    content: "";
    display: block;
    clear: both;
}

.pub-c-pagination__item {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 50%;
}

@include media(desktop) {
  .pub-c-pagination__item {
    font-size: 16px;
    line-height: 1.25;
  }
}


.pub-c-pagination__link {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.pub-c-pagination__link:visited {
    color: #005ea5;
}

.pub-c-pagination__link:hover,.pub-c-pagination__link:active {
    background-color: #f8f8f8;
}

.pub-c-pagination__link-title {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.11111;
    display: block;
}

@include media(desktop) {
    .pub-c-pagination__link-title {
        font-size: 27px;
        line-height: 1.25;
    }
}

.pub-c-pagination__item--previous {
    float: left;
    text-align: left;
}

@include media(mobile) {
    .pub-c-pagination__item--previous {
        float: none;
        width: 100%;
    }
}

.pub-c-pagination__item--next {
    float: right;
    text-align: right;
}

@include media(mobile) {
    .pub-c-pagination__item--next {
        float: none;
        width: 100%;
    }
}

.pub-c-pagination__link-icon {
    display: inline-block;
    margin-bottom: 1px;
    height: .482em;
    width: .63em;
}

.pub-c-pagination__link-label {
    display: inline-block;
    margin-top: 0.1em;
    text-decoration: underline;
}
