//content titles
// ==========================================================================

.pub-c-title {
    margin-bottom: 15px;
    margin-top: 15px;
}

@include media (tablet) {
    .pub-c-title {
        margin-bottom: 45px;
    }
}

@include media (tablet) {
    .pub-c-title {
        margin-top: 45px;
    }
}

.pub-c-title__context {
    font-family: $nta-light;
    font-weight: 400;
    text-transform: none;
    color: $grey-1;
    @include core-19();
}

@include media (tablet) {
    .pub-c-title__context {
        @include core-24();
    }
}

.pub-c-title__text {
    font-family: $nta-light;
    text-transform: none;
    //@include bold-32();

}

@include media (tablet) {
    .pub-c-title__text {
      @include bold-48();
    }
}

// .pub-c-title__text--long {
//     font-family: $nta-light;
//     @include bold-24();
//     text-transform: none;
// }
//
// @include media (tablet) {
//     .pub-c-title__text--long {
//           @include bold-36();
//     }
// }
