.related-content {
	border-top: 10px solid $govuk-blue;
	padding-top: 15px;
	
	.heading-medium {
		margin-top: 0;
	}
	
	ul li {
		@include core-16;
		list-style: none;
		position: relative;
		padding: 0;
		margin-bottom: 0.75em;
	}
}