.youtube-player {
	margin-top: 30px;
	width: 100%;
	padding-top: 56.25%;
	height: 0;
	position: relative;
	margin-bottom: 30px;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		top: -25px;
		left: 0;
		background: $grey-2;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.video-js.custom-video {
  width: 100%;
  margin: 50px 0;
  font-size: 17px;
  height: 0;
  padding-bottom: 56.25%;
}

.video-js.custom-video .vjs-control-bar {
  opacity: 1;
  visibility: visible;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -moz-transition: visibility 0.1s, opacity 0.1s;
  -ms-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  background-color: black;
}

.video-js.custom-video .vjs-remaining-time,
.video-js.custom-video .vjs-big-play-button,
.video-js.custom-video .vjs-progress-control{
  display: none;
}

.video-js.custom-video .vjs-time-divider,
.video-js.custom-video .vjs-current-time,
.video-js.custom-video .vjs-duration{
  display: block;
}
