.youtube-player {
	margin-top: 30px;
	width: 100%;
	padding-top: 56.25%;
	height: 0;
	position: relative;
	margin-bottom: 30px;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		top: -25px;
		left: 0;
		background: $grey-2;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.video-js.custom-video {
  width: 100%;
  margin: 50px 0;
  font-size: 17px;
  height: 0;
  padding-bottom: 56.25%;
	background-color: transparent;
}

.video-js.custom-video .vjs-title-bar{
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 100%;
	opacity: 1;
	transition: all ease-in-out 800ms;

	&.fade-out{
		opacity: 0;
	}

}

.video-js.custom-video .vjs-control-bar {
  opacity: 1;
  visibility: visible;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -moz-transition: visibility 0.1s, opacity 0.1s;
  -ms-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  background-color: black;
}

.video-js.custom-video .vjs-remaining-time,
.video-js.custom-video .vjs-big-play-button{
  display: none;
}

.video-js.custom-video .vjs-time-divider,
.video-js.custom-video .vjs-current-time,
.video-js.custom-video .vjs-duration{
  display: block;
}

.video-js.custom-video .vjs-mute-control.vjs-control.vjs-button{
	padding-bottom: 2.9em;
}

.video-js.custom-video .vjs-control:focus:before,
.video-js.custom-video .vjs-control:hover:before,
.video-js.custom-video .vjs-control:focus{
	text-shadow: none;
}

.video-js.custom-video .vjs-time-divider{
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  min-width: 1em;
}

.video-js.custom-video .vjs-time-control{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.video-js.custom-video .vjs-volume-panel.vjs-control{
  width: 3em;
}

.video-js.custom-video .vjs-mute-control,
.video-js.custom-video .vjs-play-control.vjs-control,
.video-js.custom-video .vjs-fullscreen-control.vjs-control{
  width: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}


@include media(mobile) {
	.video-js.custom-video .vjs-fullscreen-control.vjs-control{
		position: absolute;
		right: 0;
	}

	.video-js.custom-video .vjs-progress-control.vjs-control{
		width: 100%;
		position: absolute;
		top: -9px;
		height: 13px;
	}

	.video-js.custom-video .vjs-progress-control .vjs-progress-holder{
		margin: 0;
	}

	.video-js.custom-video .vjs-volume-control.vjs-control.vjs-volume-horizontal{
		width: 2em;
	}

	.video-js.custom-video .vjs-volume-bar{
		margin: 1.35em 0.20em;
		width: 2em;
	}

	.video-js .vjs-volume-control.vjs-control.vjs-volume-horizontal{
		margin-right: 5px;
	}

	.video-js.custom-video .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel .vjs-volume-control:hover.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel .vjs-volume-control:active.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel .vjs-volume-control:focus.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel .vjs-mute-control:hover ~ .vjs-volume-control.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel .vjs-mute-control:active ~ .vjs-volume-control.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel .vjs-mute-control:focus ~ .vjs-volume-control.vjs-volume-horizontal, .video-js.custom-video .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-horizontal{
		width: 3em;
	}

	.video-js.custom-video .vjs-volume-panel.vjs-volume-panel-horizontal:hover, .video-js.custom-video .vjs-volume-panel.vjs-volume-panel-horizontal:focus, .video-js.custom-video .vjs-volume-panel.vjs-volume-panel-horizontal:active, .video-js.custom-video .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-slider-active{
		width: 6em;
	}

	.video-js.custom-video .vjs-control-bar {
		height: 40px;
	}

	.video-js.custom-video {
	  font-size: 14px;
	}
}
