// Welcome Block
// ==========================================================================

.welcome-block h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    font-weight: bold;
    padding: 25px 0 15px;
}

.welcome-block p {
    margin: 0;
}

.welcome-block p.simpler {
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome-block .content-links {
    padding-top: 20px;
}

.welcome-block .content-links-inner {
    padding-bottom: 20px;
}


.welcome-block .content-links-inner h2 {
  @include core-19();

  margin-top: em(10, 16);
  margin-bottom: em(5, 16);

  @include media(tablet) {
    margin-top: em(20, 19);
  }

}

.welcome-block .content-links-inner ul {
    margin: 0;
    padding: 0;
}

.welcome-block .content-links-inner li {
    @include bold-19();
    margin-bottom: 0;
}


.welcome-block .content-links-inner a:link,.welcome-block .content-links-inner a:visited {
    color: $white;
}

.welcome-block .content-links-inner a:active,.welcome-block .content-links-inner a:hover {
    color: #cccccc;
}

.welcome-block .content-links-inner a:focus {
    color: $black;
}

.welcome-block .inner-block.floated-children {
    margin: 0 10px;
}

.welcome-block .floated-inner-block {
    margin: 0 5px;
}

@include media (tablet) {
  .welcome-block .welcome-text {
      width: 66.66%;
      float: left;
  }

  .welcome-block .content-links {
      float: left;
      width: 33.33%;
  }

  .welcome-block h1 {
      @include bold-48();
  }

  .welcome-block .content-links-inner li {
    margin-bottom: 30px;
  }

  .welcome-block .content-links-inner {
    background: $black;
    padding: 15px 20px 15px;
    margin-top: 30px;
  }

  // .welcome-block .content-links-inner h2 {
  //   @include core-14;
  // }

  .welcome-block .inner-block.floated-children {
      margin: 0 15px;
  }

  .welcome-block .floated-inner-block {
      margin: 0 15px;
  }

}

@include media (desktop) {
  .welcome-block .content-links-inner ul {
    margin: 10px 0 0;
  }

  .welcome-block .content-links-inner h2 {
    margin: 5px 0 0;
  }

}
