/*external components outside RadSpell wrapper*/

/*common*/
.RadSpell_Office2007_Ext
{
    margin:1em 0 0;
    padding:0;
    font:normal 11px/16px arial,sans-serif;
}
.RadSpell_Office2007_Ext.spLinkImg,
.RadSpell_Office2007_Ext.spButton
{
    display:block;
    /*the same as background images' dimensions*/
    width:74px;
    height:20px;
    line-height:20px;
}

/*text link*/
.RadSpell_Office2007_Ext.spLink
{
    color:#000;
}
.RadSpell_Office2007_Ext.spLinkImg
{
    color:#000;
}

/*image link*/
.RadSpell_Office2007_Ext.spLinkImg
{
    text-align:center;
    text-decoration:none;
    background:url(Img/spellButtonCombined.gif) 0 0 no-repeat;
}

/*button*/
.RadSpell_Office2007_Ext.spButton
{
    border:0;
    text-align:center;
    color:#000;
    cursor:pointer;
    background:url(Img/spellButtonCombined.gif) 0 0 no-repeat;
}

.RadSpell_Office2007_Ext.spLinkImg:hover,
.RadSpell_Office2007_Ext.spButton.spHovered
{
    background-position:0 -20px; /*the same as background images' height*/
}

/*select*/
.RadSpell_Office2007_Ext.spSelect
{
    width:99px; /*the same as background images' width*/
    border:1px solid #ccc;
    font-size:0.8em;
}
