@using Sitecore.Speak.Components.Models.Common.MessageBars
@model MessageBarRenderingModel
@{
  Model.Class.Append("sc-messageBar");
  Model.DataBind.IsVisible().Bind("attr", "{title: Tooltip()}");
}
<div @Model.HtmlAttributes>
  <div class="sc-messageBar-head alert" data-bind="click: toggle, visible: TotalMessageCount() > 1, css: { 'alert-info': Severity() == 'notification', 'alert-error': Severity() == 'error' }" style="display: none">
    <div class="alert-ico-background"><span class="alert-ico"></span></div>
    <div class="sc-messageBar-messageText-container">
      <span class="sc-messageBar-messageText" data-bind="text: HeadText(), attr: { title: HeadText() }"></span>
      <span class="sc-messageBar-chevron-layout">
        <a href="javascript:;" data-bind="text: IsOpen() ? '@Model.Translations.LessDetails' : '@Model.Translations.MoreDetails'">@Model.Translations.MoreDetails</a>
        <i class="icon-chevron" data-bind="css:{'direction-up': IsOpen()}"></i>
      </span>
    </div>
  </div>
  <div class="sc-messageBar-messages-wrap" data-bind="css:{'sc-messageBar-messages-nested-children':TotalMessageCount() > 1 }, visible:IsOpen() || (TotalMessageCount() == 1)" style="display: none">
    <div data-bind="foreach: Items">
      <div class="sc-messageBar-message alert" data-bind="css: { 'alert-info': viewModel.Type() == 'notification', 'alert-error': viewModel.Type() == 'error' } ">
        <div class="alert-ico-background"><span class="alert-ico"></span></div>
        <div class="sc-messageBar-messageText-container">
          <span class="sc-messageBar-messageText" data-bind="text: viewModel.Text(), attr: { title: viewModel.Text() }"></span>
          <span class="sc-messageBar-actionLink-layout" data-bind="foreach: viewModel.Items">
            <a href="#" class="sc-messageBar-actionLink" data-bind="text: viewModel.Text(), attr: {title: viewModel.Text(), 'data-sc-click':Action}"></a>
          </span>
        </div>
        <div class="sc-messagebar-closebutton-container">
          <button data-dismiss="alert" class="close" type="button" data-bind="visible: viewModel.IsClosable()">&times;</button>
        </div>
      </div>
    </div>
  </div>
</div>