button[data-sc-id="PrevButton"] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  float: left;
}
button[data-sc-id="NextButton"] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}
