.RadEWrongWord
{	
	background-color: yellow;
}

.RadEDomMouseOver
{
	background-color:#efefef;
	border:1px dashed red;
}

.RadEContent, .RadEContentBordered
{
	padding:3px;	
	background-color: #FFFFFF;	
	background-image: none;
	margin: 0px;	
	text-align: left;
	scrollbar-face-color: #E9E9E9;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E9E9E9;
	scrollbar-3dlight-color: #DBDBDB;
	scrollbar-arrow-color: #787878;
	scrollbar-track-color: #F5F5F5;
	scrollbar-darkshadow-color: #AEAEAE;
	font: normal 12px Arial, Verdana, Sans-serif;
	word-wrap: break-word;
}

.RadEContentBordered FORM
{
	 background-color:yellow;
	 border:1px dashed #555555;	 
	 /* kartinka deto pishe FORM*/
}
/* CSS class for A name */

.RadEContentBordered TABLE
{
	BORDER-RIGHT: #999999 1px dashed; 
	BORDER-BOTTOM: #999999 1px dashed;
}

.RadEContentBordered TABLE TD
{
	PADDING: 2px;
	BORDER-TOP: #999999 1px dashed;	
	BORDER-LEFT: #999999 1px dashed;	
}

.RadEContentBordered TABLE TH
{
	PADDING: 2px;
	BORDER-TOP: #000000 1px dashed;	
	BORDER-LEFT: #000000 1px dashed;
}