<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <sc.variable name="tempFolder" value="/temp"/>
    <pipelines>
      <getScreenShotForURL />
    </pipelines>
    <watchers>
      <xsl>
        <folder>/xsl</folder>
        <filter>*.xslt</filter>
      </xsl>
    </watchers>
    <!-- LINK DATABASE -->
    <LinkDatabase type="Sitecore.Data.$(database).$(database)LinkDatabase, Sitecore.Kernel">
      <param connectionStringName="core"/>
    </LinkDatabase>
    <!-- ID TABLE -->
    <IDTable type="Sitecore.Data.$(database).$(database)IDTable, Sitecore.Kernel" singleInstance="true">
      <param connectionStringName="master"/>
      <param desc="cacheSize">2500KB</param>
    </IDTable>
    <!-- CLIENT DATASTORE -->
    <clientDataStore type="Sitecore.Data.$(database).$(database)ClientDataStore, Sitecore.Kernel">
      <param connectionStringName="core"/>
      <param desc="object lifetime">00:20:00</param>
    </clientDataStore>
    <scheduling>
      <agent type="Sitecore.Tasks.UrlAgent" method="Run" interval="00:15:00">
        <patch:delete />
      </agent>
      <!-- Agent to clean up work files -->
      <agent type="Sitecore.Tasks.CleanupAgent" method="Run" interval="06:00:00">
        <!-- Specifies files to be cleaned up.
             If rolling="true", [minCount] and [maxCount] will be ignored.
             [minAge] and [maxAge] must be specified as [days.]hh:mm:ss. The default value
             of [minAge] is 30 minutes.
             [strategy]: number of files within hour, day, week, month, year
             [recursive=true|false]: descend folders?
        -->
        <files hint="raw:AddCommand">
          <remove folder="$(dataFolder)/logs" pattern="*log.*.txt" maxAge="30.00:00:00"/>
          <remove folder="$(dataFolder)/viewstate" pattern="*.txt" maxAge="2.00:00:00" recursive="true"/>
          <remove folder="$(tempFolder)/diagnostics" pattern="*.*" maxAge="00:10:00" recursive="true"/>
          <remove folder="d:\local\MediaCache" pattern="*.*" maxAge="90.00:00:00" recursive="true"/>
        </files>
      </agent>
    </scheduling>
    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
        <!--  Cache settings of shell -->
        <patch:attribute name="htmlCacheSize">10MB</patch:attribute>
        <patch:attribute name="registryCacheSize">15MB</patch:attribute>
        <patch:attribute name="viewStateCacheSize">1MB</patch:attribute>
        <patch:attribute name="xslCacheSize">25MB</patch:attribute>
      </site>
      <site name="modules_shell" virtualFolder="/sitecore modules/shell" physicalFolder="/sitecore modules/shell" rootPath="/sitecore/content" startItem="/home"
        language="en" database="core" domain="sitecore" content="master" enableTracking="false" enableWorkflow="true"/>
      <site name="website">
        <patch:attribute name="dictionaryDomain">{B824C5D0-37C9-4ED4-9E08-DBDABEF0C1AC}</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
        <!--  Cache settings of website -->
        <patch:attribute name="htmlCacheSize">50MB</patch:attribute>
        <patch:attribute name="registryCacheSize">0</patch:attribute>
        <patch:attribute name="viewStateCacheSize">0</patch:attribute>
        <patch:attribute name="xslCacheSize">25MB</patch:attribute>
        <patch:attribute name="filteredItemsCacheSize">10MB</patch:attribute>
        <patch:attribute name="cacheRenderingParameters">true</patch:attribute>
        <patch:attribute name="renderingParametersCacheSize">10MB</patch:attribute>
        <!-- Error pages of website -->
        <patch:attribute name="notFoundItem">/404</patch:attribute>
        <patch:attribute name="noAccessItem">/403</patch:attribute>
      </site>
    </sites>
    <!--  Cache settings of databases -->
    <databases>
      <!-- core -->
      <database id="core">
        <cacheSizes hint="setting">
          <data>100MB</data>
          <items>50MB</items>
          <paths>2500KB</paths>
          <itempaths>50MB</itempaths>
          <standardValues>2500KB</standardValues>
        </cacheSizes>
        <dataProviders>
          <dataProvider>
            <prefetch>
              <cacheSize>150MB</cacheSize>
            </prefetch>
          </dataProvider>
        </dataProviders>
      </database>
      <!-- master -->
      <database id="master">
        <cacheSizes hint="setting">
          <data>100MB</data>
          <items>50MB</items>
          <paths>2500KB</paths>
          <itempaths>50MB</itempaths>
          <standardValues>2500KB</standardValues>
        </cacheSizes>
        <dataProviders>
          <dataProvider>
            <prefetch>
              <cacheSize>200MB</cacheSize>
            </prefetch>
          </dataProvider>
        </dataProviders>
      </database>
      <!-- web -->
      <database id="web">
        <cacheSizes hint="setting">
          <data>200MB</data>
          <items>200MB</items>
          <paths>2500KB</paths>
          <itempaths>50MB</itempaths>
          <standardValues>2500KB</standardValues>
        </cacheSizes>
        <dataProviders>
          <dataProvider>
            <prefetch>
              <cacheSize>100MB</cacheSize>
            </prefetch>
          </dataProvider>
        </dataProviders>
      </database>
      <!-- filesystem -->
      <database id="filesystem" >
        <cacheSizes hint="setting">
          <data>0</data>
          <items>0</items>
          <paths>0</paths>
          <standardValues>0</standardValues>
        </cacheSizes>
      </database>
    </databases>
    <!-- CACHE SIZES-->
    <cacheSizes>
      <sites>
        <website>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </website>
      </sites>
    </cacheSizes>
      <settings>
          <setting name="Languages.AutoRenameItemData" value="true"/>
          <setting name="Login.RememberLastLoggedInUserName" value="false"/>
          <setting name="Login.DisableAutoComplete" value="true"/>
          <setting name="Login.SitecoreUrl" value="https://sdn.sitecore.net/startpage.aspx"/>
          <setting name="InvalidItemNameChars" value="\/:?&quot;&lt;&gt;|[]-" />
          <setting name="Media.CacheFolder" value="/App_Data/MediaCache" />
          <setting name="PageStateStore" value="Sitecore.Web.UI.DatabasePageStateStore,Sitecore.Kernel"/>
          <setting name="ViewStateStore" value="Sitecore.Data.DataProviders.DatabaseViewStateStore,Sitecore.Kernel"/>
          <setting name="Media.RequestProtection.SharedSecret" value="Tzagm2lG13xJOgg/86/1hmzH9jljsheWGbmnRP0TX^gyPj1oi62FctDBMgm3EgYGLc0VVINRtCbi\m4.UW^WCYqFggkaxAJgb6Agcif))Y36UIQn|/kU+ZNpYtkB.f1" />
          <setting name="ContentEditor.RenderCollapsedSections" value="false" />
          <setting name="ContentEditor.CheckHasChildrenOnTreeNodes" value="false" />
          <setting name="BucketConfiguration.EnableBucketDebug" value="false" />
          <!--FOR TEST PURPOSES ONLY-->
          <setting name="ContentSearch.Analytics.IndexAnonymousContacts" value="true"/>
          <setting name="Preview.AsAnonymous" value="false"/>
          <!--SMTP details (the local site details are set in the HMPPS.Sitecore.Local.Smtp.config file)-->
      </settings>
    <languageDefinitions>
      <languages>
        <language id="cy" region="gb" codepage="65001" encoding="utf-8" charset="iso-8859-1" icon="flags/16x16/flag_wales.png" />
      </languages>
    </languageDefinitions>
    <linkManager defaultProvider="sitecore">
      <providers>
        <clear/>
        <add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true"
          languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false"/>
      </providers>
    </linkManager>
    <submitQueue>
      <queue type="Sitecore.Analytics.Data.DataAccess.SubmitQueue.FileSubmitQueue, Sitecore.Analytics" singleInstance="true">
        <param desc="folderPath">d:\local\Submit Queue</param>
      </queue>
    </submitQueue>
    <xslExtensions>
      <extension mode="on" type="Sitecore.Xml.Xsl.SqlHelper, Sitecore.Kernel" namespace="http://www.sitecore.net/sql" singleInstance="true">
        <patch:delete />
      </extension>
    </xslExtensions>
    <!-- RETRYER
         When enabled, the Retryer resends failed database requests a specified number of times.
         For example, this is useful if you configure a Sitecore instance to support hot failover for database calls.
         Default value: disabled="true"
    -->
    <retryer disabled="false" type="Sitecore.Data.DataProviders.Retryer, Sitecore.Kernel">
      <param desc="Number of tries">6</param>
      <param desc="Interval between tries">00:00:00.500</param>
      <param desc="Log each exception (should be used for debug only)">false</param>
    </retryer>
  </sitecore>
</configuration>
