<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <!-- The Jwt Token Security Key -->
      <setting name="HMPPS.Utilities.JwtTokenSecurityKey" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="D2C5CE906BED5A86384AB13D9BC4CAC479940A4119030DAEADE66FC46232F74907BCE5C724D4D2252E0FD0ED7FEF74075D16E965FF2B9EAE0ACB615145CAFF82" />
      <!-- The Authentication Checker cookie name -->
      <setting name="HMPPS.Utilities.UserDataCookieName" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="AuthenticationCheckerLocal" />
    </settings>
  </sitecore>
</configuration>
