<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>

    <settings>
      <!-- TODO !!! : sort out the issue that MoJ login page sends the "redirect_uri_mismatch The redirection URI provided does not match a pre-registered value."
      error message when longin or logout url is different from https://hmpps.localhost -->
      <!-- The URL that the identity provider posts the token back to, absolute URL -->
      <setting name="HMPPS.Authentication.SignInCallbackUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://hmpps.localhost/auth-callback" />
      <!-- The URL that handles log out -->
      <setting name="HMPPS.Authentication.LogoutUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://hmpps.localhost/logout" />
      <!-- The OAUTH2 client ID -->
      <setting name="HMPPS.Authentication.ClientId" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="CMS_E3_CLIENTID" />
      <!-- The OAUTH2 client secret -->
      <setting name="HMPPS.Authentication.ClientSecret" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="KainosCMSE3" />
      <!-- The OAUTH2 claims to request -->
      <setting name="HMPPS.Authentication.Scope" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="openid profile email" />
      <!-- The OAUTH2 issuer (base URL) -->
      <setting name="HMPPS.Authentication.ValidIssuer" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/oauth2" />
      <!-- The OAUTH2 authorize endpoint -->
      <setting name="HMPPS.Authentication.AuthorizeEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/oauth2/authorize" />
      <!-- The OAUTH2 token endpoint -->
      <setting name="HMPPS.Authentication.TokenEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/oauth2/access_token" />
      <!-- The OAUTH2 logout endpoint -->
      <setting name="HMPPS.Authentication.LogoutEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/XUI/#logout/" />
    </settings>
    
  </sitecore>
</configuration>
