<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
  <sitecore>
    <sc.variable name="tempFolder" xdt:Locator="Match(name)" value="C:\working_git\HMPPS-HUB\www\temp" xdt:Transform="SetAttributes(value)" />
    <scheduling>
      <agent type="Sitecore.Tasks.CleanupAgent" method="Run" interval="06:00:00" patch:source="Sitecore.ContentTesting.config">
        <files hint="raw:AddCommand" patch:source="Sitecore.ContentTesting.config">
          <remove folder="C:\working_git\HMPPS-HUB\www\temp\MediaCache" pattern="*.*" maxAge="90.00:00:00" recursive="true" xdt:Transform="Replace" xdt:Locator="Condition([(@folder='d:\local\MediaCache')])" />
          <remove folder="d:\local\MediaCache" xdt:Transform="Insert">
            <patch:delete />
          </remove>
        </files>
      </agent>
    </scheduling>
    <sites>
      <site name="website" xdt:Locator="Match(name)" loginPage="/login" xdt:Transform="SetAttributes(loginPage)" />
    </sites>
    <settings>
      <setting name="IgnoreUrlPrefixes" value="web-api" xdt:Locator="Match(name)" xdt:Transform="Insert"/>
      <setting name="Media.CacheFolder" xdt:Locator="Match(name)" value="C:\working_git\HMPPS-HUB\www\temp\MediaCache" xdt:Transform="SetAttributes(value)"/>
      <setting name="Media.RequestProtection.SharedSecret" value="Tzagm2lG13xJOgg/86/1hmzH9jljsheWGbmnRP0TX^gyPj1oi62FctDBMgm3EgYGLc0VVINRtCbi\m4.UW^WCYqFggkaxAJgb6Agcif))Y36UIQn|/kU+ZNpYtkB.f1" xdt:Locator="Match(name)"  xdt:Transform="SetAttributes(value)"/>
    </settings>
    <submitQueue>
      <queue type="Sitecore.Analytics.Data.DataAccess.SubmitQueue.FileSubmitQueue, Sitecore.Analytics" singleInstance="true">
        <param desc="folderPath" xdt:Locator="Match(desc)" xdt:Transform="Replace">C:\working_git\HMPPS-HUB\www\temp\Submit Queue</param>
      </queue>
    </submitQueue>
    <!--Start of enabling ForwardingSecurityEvents.config only on CMS:

      These settings enable and configure the bridge
      to forward changes to users and roles from CMS server group 
      to CD server group.

      Configuration properties:

      Domains - the list of security domains configured in Sitecore for which events will be forwarded to
      CD server group.

      Targets - the list of Sitecore databases to which the events should be forwarded.


      Security considerations:

      For security reasons it is also recommended to set RemoteEvents.ListenToEvents to false for the databases listed
      in the "Targets" setting.
    -->
    <pipelines>
      <initialize>
        <processor type="Sitecore.Eventing.Remote.ForwardSecurityEvents, Sitecore.Kernel">
          <domains hint="list">
            <extranet>extranet</extranet>
          </domains>
          <targets hint="list">
            <web>web</web>
          </targets>
        </processor>
      </initialize>
    </pipelines>
    <databases>
      <database id="web">
        <remoteEvents.listenToEvents>false</remoteEvents.listenToEvents>
      </database>
    </databases>
    <!-- End of enabling ForwardingSecurityEvents.config only on CMS -->
  </sitecore>
</configuration>
