<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <!-- The Nomis API Base URL -->
      <setting name="HMPPS.NomisApiService.BaseUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{nomisapibaseurl}#" />
      <!-- The Nomis API client token -->
      <setting name="HMPPS.NomisApiService.ClientToken" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{nomisapiclienttoken}#" />
      <!-- The Nomis API secret key -->
      <setting name="HMPPS.NomisApiService.SecretKey" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{nomisapisecretkey}#" />
    </settings>
  </sitecore>
</configuration>
