<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>

    <settings>
      <setting name="CloudMedia.MediaLinkCdnServerUrl"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://evadenborossitecoretest1.blob.core.windows.net" />
    </settings>

  </sitecore>
</configuration>
