<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>

    <settings>
      <!-- The Jwt Token Security Key -->
      <setting name="HMPPS.Utilities.JwtTokenSecurityKey" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssosecuritykey}#" />
      <!-- The Authentication Checker cookie name -->
      <setting name="HMPPS.Utilities.UserDataCookieName" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssoauthcookiename}#" />
    </settings>

  </sitecore>
</configuration>
