<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>

    <settings>
      <!-- The URL that the identity provider posts the token back to, absolute URL -->
      <setting name="HMPPS.Authentication.SignInCallbackUrl"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://cd.dp-hub-devtest.p.azurewebsites.net/auth-callback" />
      <!-- The URL that handles log out -->
      <setting name="HMPPS.Authentication.LogoutUrl"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://cd.dp-hub-devtest.p.azurewebsites.net/logout" />
      <!--TODO: review these settings below for prod environment-->
      <!-- The OAUTH2 client ID -->
      <setting name="HMPPS.Authentication.ClientId" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="CMS_E3_CLIENTID" />
      <!-- The OAUTH2 client secret -->
      <setting name="HMPPS.Authentication.ClientSecret" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="KainosCMSE3" />
      <!-- The OAUTH2 claims to request -->
      <setting name="HMPPS.Authentication.Scope" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="openid profile email" />
      <!-- The OAUTH2 issuer (base URL) -->
      <setting name="HMPPS.Authentication.ValidIssuer" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/oauth2" />
      <!-- The OAUTH2 authorize endpoint -->
      <setting name="HMPPS.Authentication.AuthorizeEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/oauth2/authorize" />
      <!-- The OAUTH2 token endpoint -->
      <setting name="HMPPS.Authentication.TokenEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/oauth2/access_token" />
      <!-- The OAUTH2 logout endpoint -->
      <setting name="HMPPS.Authentication.LogoutEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://51.141.55.159:8080/openam/XUI/#logout/" />
      <!-- The Nomis API Base URL -->
      <setting name="HMPPS.Authentication.NomisApiService.BaseUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://noms-api-dev.dsd.io/nomisapi" />
      <!-- The Nomis API client token -->
      <setting name="HMPPS.Authentication.NomisApiService.ClientToken" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpYXQiOjE1MDI3ODkxNzUsImV4cCI6MTUzNDI4NzYwMCwiY2xpZW50IjoiUHJpc29uZXIgRXhwZXJpZW5jZSBQbGF0Zm9ybSAoQ01TKSIsImtleSI6Ik1Ga3dFd1lIS29aSXpqMENBUVlJS29aSXpqMERBUWNEUWdBRWFTNjFOcjBhVGw0UTRXbk5mL2twbmpIWXY4RXVva0ZkUVVZVUFFQzAzQ0ZRc2p4SktzYWgyTlhMRHRzQnozYjJzYWFQS3R1anAzMWgyUzVVNXJSaDFBPT0iLCJhY2Nlc3MiOlsiLioiXX0.2Y8iX13tw0-WuNXM7HDhfSvkD7yXsgAByLwXO95fhsdq0ZDtvSIWetDEmrOWCq-G5Muhj67rCK_yZIfJXMk4xA" />
      <!-- The Nomis API secret key -->
      <setting name="HMPPS.Authentication.NomisApiService.SecretKey" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgthDfV2dwuWRfVjTunNtPLT/leDfVlf1KFP/l397hNTqhRANCAARpLrU2vRpOXhDhac1/+SmeMdi/wS6iQV1BRhQAQLTcIVCyPEkqxqHY1csO2wHPdvaxpo8q26OnfWHZLlTmtGHU" />
    </settings>
    
  </sitecore>
</configuration>
