<?xml version="1.0"?>
<configuration>
    <sitecore>
        <settings>
            <!--SMTP details (test mailtrap account used only by the local sites)-->
            <setting name="MailServer" value="smtp.mailtrap.io"/>
            <setting name="MailServerUserName" value="ab60ddf529244c"/>
            <setting name="MailServerPassword" value="24c24ea3c8cd2b"/>
            <setting name="MailServerPort" value="25"/>
        </settings>
    </sitecore>
</configuration>
