<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <cloudMediaStorage>
      <storageProvider type="HMPPS.MediaLibrary.AzureStorage.AzureStorageProvider, HMPPS.MediaLibrary.AzureStorage">
        <param name="defaultContainer">blobs</param>
        <param name="containers" desc="Comma separated list">audio, video, game, ebook</param>
      </storageProvider>
    </cloudMediaStorage>

  </sitecore>
</configuration>
