<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <languageDefinitions>
      <languages>
        <language id="cy" region="gb" codepage="65001" encoding="utf-8" charset="iso-8859-1" icon="flags/16x16/flag_wales.png" />
      </languages>
    </languageDefinitions>
  </sitecore>
</configuration>
