<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startAnalytics>
        <processor type="HMPPS.ContactIdentification.Pipelines.IdentifyContact, HMPPS.ContactIdentification" resolve="true" >
          <param type="HMPPS.ContactIdentification.Services.ContactIdentificationService, HMPPS.ContactIdentification" />
        </processor>
      </startAnalytics>
    </pipelines>
  </sitecore>
</configuration>
