<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>

    <cloudMediaStorage>
      <storageProvider type="HMPPS.MediaLibrary.AzureStorage.AzureStorageProvider, HMPPS.MediaLibrary.AzureStorage">
        <param name="accountName" xdt:Transform="Replace" xdt:Locator="Match(name)">evadenborossitecoretest1</param>
        <param name="accountKey" xdt:Transform="Replace" xdt:Locator="Match(name)">iZqnC+l8a4BUPIeBpkTcKOgfL9YHZuVSHntXRxZpqY3styl5Se7dKiyEIlIs3UqlDp4FonUP+RNzWbugfBTD1Q==</param>
        <param name="defaultContainer" xdt:Transform="Replace" xdt:Locator="Match(name)">blobs</param>
        <param name="containers" desc="Comma separated list" xdt:Transform="Replace" xdt:Locator="Match(name)">audio, video, game, ebook</param>
      </storageProvider>
    </cloudMediaStorage>

  </sitecore>
</configuration>
