<?xml version="1.0" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <!--List all services used by custom Sitecore pipeline processors / handlers / events... etc.-->
      <!-- lifetime values can be: Singleton, Scoped, Transient (default)-->
      <register serviceType="HMPPS.Utilities.Interfaces.ICacheService, HMPPS.Utilities" implementationType="HMPPS.Utilities.Services.CacheService, HMPPS.Utilities" />
      <register serviceType="HMPPS.Utilities.Interfaces.IEncryptionService, HMPPS.Utilities" implementationType="HMPPS.Utilities.Services.EncryptionService, HMPPS.Utilities" />
      <register serviceType="HMPPS.Utilities.Interfaces.IJwtTokenService, HMPPS.Utilities" implementationType="HMPPS.Utilities.Services.JwtTokenService, HMPPS.Utilities" />
      <register serviceType="HMPPS.Utilities.Interfaces.IUserDataService, HMPPS.Utilities" implementationType="HMPPS.Utilities.Services.UserDataService, HMPPS.Utilities" />
      <register serviceType="HMPPS.NomisApiService.Interfaces.INomisApiService, HMPPS.NomisApiService" implementationType="HMPPS.NomisApiService.Services.NomisApiService, HMPPS.NomisApiService" lifetime="Scoped" />
      <register serviceType="HMPPS.ContactIdentification.Interfaces.IContactIdentificationService, HMPPS.ContactIdentification" implementationType="HMPPS.ContactIdentification.Services.ContactIdentificationService, HMPPS.ContactIdentification" />
      <register serviceType="HMPPS.ErrorReporting.IErrorManager, HMPPS.ErrorReporting" implementationType="HMPPS.ErrorReporting.ErrorManager, HMPPS.ErrorReporting" />
    </services>
    <pipelines>
      <!-- Initialises SimpleInjector IoC container used by controllers-->
      <initialize>
        <processor type="HMPPS.Site.DependencyInjection.InitializeDependencyInjection, HMPPS.Site"
                patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" />
      </initialize>
      <initializeDependencyInjection>
        <processor type="HMPPS.Site.DependencyInjection.RegisterServices, HMPPS.Site" />
      </initializeDependencyInjection>
    </pipelines>
  </sitecore>
</configuration>
