<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="HMPPS.Site.RegisterBundles, HMPPS.Site"
                           patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']"/>
            </initialize>
        </pipelines>
    </sitecore>
</configuration>
