<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>

    <settings>
      <!-- The URL that the identity provider posts the token back to, absolute URL -->
      <setting name="HMPPS.Authentication.SignInCallbackUrl"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssocallbackurl}#" />
      <!-- The URL that handles log out -->
      <setting name="HMPPS.Authentication.LogoutUrl"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssologouturl}#" />
      <!--TODO: review these settings below for prod environment-->
      <!-- The OAUTH2 client ID -->
      <setting name="HMPPS.Authentication.ClientId" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssoclientid}#" />
      <!-- The OAUTH2 client secret -->
      <setting name="HMPPS.Authentication.ClientSecret" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssoclientsecret}#" />
      <!-- The OAUTH2 claims to request -->
      <setting name="HMPPS.Authentication.Scope" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssoscope}#" />
      <!-- The OAUTH2 issuer (base URL) -->
      <setting name="HMPPS.Authentication.ValidIssuer" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssovalidissuer}#" />
      <!-- The OAUTH2 authorize endpoint -->
      <setting name="HMPPS.Authentication.AuthorizeEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssoaauthorizeendpoint}#" />
      <!-- The OAUTH2 token endpoint -->
      <setting name="HMPPS.Authentication.TokenEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssotokenendpoint}#" />
      <!-- The OAUTH2 logout endpoint -->
      <setting name="HMPPS.Authentication.LogoutEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssologoutendpoint}#" />
      <!-- The Jwt Token Security Key -->
      <setting name="HMPPS.Authentication.JwtTokenSecurityKey" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="#{ssosecuritykey}#" />
    </settings>

  </sitecore>
</configuration>
