<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="dictionaryDomain">{B824C5D0-37C9-4ED4-9E08-DBDABEF0C1AC}</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>
    <languageDefinitions>
      <languages>
        <language id="cy" region="gb" codepage="65001" encoding="utf-8" charset="iso-8859-1" icon="flags/16x16/flag_wales.png" />
      </languages>
    </languageDefinitions>
    <linkManager defaultProvider="sitecore">
      <providers>
        <clear/>
        <add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true"
          languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false"/>
      </providers>
    </linkManager>
    <settings>
      <setting name="InvalidItemNameChars" value="\/:?&quot;&lt;&gt;|[]-" />
    </settings>
  </sitecore>
</configuration>
