<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.Support.Pipelines.HttpRequest.ItemResolver,Sitecore.Support.183497</patch:attribute>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>