<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <log4net>
      <appender name="LogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <patch:attribute name="type">Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights</patch:attribute>
        <file>
          <patch:delete />
        </file>
        <appendToFile>
          <patch:delete />
        </appendToFile>
        <encoding>
          <patch:delete />
        </encoding>
      </appender>

      <appender name="WebDAVLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <patch:attribute name="type">Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights</patch:attribute>
        <file>
          <patch:delete />
        </file>
        <appendToFile>
          <patch:delete />
        </appendToFile>
        <encoding>
          <patch:delete />
        </encoding>
      </appender>

      <appender name="PublishingLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <patch:attribute name="type">Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights</patch:attribute>
        <file>
          <patch:delete />
        </file>
        <appendToFile>
          <patch:delete />
        </appendToFile>
        <encoding>
          <patch:delete />
        </encoding>
      </appender>

      <appender name="SearchLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <patch:attribute name="type">Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights</patch:attribute>
        <file>
          <patch:delete />
        </file>
        <appendToFile>
          <patch:delete />
        </appendToFile>
        <encoding>
          <patch:delete />
        </encoding>
      </appender>

      <appender name="CrawlingLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <patch:attribute name="type">Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights</patch:attribute>
        <file>
          <patch:delete />
        </file>
        <appendToFile>
          <patch:delete />
        </appendToFile>
        <encoding>
          <patch:delete />
        </encoding>
      </appender>

      <appender name="ClientLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <patch:attribute name="type">Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights</patch:attribute>
        <file>
          <patch:delete />
        </file>
        <appendToFile>
          <patch:delete />
        </appendToFile>
        <encoding>
          <patch:delete />
        </encoding>
      </appender>

      <appender name="FxmLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <patch:attribute name="type">Sitecore.Cloud.ApplicationInsights.Logging.LevelTraceAppender, Sitecore.Cloud.ApplicationInsights</patch:attribute>
        <file>
          <patch:delete />
        </file>
        <appendToFile>
          <patch:delete />
        </appendToFile>
        <encoding>
          <patch:delete />
        </encoding>
      </appender>
    </log4net>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Cloud.ApplicationInsights.TelemertyInitializers.InjectTelemertyInitializers, Sitecore.Cloud.ApplicationInsights" patch:before="*[1]" />
        <processor type="Sitecore.Cloud.ApplicationInsights.Logging.RemoveSitecoreTraceListeners, Sitecore.Cloud.ApplicationInsights" patch:before="*[1]" />
      </initialize>
    </pipelines>
    
    <scheduling>
      <agent type="Sitecore.Cloud.ApplicationInsights.PerformanceCounterGrabberAgent, Sitecore.Cloud.ApplicationInsights" method="Run" interval="00:05:00" />
    </scheduling>
    
    <settings>
      <!--  SERVER ROLE
            The name for grouping metrics from instances by server role.
            Default value: Single
      -->
      <setting name="ApplicationInsights.Role" value="CM" />
      
      <!--  TELEMETRY TAGS
            Tags that are included in telemetry data to identify the metrics from an instance.
      -->
      <setting name="ApplicationInsights.Tag" value="" />
      
      <!--  DEVELOPER MODE
            Enables developer mode in Application Insights TelemetryConfiguration.
      -->
      <setting name="ApplicationInsights.DeveloperMode" value="false" />
      
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
