<?xml version="1.0" encoding="utf-16"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <setting name="ApplicationInsights.Role" xdt:Locator="Match(name)" value="CM" xdt:Transform="SetAttributes(value)" />
    </settings>
  </sitecore>
</configuration>
