/*RadSpell Mac skin*/

.RadSpell_Mac
{
    width:460px;
    height:320px;
    border:1px solid #dadada;
    background:url(Img/spellWinBack.gif) 0 2px repeat-x #fff;
}
.RadSpell_Mac .RichTextView,
.RadSpell_Mac textarea,
.RadSpell_Mac select,
.RadSpell_Mac .MainOptions
{
    margin-left:7px;
}
.RadSpell_Mac,
.RadSpell_Mac textarea,
.RadSpell_Mac select
{
    font:normal 10px/16px arial,sans-serif;
}
/*RadSpell headings start*/
.RadSpell_Mac h3,
.RadSpell_Mac h3 em
.RadSpell_Mac h3 span
{
    height:20px; /*the same as background images' height*/
    line-height:20px; /*may be different to vertically align the text inside the tab*/
}
.RadSpell_Mac h3
{
    margin:2px 15px 0;
    padding-left:4px; /*the same as spellHeadLeft.gif's width*/
    background:url(Img/spellHeadLeft.gif) 0 0 no-repeat;
    font-size:1.1em;
    overflow:hidden;
}
.RadSpell_Mac h3 em
{
    float:left;
    padding-right:4px; /*the same as spellHeadRight.gif's width*/
    background:url(Img/spellHeadRight.gif) 100% 0 no-repeat;
    font-style:normal;
}
.RadSpell_Mac h3 span
{
    float:left;
    padding:0 5px;
    background:url(Img/spellHeadMiddle.gif) 0 0 repeat-x;
}
.RadSpell_Mac h4
{
    margin-top:1em;
    padding-left:7px;
    font-size:1.1em;
    font-weight:normal;
}
/*RadSpell headings end*/

/*RadSpell text boxes start*/
.RadSpell_Mac .RichTextView,
.RadSpell_Mac textarea
{
    height:80px;
    border-width:1px;
    border-style:solid;
    border-color:#000 #ccc #ccc #000;
    background:#fff;
    font-size:1.1em;
}
.RadSpell_Mac textarea
{
    width:318px;/*this width + side padding = .RichTextView width + side padding*/
    padding:3px 5px 3px 3px;
}
.RadSpell_Mac .RichTextView
{
    width:320px;/*this width + side padding = textarea width + side padding*/
    padding:3px;
    font-family:tahoma,sans-serif;
    cursor:text;
}
.RadSpell_Mac .RichTextView strong
{
    color:#f00;
    text-decoration:underline
}
.RadSpell_Mac .RichTextView em
{
    font-style:normal;
    color:#000;
}
/*RadSpell text boxes end*/

/*RadSpell combobox start*/
.RadSpell_Mac select,
.RadSpell_Mac .MainOptions
{
    width:328px;/*2px more than .RichTextView width + side padding*/
}
.RadSpell_Mac select
{
    height:80px;
    font-size:1.1em;
}
/*the next two must be separate*/
/*IE 7 only*/
*:first-child+html .RadSpell_Mac select
{
    height:85px;/*5px more than select*/
}
/*IE 5-6 only*/
* html .RadSpell_Mac select
{
    height:85px;/*5px more than select*/
}
.RadSpell_Mac select option
{
    padding:1px 3px 0;
}
/*RadSpell combobox end*/

/*RadSpell buttons start*/
.RadSpell_Mac .SpellOptions li,
.RadSpell_Mac .SpellOptions a
{
    /*the same as background images' height*/
    height:22px;
    line-height:22px;
}
.RadSpell_Mac .SpellOptions li
{
    width:69px;
    text-align:center;
}
.RadSpell_Mac .SpellOptions a
{
    color:#000;
    background:url(Img/spellButtonCombined.gif) 0 0 no-repeat;
    text-decoration:none;
}
.RadSpell_Mac .SpellOptions a:hover
{
    background-position:0 -23px; /*the same as background images' height*/
}
.RadSpell_Mac .MainOptions
{
    margin-top:10px;
}
.RadSpell_Mac .MainOptions li
{
    float:right;
    margin-left:10px;
}
.RadSpell_Mac .AuxOptions
{
    float:right;
    width:90px;
    margin-top:20px;
}
.RadSpell_Mac .AuxOptions li
{
    margin-top:8px;
}
.RadSpell_Mac a.disabled
{
    color:#666;
}
.RadSpell_Mac .SpellOptions a.disabled:hover
{
    background-position:0 0;
}
/*RadSpell buttons end*/

