@model Sitecore.Speak.Components.Models.Common.DatePickers.DatePickerRenderingModel
@{  
  Model.Class.Append("sc-datepicker");
  Model.Class.AppendIf(Model.ViewMode, "Textbox", "form-control");
  Model.DataBind.Value("FormattedDate").IsVisible().IsEnabled();
}

@if (Model.ViewMode == "Textbox")
{
  <input @Model.HtmlAttributes type="text"/>
}
else
{
  <div @Model.HtmlAttributes></div>
}
