@using Sitecore
@model Sitecore.Speak.Components.Models.Containers.LoadOnDemandPanel.LoadOnDemandPanelRenderingModel
@{
  Model.Class.Append("sc-load-on-demand-panel");

  Model.DataBind.IsVisible();
}
<div @Model.HtmlAttributes>
  
</div>