.sc-applicationContent-info hr {
  margin: 0 0;
}

span.sc-text[data-sc-id="GeneralInformationNameAsterisk"] {
  color: #dc271e;
}

.sc-applicationContent-info .sc-border {
  background: #FFF none repeat scroll 0% 0%;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.175);
}

.sc-applicationContent-info .sc-border .row.sc-show-padding {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
