@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Charts.Legacy
@using Sitecore.Web.UI.Controls.Common.ProgressIndicators
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  var data = userControl.GetString("Data", "data");
  var cssClass = "sc-FusionChartsDoughnutChart";
  userControl.Requires.Script("business", "FusionChartsDoughnutChart.js");    

  ChartHelper.SetAttributes(userControl);
  
  userControl.AppendClass(cssClass);
  var htmlAttributes = userControl.HtmlAttributes;
}

<div @htmlAttributes> 
</div>
 @this.Html.Sitecore().Controls().ProgressIndicator(userControl.ControlId + "ProgressIndicator", false, new { TargetControl = userControl.ControlId })