.sc-gallery-additionaloption {
  width: 100%;
  display: block;
  height: 26px;
  color:#000000;
}

.sc-gallery-additionaloption:hover {
  background-color: #E3E3E3;
  color: #000000;
}

.sc-gallery-additionaloption-iconcontainer, .sc-gallery-additionaloption-labelcontainer {
  float: left;
}

.sc-gallery-additionaloption-iconcontainer {
  margin: 5px 15px 0 12px;
}

.sc-gallery-additionaloption-labelcontainer {
  margin: 5px 0 0 0;
}

.disabled {
  opacity: .4;
  cursor: default;
}
.disabled:hover {
  border-color: transparent;
  background: transparent;
}
.disabled img {
  -webkit-filter: grayscale(1);
}
