@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  userControl.Class = "row";
  var usePadding = userControl.GetBool("UsePadding");
  var paddingType = userControl.GetString("PaddingType");

  if (usePadding)
  {
    var paddingClass = " sc-show-padding";
    if (paddingType != "All")
    {
      paddingClass += paddingType;
    }

    userControl.Class += paddingClass;
 }
    
  var controlId = userControl.ControlId;
  var htmlAttributes = userControl.HtmlAttributes;
}
<div @htmlAttributes>
  @this.Html.Sitecore().Placeholder(controlId + ".Content")
</div>