@using Sitecore.Mvc    
<header class="sc-frameworkApplicationHeader">  
  @Html.Sitecore().Placeholder("GlobalHeader")  
</header>
  
<section class="sc-applicationContent">
  @Html.Sitecore().Placeholder("ApplicationContent")
</section>