@model  Sitecore.Speak.Components.Models.SingleSelectionBaseRenderingModel
@{
  Model.DataBind.IsVisible().IsEnabled();
  Model.Class.Append("sc-radiobuttonlist");
}

<div @Model.HtmlAttributes>

  <table data-bind="if: $data.RenderAsOneLine, style: { display: $data.RenderAsOneLine() ? 'table' : 'none', width: $root.IsFullWidth() ? '100%' : 'auto'}">
    <tbody data-bind="foreach: ComputedItems">
      <tr>
        <td data-bind="foreach: data, style: { width: $parent.width }">
          <label class="sc-radiobutton">
            <input data-bind="checked:$root.SelectedValue, value:$root.getValue($data)" type="radio">
            <span data-bind="text:$root.getDisplayName($data)"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <table data-bind="ifnot: $data.RenderAsOneLine, style: { display: $data.RenderAsOneLine() ? 'none' : 'table', width: $root.IsFullWidth() ? '100%' : 'auto'}">
    <tbody data-bind="foreach: ComputedItems">
      <tr data-bind="foreach: data">
        <td data-bind="style: { width: $parent.width }">
          <label class="sc-radiobutton">
            <input data-bind="checked:$root.SelectedValue, value:$root.getValue($data)" type="radio">
            <span data-bind="text:$root.getDisplayName($data)"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>