.sc .sc-applicationContent, .sc.state2 .sc-applicationContent {
  margin-top: 50px;
 }

.sc-applicationHeader {
  padding-top: 0;
}

.xfile-sc-primaryInfo {
  margin-bottom: 1px;
}

.sc-applicationHeader-row1:after {
  top: 0;
}

div[data-sc-id=InfoRowPanel] {
  width: 100%;
  display: table;
}

div[data-sc-id=InfoRowPanel] > div {
  display: table-cell;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
}

span.sc-text[data-sc-id=TimelineText] {
  vertical-align: middle;
}

div[data-sc-id=InfoBorder] span.sc-text-largevalue {
  font-size: 22px;
  font-weight: 100;
}

span.sc-text[data-sc-id=TypeText] {
  margin-bottom: 15px;
}

div[data-sc-id=InfoBorder] span.sc-text-largevalue[data-sc-id=ChannelTypeText] {
  font-size:18px;
}

div[data-sc-id=InfoBorder] div[data-sc-id=MiddleInfoColumnPanel] {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 159px;
}

div[data-sc-id=InfoBorder] div[data-sc-id=MiddleInfoColumnPanel] span.sc-text-largevalue {
  font-size: 24px;
  font-weight: bold;
}

div[data-sc-id=InfoBorder] div.sc-border[data-sc-id=TimeBorder],
div[data-sc-id=InfoBorder] div.sc-border[data-sc-id=PageviewsBorder] {
  float: left;
  width: 50%;
}

div[data-sc-id=InfoBorder] div.sc-border[data-sc-id=MonetaryBorder] 
{
  padding-left: 150px;
}

@media (min-width: 0) and (max-width: 992px) {
  div[data-sc-id=InfoBorder] .col-md-3 {
    width: 25%;
  }

  div[data-sc-id=InfoBorder] .col-md-6 {
    width: 50%;
  }
}

div[data-sc-id=InfoBorder] {
  height: 170px;
  position: relative;
}

div[data-sc-id=InfoBorder] div[data-sc-id=CloseIconButton] {
  position: absolute;
  right: 15px;
  top: 5px;
}

span.sc-text[data-sc-id=ChannelValue],
span.sc-text[data-sc-id=GoalValue],
span.sc-text[data-sc-id=CampaignValue],
span.sc-text[data-sc-id=AssetValue],
span.sc-text[data-sc-id=GoalsValue],
span.sc-text[data-sc-id=OutcomeValue]
{
  font-weight: bold;
}

span.sc-text[data-sc-id=TimeText],
span.sc-text[data-sc-id=DurationValue]
{
  font-weight: bold;  
}

div.sc-border[data-sc-id=ValueGeneratedBorder] {
  padding-bottom: 20px;
}

span.sc-text-label[data-sc-id=RecencyValue],
span.sc-text-label[data-sc-id=LocationValue],
span.sc-text-label[data-sc-id=VisitNumberValue] {
  font-weight: bold;
}

div.sc-border[data-sc-id=OnlineGeneratedBorder],
div.sc-border[data-sc-id=DurationBorder] {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

div[data-sc-id=InfoBorder] div.sc-border[data-sc-id=OnlineTimeBorder] {
  padding-bottom: 20px;
}

div.sc-border[data-sc-id=InformationCenterBorder] {
  margin: 20px 15px 0 15px;
}

span.sc-text[data-sc-id=GoalValue] {
  width: 100%;
  padding-right: 0;
}

div.sc-border[data-sc-id=TopValuesBorder] {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

div[data-sc-id=GeneratedBorder] span.sc-text[data-sc-id=ValueGeneratedText],
div[data-sc-id=DurationBorder] span.sc-text[data-sc-id=DurationText],
div[data-sc-id=SalesAmountBorder] span.sc-text[data-sc-id=SalesAmountText],
div[data-sc-id=PageviewsBorder] span.sc-text[data-sc-id=PageviewsText] {
  font-weight: bold;
}
div[data-sc-id=GeneratedBorder],
div[data-sc-id=DurationBorder],
div[data-sc-id=SalesAmountBorder],
div[data-sc-id=PageviewsBorder]{
  margin:15px !important;
  padding:5px !important;
  border-width: 3px !important;
  border-left:3px solid; 
}

div[data-sc-id=GeneratedBorder]{  
  border-left-color:#A2CA81;  
}

div[data-sc-id=DurationBorder]{
  border-left-color:#fbd951;  
}

div[data-sc-id=SalesAmountBorder]{
  border-left-color:#A989A1;  
}
div[data-sc-id=PageviewsBorder]{  
  border-left-color:white;  
}

div[data-sc-id=OnlineLoadOnDemandPanel],
div[data-sc-id=OfflineLoadOnDemandPanel],
div[data-sc-id=OutcomeLoadOnDemandPanel]{
background-color:white;
}
 
span[data-sc-id=ChannelText],
span[data-sc-id=GoalsText], 
span[data-sc-id=CampaignText],
span[data-sc-id=AssetText],  
span[data-sc-id=ChannelValue],
span[data-sc-id=GoalsValue], 
span[data-sc-id=CampaignValue],
span[data-sc-id=AssetValue] ,
span[data-sc-id=RecencyText],
span[data-sc-id=LocationText], 
span[data-sc-id=VisitNumberValue],  
span[data-sc-id=RecencyValue],
span[data-sc-id=LocationValue], 
span[data-sc-id=VisitNumberText],
span[data-sc-id=OutcomeText],
span[data-sc-id=OutcomeValue], 
span[data-sc-id=SourceText]
{
	 padding:5px;
 }
 
 div[data-sc-id=MiddleColumnRowPanel],
 div[data-sc-id=RightColumnRowPanel]{
 padding-top:15px;
 }
 
 div[data-sc-id=LeftColumnRowPanel]
 {
	  margin-top:4%;
 }
 