@using Sitecore.Mvc

@model Sitecore.Speak.Components.Models.NotScriptCapabilityRenderingModel
@{
    Model.DataBind.IsVisible();

    var breacrumb = Html.Sitecore().Placeholder("ApplicationHeader.BreadCrumb");
    var isBreacrumbEmpty = string.IsNullOrEmpty(breacrumb.ToString());
    var noBreadcrumbClass = isBreacrumbEmpty ? "no-breadcrumb" : string.Empty;
}
<div class="sc-applicationHeader-row1 @noBreadcrumbClass">
    <div class="sc-applicationHeader-content">
        <div class="sc-applicationHeader-title">
            @Html.Sitecore().Placeholder("ApplicationHeader.Title")
        </div>
    </div>

@if (!isBreacrumbEmpty)
{
    <div class="sc-applicationHeader-content breadcrumb">
        <div class="sc-applicationHeader-breadCrumb">
            @Html.Sitecore().Placeholder("ApplicationHeader.BreadCrumb")
        </div>
    </div>
}
</div>
