@using Sitecore.Mvc
<header class="sc-applicationHeader">
  @Html.Sitecore().Placeholder("ApplicationHeader")
</header>

<section class="sc-applicationContent-main">
  @Html.Sitecore().Placeholder("ApplicationContent.Main")
</section>
