@using Sitecore.Mvc
<div class="row sc-globalHeader-content">  
  <div class="col-md-6">
    <div class="sc-globalHeader-startButton">
      @Html.Sitecore().Placeholder("GlobalHeader.StartButton")
    </div>
    <div class="sc-globalHeader-navigationToggler">
      @Html.Sitecore().Placeholder("GlobalHeader.NavigationToggler")
    </div>
  </div>
  <div class="col-md-6">
    <div class="sc-globalHeader-loginInfo">
      @Html.Sitecore().Placeholder("GlobalHeader.LoginInfo")
    </div>
  </div>
</div>