<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures communication with the CES IP Geolocation service 
to replace the regional information acquired from the CES IP Geolocation service 
with the appropriate legacy value to maintain backwards compatibility.

-->
<!-- Empty content added to disable out of the box Sitecore CES GeoIP configs -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
  </sitecore>
</configuration>
