<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the device detection component.

-->
<!-- Empty content added to disable out of the box Sitecore CES GeoIP configs -->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
   </sitecore>
</configuration>
