body {
  overflow:hidden;
}

/* --- Controls --- */
.scFill {
  width:100%;
  height:100%;
}

.scFixed {
  table-layout:fixed;
}

/* --- FormPage --- */
.scFormPageBody {
  height:100%;
  width:100%;
}
