#FileList a.scOption, 
#FileList a.scOption:link, 
#FileList a.scOption:visited, 
#FileList a.scOption:hover, 
#FileList a.scOption:active{  
  cursor:default;
  display:inline;
  padding: 5px;
  text-decoration:none;
  width:80px;
  vertical-align:top;
  font-size: 8pt;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

#FileList a.scOption:hover, 
#FileList a.scOption:active{  
  background:#e8f5fd;
  border:1px solid #d8f0fa;
  padding: 4px;
}

.scTitle {
  font-size: 8pt;
  font-weight: 600;
  padding:8px 0px 4px 4px;
  border-bottom:1px solid #999999;
}

.scBackground {
 background: white;
}

.scTileItem, 
.scTileItem:link, 
.scTileItem:visited, 
.scTileItem:hover, 
.scTileItem:active{  
  cursor:default;
  float:left;
  padding: 5px;
  text-decoration:none;
  width:196px;
  vertical-align:top;
}

.scTileItem:hover, 
.scTileItem:active{  
  background:#e8f5fd;
  border:1px solid #d8f0fa;
  padding: 4px;
}

.scTileItemIcon {
  float:left;
}

.scTileItemIconImage {
}

.scTileItemDetails {
  margin-left:36px;
}

.scTileItemDetailsHeader {
}

.scTileItemDetailsLine {
  color:#666666;
}
