.TreeView { 
  background-color:White;
  padding-top:2px;
  cursor: default; 
}

.TreeNode { 
  font-size: 8pt; 
  padding:2px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
  margin:1px 0px 1px 0px;
}

.HoverTreeNode { 
  font-size: 8pt; 
  padding:2px;
  padding-left: 3px; 
  padding-right: 3px; 
  color: #648bcb; 
  text-decoration: underline; 
  cursor: default; 
  margin:1px 0px 1px 0px;
}

.SelectedTreeNode { 
  font-size: 8pt; 
  padding:1px;
  padding-left: 2px; 
  padding-right: 2px; 
  border:1px solid;
  border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
  background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
  cursor: default; 
  margin:1px 0px 1px 0px;
}

.NodeEdit {
  border:1px silver solid;
  font-size: 11px;
}
