<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="" />
  <add name="master" connectionString="" />
  <add name="web" connectionString="" />

  <add name="analytics" connectionString="" />
  <add name="tracking.live" connectionString="" />
  <add name="tracking.history" connectionString="" />
  <add name="tracking.contact" connectionString="" />

  <add name="reporting" connectionString="" />
  <add name="cloud.search" connectionString="" />
  <add name="appinsights.instrumentationkey" connectionString="" />
</connectionStrings>
