@using Sitecore.ExperienceAnalytics.Client
@using Sitecore.ExperienceAnalytics.Client.Mvc
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@model Sitecore.ExperienceAnalytics.Client.Mvc.Presentation.ChartDvcRenderingModel

<div @Model.Control.HtmlAttributes>
    <div class="sc-ChartComposites">
        <div class="sc-chartControlsWrapper">
            @(this.Html.Sitecore().Controls().Rendering(Html.HtmlHelper(), Globals.Bcl.Renderings.Containers.Border, Model.Control.ControlId + "ControlsBorder", "", new { UsePadding = false }))
        </div>
        @(this.Html.Sitecore().Controls().Rendering(Html.HtmlHelper(), Globals.Bcl.Renderings.Containers.Border, Model.Control.ControlId + "Wrapper", "", new { UsePadding = false }))
    </div>
</div>