<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <renderField>
                <processor
                    patch:after="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                    type="HMPPS.Utilities.Pipelines.ImageFieldSizeAttributesRemover, HMPPS.Utilities"/>
            </renderField>
        </pipelines>
    </sitecore>
</configuration>
