<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- The Jwt Token Security Key -->
            <setting name="HMPPS.Utilities.JwtTokenSecurityKey" value="REMOVED" />
            <!-- The Authentication Checker cookie name -->
            <setting name="HMPPS.Utilities.UserDataCookieName" value="AuthenticationChecker" />
            <!-- The Authentication Checker cookie key -->
            <setting name="HMPPS.Utilities.UserDataCookieKey" value="JwtToken" />
        </settings>
        <pipelines>
            <renderField>
                <processor
                    patch:after="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                    type="HMPPS.Utilities.Pipelines.ImageFieldSizeAttributesRemover, HMPPS.Utilities"/>
            </renderField>
        </pipelines>
    </sitecore>
</configuration>
