@model Sitecore.Speak.Components.Models.Charts.D3ChartBaseRenderingModel
@{
  Model.Class.Append("sc-d3-areachart");
  Model.DataBind.IsVisible();
}

<div @Model.HtmlAttributes>
  @{
    if (Model.Title.Length > 0)
    {
      <div class="chart-title sc-text x-large">@Model.Title</div>
    }
  }
  <div class="sc-d3-nodata-panel">@Model.NoDataToDisplay</div>
  <svg class="sc-d3-chart-legend" id="svg-legend-@Model.ControlId">
    <g class="nv-legendWrap nvd3-svg">
      <g class="nvd3 nv-legend"></g>
    </g>
  </svg>
  <div class="nv-axislabel custom"></div>
  <svg class="sc-d3-chart-canvas" id="svg-@Model.ControlId"></svg>
</div>

