code, iframe, .scLoadingIndication {  /* should be delete after fixing itemWebApi problem about page editor */
  display: none !important;
}

body.sc {
  min-width: 700px;
  overflow-x: auto;
}
/*should be delete after fixing header issue in speak project*/
header.sc-globalHeader {
  padding-left: 0;
  padding-right: 0;
}

header.sc-globalHeader .sc-global-logo {
  margin-left: 15px;
}
/*----------*/

div[data-sc-id=SearchBorder] {
  display: inline-block;
  width: 450px;
}

img[data-sc-id=Photo] {
  float: left;
  cursor: pointer;
}

a[data-sc-id=ContactEmailHyperlink] {
  display: block;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

img[data-sc-id=LatestVisitImage] {
  float: left;
  margin-top: 4px;
}

div[data-sc-id=LatestVisitBorder] {
  margin-left: 46px;
}

label[data-sc-id=LatestVisitHeader] {
  margin-bottom: 6px !important;
  font-weight: bold;
}

label[data-sc-id=LatestVisitLocation] {
  margin-top: 6px !important;
}

div[data-sc-id=ValueColumn], div[data-sc-id=PageViewsColumn] {
  padding-top: 24px;
}

span[data-sc-id=ValueValue], span[data-sc-id=PageViewsValue]  {
  font-size: 220%;
}

div[data-sc-id=ContactRowPanel] div[data-sc-id=ValueColumn] .sc-label, 
div[data-sc-id=ContactRowPanel] div[data-sc-id=PageViewsColumn] .sc-label {
  font-size: 75%;
}

div[data-sc-id=ContactRepeater] > div:first-child {
    border-top: 0;
}

div[data-sc-id=ContactRepeater] > div:nth-child(even) {
    background-color: #FAFAFA;
}

span[data-sc-id=TotalVisitsTitle] {
    margin-right: 20px !important;
    color: #707070;
}

button[data-sc-id=ContactCardButton] {
    margin-top: 20px;
}

div[data-sc-id=SearchMessageBar] {
    margin-bottom: 15px;
}

div.sc-border[data-sc-id=NoSearchResult] {
    padding: 15px 0;
}

div.sc-border[data-sc-id=ContactBorder] {
  border-top: 1px solid #ccc;
}

div[data-sc-id=ContactRepeater] > div:first-child div.sc-border[data-sc-id=ContactBorder] {
  border-top: none;
}

label[data-sc-id=ValueHeader],
label[data-sc-id=PageViewsHeader],
label[data-sc-id=LatestVisitHeader]
{
  text-transform: uppercase;
}

div.sc-border[data-sc-id=DescriptionBorder] {
  padding-top: 4px;
}

div.sc-border[data-sc-id=PersonalInfo] {
  padding-left: 80px;
}

label.sc-label[data-sc-id=LatestVisitTime],
label.sc-label[data-sc-id=LatestVisitLocation]{
  line-height: 130%;
}

div.sc-advancedExpander[data-sc-id=VisitorsAccordion] .sc-advancedExpander-body
{
  border: none;
}

@media (min-width: 700px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-4 {
    width: 33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
    padding-left: 0;
  }

  .col-md-2[data-sc-id=ValueColumn] {
    width: 14.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }
}

.sc-breadcrumb > ul > li {
  color: #f9d8d7;
}

.sc-listcontrol .sc-table tbody tr td a[href] {
  text-decoration: underline;
}

.sc-listcontrol .sc-table tbody tr td a[href]:hover {
  text-decoration: none;
}

.sc-listcontrol .sc-table tbody tr td a {
  padding: 14px 15px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}


