@model Sitecore.Speak.Components.Models.Common.Timelines.TimelineRenderingModel
@{
  Model.Class.Append("sc-timeline");
  Model.DataBind.IsVisible();
}
<div @Model.HtmlAttributes>
  <div class="timeline"></div>
</div>