@using Sitecore
@model Sitecore.Speak.Components.Models.NotScriptCapabilityRenderingModel
@{
  Model.DataBind.IsVisible();
}
<div @Model.HtmlAttributes class="sc-search row">
  <div class="sc-search-filters col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left">
    @Html.Raw(ClientHost.Web.PlaceHolder(Model.ControlId + ".Filters").ToHtmlString())
  </div>

  <div class="sc-search-searches col-lg-8 col-md-8 col-sm-8 col-xs-8">
    @Html.Raw(ClientHost.Web.PlaceHolder(Model.ControlId + ".Searches").ToHtmlString())
  </div>

  <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 sc-search-details">
    @Html.Raw(ClientHost.Web.PlaceHolder(Model.ControlId + ".Details").ToHtmlString())
  </div>
</div>