@model Sitecore.Speak.Components.Models.Common.ContextSwitchers.ContextSwitcherRenderingModel
@{
  Model.Class.Append("sc-dropdownbutton sc-contextswitcher");
  Model.DataBind.IsVisible().Click("toggle");
}

<div @Model.HtmlAttributes>
  <button data-bind="enable: (IsEnabled() && Items().length > 1), visible: Items().length > IsHiddenForSingleContext() ? 1 : 0, css: { 'up': IsOpen() }" class="btn btn-default">
    <span class="sc-togglebutton-text" data-bind="text: getDisplayName(SelectedItem())"></span>
    <div class="sc-dropdownbutton-toggler">
      <div class="sc-dropdownbutton-chevron" data-bind="css: { 'up': IsOpen() }"></div>
    </div>
  </button>
  <div data-bind="style: { visibility: IsOpen() ? 'visible' : 'hidden'}, css: { right: DropPanelAlignment() === 'Right' }" class="sc-contextswitcher-panel sc-dropdownbutton-contentpanel default">
    <div class="row" data-bind="foreach: Items, css: { 'doublewidth': Items().length > 1, 'triplewidth':Items().length > 12 }">
      <div class="sc-contextswitcher-item-container col-xs-12" data-bind="css: { 'col-xs-6': $parent.getNumOfItems() > 1 , 'col-xs-4': $parent.getNumOfItems() > 12 }">
        <button class="sc-contextswitcher-item" data-bind="css: { 'selected':$parent.SelectedValue() == $parent.getValue($data) }, text:  $parent.getDisplayName($data), attr: {'title':$parent.getDisplayName($data), 'data-sc-click': $data['Click'] ? Click : '' }"></button>
      </div>
    </div>
  </div>
</div>


