@using Sitecore
@model Sitecore.Speak.Components.Models.Containers.ColumnPanels.ColumnPanelRenderingModel
@{
  var gridColoums = Model.GridColumns;
  if (gridColoums > 0)
  {
    Model.Class.Append("col-md-" + gridColoums);
    if (Model.ApplyGridColumsToAllSizes)
    {
      Model.Class.Append("col-lg" + gridColoums + " col-sm-" + gridColoums + " col-xs-" + gridColoums);
    }
  }
  Model.Class.AppendIf((Model.ContentAlign == "Right"), "text-right")
    .AppendIf((Model.ContentAlign == "Center"), "text-center")
    .AppendIf((Model.ContentAlign == "Left"), "text-left");
}
<div @Model.HtmlAttributes>
  @Html.Raw(ClientHost.Web.PlaceHolder(Model.Id + ".Content").ToHtmlString())
</div>