/*
** Base styles
*/

.scBackground
{
  background: threedface;
}

.scFont 
{
  color: windowtext;
  font-size:  8pt;
}

/*
** Bevels
*/

.scBevelVerticalLine
{
  border-left: 1px solid threedshadow;
  border-right: 1px solid threedhighlight;
}

.scBevelHorizontalLine
{
  border-top: 1px solid threedshadow;
  background: threedhighlight;
}

.scBevelRaisedBox
{
  border-top: 1px solid threedhighlight;
  border-left: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
}

.scBevelLoweredBox
{
  border-top: 1px solid threedshadow;
  border-left: 1px solid threedshadow;
  border-right: 1px solid threedhighlight;
  border-bottom: 1px solid threedhighlight;
}

/* 
** Buttons
*/

.scButton
{
  font-size:  8pt;
}

/*
** ComboEditInput
*/

.scComboEditInput
{
}

/*
** Listview
*/
.scListviewItemIconsNormal
{
	font-size:  8pt;
  color: windowtext;
}

.scListviewItemIconsSelected
{
  background: highlight;
  color: highlighttext;
	font-size:  8pt;
}

.scListviewViewIconsIcon 
{
}

.scListviewItemListNormal
{
	font-size:  8pt;
}

.scListviewItemListSelected
{
  background: highlight;
  color: highlighttext;
	font-size:  8pt;
}

.scListviewItemDetailsNormal
{
	font-size:  8pt;
}

.scListviewItemDetailsSelected
{
  background: highlight;
  color: highlighttext;
	font-size:  8pt;
}

.scListviewItemDetailsCell
{
}

.scListviewViewDetailsHeader
{
  background: threedface;
  border-left: 1px solid threedhighlight;
  border-top: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
 	font-size:  8pt;
}

.scListviewItemThumbnailsNormal
{
  color: windowtext;
	font-size:  8pt;
}

.scListviewItemThumbnailsSelected
{
  background: highlight;
  color: highlighttext;
	font-size:  8pt;
}

.scListviewViewThumbnailsIcon 
{
  border: 1px solid threedface;
}

.scListviewItemDocumentNormal
{
  border-bottom: 1px solid threedface;
  color: highlight;
	font-size:  8pt;
}

.scListviewItemDocumentSelected
{
  border-bottom: 1px solid threedface;
  background: highlight;
  color: highlighttext;
	font-size:  8pt;
}

.scListviewItemDocumentTable
{
	font-size:  8pt;
}

.scListviewItemDocumentName
{
	font-weight: 600; 
  font-size: 8pt;
}

.scListviewItemDocumentTitle
{
  color: windowtext;
	font-size:  8pt;
}

.scListviewItemDocumentText
{
  color: windowtext;
  font: italic 8pt inherited;
}

.scListviewDetailline
{
	font-size:  8pt;
}

.scListviewNavigator
{
  background: threedface;
  border-left: 1px solid threedhighlight;
  border-top: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
	font-size:  8pt;
}

.scListviewNavigatorItem
{
	font-size:  8pt;
  font-weight:600;
}

.scListviewNavigatorItemActive
{
  color:activecaption;
	font-size:  8pt;
  font-weight:600;
}


/*
** Menus
*/

.scMenu
{
  color: menutext;
  background: menu;
  border: 1px solid windowframe;
  font-size:  8pt;
}

.scMenuItemIcon
{
  background: threedface;
  cursor:hand;
}

.scMenuItemCaption
{
  cursor:hand;
}

.scMenuItemHotkey
{
  cursor:hand;
}

.scMenuItemActiveIcon
{
  background: #C1D2EE;
	border: 1px solid #316AC5;
	border-right: none;
  color: menutext;
  cursor:hand;
}

.scMenuItemActiveCaption
{
  background: #C1D2EE;
	border: 1px solid #316AC5;
	border-left: none;
	border-right: none;
  color: menutext;
  cursor:hand;
}

.scMenuItemActiveHotkey
{
  background: #C1D2EE;
	border: 1px solid #316AC5;
	border-left: none;
  color: menutext;
  cursor:hand;
}

.scMenuItemDisabledIcon
{
  background: threedface;
  cursor:default;
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.scMenuItemDisabledCaption
{
  color: graytext;
  cursor:default;
}

.scMenuItemDisabledHotkey
{
  color: graytext;
  cursor:default;
}

.scMenuItemActiveDisabledIcon
{
  background: threedface;
  cursor:default;
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.scMenuItemActiveDisabledCaption
{
  cursor:default;
}

.scMenuItemActiveDisabledHotkey
{
  cursor:default;
}

.scMenuDividerIcon
{
  background: threedface;
}

.scMenuDividerCaption
{
  background: threedface;
  border-top: 2px solid window;
  border-bottom: 2px solid window;
}

.scMenuDividerHotkey
{
  background: threedface;
  border-top: 2px solid window;
  border-bottom: 2px solid window;
}

/*
** Menubar
*/

.scMenubar
{
  background: threedface;
  border: none;
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#F1F3F1', EndColorStr='#ECE9D8');
}


/* 
** Notebook 
*/

.scNotebookFrame
{
  border-left: 1px solid threedhighlight;
  border-bottom: 1px solid threedshadow;
  border-right: 1px solid threedshadow;
}

/* 
** Scrollbox 
*/

.scScrollbox
{
  background: window;
  border: 1px inset;
}

/*
** SpinEdit
*/

.scSpinEditButton
{
}

.scSpinEditInput
{
}

/* 
** Tabstrip Top Tabs 
*/

.scTabstripTopTabs
{
  border-top: 2px solid #FFFBE9;
  background: #FFFBE9;
}

.scTabstripTopTabs_Tab
{
  color: #817E73;
}

.scTabstripTopTabs_TabHover
{
  color: #FF9933;
  text-decoration: underline;
}

.scTabstripTopTabs_ActiveTab
{
  background: threedface;
  font-weight: 600;
}

.scTabstripTopTabs_ActiveTabHover
{
  background: threedface;
  color: #FF9933;
  font-weight: 600;
  text-decoration: underline;
}

.scTabstripTopTabs_Filler
{
}

/* 
** Tabstrip Bottom Tabs 
*/

.scTabstripBottomTabs
{
  border-bottom: 2px solid #FFFBE9;
  background: #FFFBE9;
}

.scTabstripBottomTabs_Tab
{
  color: #817E73;
}

.scTabstripBottomTabs_TabHover
{
  color: #FF9933;
  text-decoration: underline;
}

.scTabstripBottomTabs_ActiveTab
{
  background: threedface;
  font-weight: 600;
}

.scTabstripBottomTabs_ActiveTabHover
{
  background: threedface;
  color: #FF9933;
  font-weight: 600;
  text-decoration: underline;
}

.scTabstripBottomTabs_Filler
{
}

/* 
** Tabstrip Buttons 
*/

.scTabstripButtons
{
  border: 3px solid #FFFBE9;
  background: #FFFBE9;
}

.scTabstripButtons_Tab
{
  color: #817E73;
}

.scTabstripButtons_TabHover
{
  color: #FF9933;
  text-decoration: underline;
}

.scTabstripButtons_ActiveTab
{
  background: window;
}

.scTabstripButtons_ActiveTabHover
{
  background: window;
  color: #FF9933;
  text-decoration: underline;
}

.scTabstripButtons_Filler
{
}

/*
** Toolbar
*/

.scToolbar
{
  background: threedface;
  border: none;
  width:100%;
  padding-left: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#F1F3F1', EndColorStr='#ECE9D8');
}

/*
** Toolbutton
*/

.scToolbutton
{
  background: transparent;
  color: buttontext;
	font-size:  8pt;
}

.scToolbuttonDisabled
{
  background: transparent;
  color: buttontext;
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	font-size:  8pt;
}

.scToolbuttonDown
{
  background: #E1E6E8;
  border: 1px solid #316AC5;
  color: buttontext;
	font-size:  8pt;
}

.scToolbuttonHover
{
  background: #C1D2EE;
  border: 1px solid #316AC5;
  color: buttontext;
	font-size:  8pt;
}

.scToolbuttonHot
{
  background: #98B5E2;
  border: 1px solid #316AC5;
  color: buttontext;
	font-size:  8pt;
}

/*
** Treeview
*/
.scTreeview
{
}

.scTreeitem
{
  cursor:default;
  font-size:  8pt;
  height:20px;
}

.scTreeitemNormal
{
}

.scTreeitemHover
{
  color: activecaption;
  text-decoration: underline;
}

.scTreeitemSelected
{
  background: highlight;
  color: highlighttext;
}

.scTreeHeader
{
}

.scTreeitemText
{
}

.scTreeviewNavigator
{
}

.scTreeviewNavigatorPanel
{
  background: threedface;
}

.scTreeviewNavigatorItem
{
  font-weight:600;
}

.scTreeviewNavigatorItemActive
{
  color:activecaption;
  font-weight:600;
}

.scTreeitemValue
{
  border-left: 1px solid threedface;
}

.scTreeHeaderItem
{
  background: threedface;
  border-left: 1px solid threedhighlight;
  border-top: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
  font-size:  8pt;
  font-weight: 600;
  padding: 2px;
  text-align: left;
}

/*
** Shell
*/
.scShellTasks
{
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7BA2E7', EndColorStr='#6375D6');
}

/*
** Taskbox
*/
.scTaskboxCaption
{
	color : #0148B2;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#C5D2F0');
    font-weight: 600;
    font-size: 8pt;	
}

.scTaskboxBody
{
  background: white;    
}

/*
** Tasks
*/

.scTaskOption
{
  color:white;
  font-weight: 600; 
  font-size: 8pt;
}

