<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <defaults>
        <targetDataStore>
          <patch:attribute name="physicalRootPath">C:\working_git\HMPPS-HUB\src\HMPPS.Site\App_Data\Unicorn\$(configurationName)</patch:attribute>
        </targetDataStore>
      </defaults>
    </unicorn>
  </sitecore>
</configuration>
