<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="Media.ThumbnailCacheFolder" value="/App_Data/MediaThumbnailCache/" />
      <setting name="Media.AlwaysIncludeCdnServerUrl" value="false" />
    </settings>


    <pipelines>
      <!-- Custom Pipeline to Process Media Items -->
      <cloud.MediaProcessor argsType="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.MediaProcessorArgs">
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.GenerateThumbnail, HMPPS.MediaLibrary.CloudStorage" />
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.CalculateFileHash, HMPPS.MediaLibrary.CloudStorage" />
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.UploadToCdn, HMPPS.MediaLibrary.CloudStorage" />
      </cloud.MediaProcessor>

      <getMediaStream>
        <processor patch:before="*[1]" type="HMPPS.MediaLibrary.CloudStorage.Pipelines.GetMediaStream.FileBasedThumbnailProcessor, HMPPS.MediaLibrary.CloudStorage" />
      </getMediaStream>
    </pipelines>


    <processors>
      <uiUpload>
        <processor patch:before="*[1]" type="HMPPS.MediaLibrary.CloudStorage.Pipelines.uiUpload.EnsureFileBasedMedia, HMPPS.MediaLibrary.CloudStorage" mode="on" />
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.uiUpload.ProcessMedia, HMPPS.MediaLibrary.CloudStorage" mode="on" patch:after="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" />
      </uiUpload>

      <attachFile>
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.AttachFile.DeletePreviousMedia, HMPPS.MediaLibrary.CloudStorage" mode="on" patch:before="*[@type='Sitecore.Pipelines.Attach.UpdatePath,Sitecore.Kernel']" />
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.AttachFile.ProcessMedia, HMPPS.MediaLibrary.CloudStorage" mode="on" />
      </attachFile>
    </processors>


    <events>
      <event name="item:deleting">
        <handler type="HMPPS.MediaLibrary.CloudStorage.Events.MediaItemDeleting, HMPPS.MediaLibrary.CloudStorage" method="OnItemDeleting"/>
      </event>
    </events>


    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">HMPPS.MediaLibrary.CloudStorage.Media.MediaProvider, HMPPS.MediaLibrary.CloudStorage</patch:attribute>
      </mediaProvider>
    </mediaLibrary>

    <containerMediaPathRelationships>
      <relationship name="containerMediaPathRelationship.ebooks" containerName="ebook" sitecorePath="/sitecore/media library/Files/HMPPS/Books" />
      <relationship name="containerMediaPathRelationship.audio" containerName="audio" sitecorePath="/sitecore/media library/Files/HMPPS/Audios" />
      <relationship name="containerMediaPathRelationship.games" containerName="game" sitecorePath="/sitecore/media library/Files/HMPPS/Games" />
      <relationship name="containerMediaPathRelationship.videos" containerName="video" sitecorePath="/sitecore/media library/Files/HMPPS/Videos" />
      <relationship name="containerMediaPathRelationship.test" containerName="testnewcontainer" sitecorePath="/sitecore/media library/Files/HMPPS/TestNewContainer" />
    </containerMediaPathRelationships>

  </sitecore>
</configuration>
