<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="Media.ThumbnailCacheFolder" value="/App_Data/MediaThumbnailCache/" />
      <setting name="Media.AlwaysIncludeCdnServerUrl" value="false" />
      <setting name="CloudMedia.MediaLinkCdnServerUrl" value="REMOVED" />
    </settings>


    <pipelines>
      <!-- Custom Pipeline to Process Media Items -->
      <cloud.MediaProcessor argsType="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.MediaProcessorArgs">
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.GenerateThumbnail, HMPPS.MediaLibrary.CloudStorage" />
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.CalculateFileHash, HMPPS.MediaLibrary.CloudStorage" />
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.UploadToCdn, HMPPS.MediaLibrary.CloudStorage" />
      </cloud.MediaProcessor>

      <getMediaStream>
        <processor patch:before="*[1]" type="HMPPS.MediaLibrary.CloudStorage.Pipelines.GetMediaStream.FileBasedThumbnailProcessor, HMPPS.MediaLibrary.CloudStorage" />
      </getMediaStream>
    </pipelines>


    <processors>
      <uiUpload>
        <processor patch:before="*[1]" type="HMPPS.MediaLibrary.CloudStorage.Pipelines.uiUpload.EnsureFileBasedMedia, HMPPS.MediaLibrary.CloudStorage" mode="on">
          <config type="HMPPS.MediaLibrary.CloudStorage.Configuration.LocationConfiguration, HMPPS.MediaLibrary.CloudStorage">
            <locations  hint="list:AddLocation">
              <location type="HMPPS.MediaLibrary.CloudStorage.Configuration.Location, HMPPS.MediaLibrary.CloudStorage">
                <mediaFolder>/sitecore/media library/Files/HMPPS/Audios</mediaFolder>
                <containerName>audio</containerName>
              </location>
              <location type="HMPPS.MediaLibrary.CloudStorage.Configuration.Location, HMPPS.MediaLibrary.CloudStorage">
                <mediaFolder>/sitecore/media library/Files/HMPPS/Videos</mediaFolder>
                <containerName>video</containerName>
              </location>
              <location type="HMPPS.MediaLibrary.CloudStorage.Configuration.Location, HMPPS.MediaLibrary.CloudStorage">
                <mediaFolder>/sitecore/media library/Files/HMPPS/Games</mediaFolder>
                <containerName>game</containerName>
              </location>
              <location type="HMPPS.MediaLibrary.CloudStorage.Configuration.Location, HMPPS.MediaLibrary.CloudStorage">
                <mediaFolder>/sitecore/media library/Files/HMPPS/Books</mediaFolder>
                <containerName>ebook</containerName>
              </location>
            </locations>
            <!-- *** Add as many media library locations as required to force those folders to upload to cloud storage ***
            <location>/sitecore/media library/CloudMedia</location> -->
          </config>
        </processor>
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.uiUpload.ProcessMedia, HMPPS.MediaLibrary.CloudStorage" mode="on" patch:after="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" />
      </uiUpload>

      <attachFile>
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.AttachFile.DeletePreviousMedia, HMPPS.MediaLibrary.CloudStorage" mode="on" patch:before="*[@type='Sitecore.Pipelines.Attach.UpdatePath,Sitecore.Kernel']" />
        <processor type="HMPPS.MediaLibrary.CloudStorage.Pipelines.AttachFile.ProcessMedia, HMPPS.MediaLibrary.CloudStorage" mode="on" />
      </attachFile>
    </processors>


    <events>
      <event name="item:deleting">
        <handler type="HMPPS.MediaLibrary.CloudStorage.Events.MediaItemDeleting, HMPPS.MediaLibrary.CloudStorage" method="OnItemDeleting"/>
      </event>
    </events>


    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">HMPPS.MediaLibrary.CloudStorage.Media.MediaProvider, HMPPS.MediaLibrary.CloudStorage</patch:attribute>
      </mediaProvider>
    </mediaLibrary>

  </sitecore>
</configuration>
