.scSpot
{
  background:white;
  filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=60, FinishOpacity=0, Style=2, StartX=0,  FinishX=100, StartY=0, FinishY=100);
  height:512px;
  position:absolute;
  width:512px;
  left:-64px;
  top:-64px;
  z-index: -1;
}

