.thumbnail-loading {
  border: solid 1px #cccccc;
  width: 100%;
  height: 100px;
}
.ssthumbnail {
  width: 100%;
  text-align: center;
  height: 100%;
}
.ssthumbnail img {
  max-width: 100%;
  max-height: 100%;
}
.ssthumbnail.blank {
  background-color: #cccccc;
  border: solid 1px #cccccc;
}
