.sc select[data-sc-id="UserComboBox"] {
  width: 220px;
}
.sc .sc-radiobutton {
  display: block;
  margin: 3px;
}
.sc span[data-sc-id="RadioIndicatorLabel"] {
  width: 150%;
  display: inline-block;
  color: white;
  background-color: #474747;
  padding: 10px;
  margin-bottom: 10px;
}
.sc span[data-sc-id="UsersIndicatorLabel"] {
  height: 37px;
  width: 100%;
  display: inline-block;
  color: white;
  background-color: #474747;
  padding: 10px;
  margin-bottom: 10px;
}
.sc div[data-sc-id="FilterBorder"] {
  background-color: white;
  margin-bottom: 15px;
  padding-bottom: 12px;
}
.sc label[data-sc-id="ChartHeaderLabel"] {
  background-color: white;
  display: block;
  padding: 15px;
}
.sc-filteredcombobox {
  width: 410px;
}
.sc-filteredcombobox .scFiltList-dvList {
  width: 440px;
}
