<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- DefaultPushSource key is similar to the 'DefaultPushSource' key of NuGet.Config schema-->
    <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org -->
    <config>
    </config>

    <!-- Default Package Sources -->
    <!-- They cannot be deleted or modified but can be disabled/enabled by user -->
    <!-- The following section is similar to 'packageSources' section of NuGet.Config schema -->
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Sitecore.Net" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
		<add key="E3 Nuget feed" value="https://e3media.pkgs.visualstudio.com/_packaging/E3/nuget/v3/index.json" />
    </packageSources>

    <!-- Default Package Sources that are disabled by default -->
    <!-- They cannot be modified or deleted either but can be enabled/disabled by user -->
    <!-- The following section is similar to 'disabledPackageSources' section of NuGet.Config schema -->
    <!-- The value part of the entry in 'disabledPackageSources' section has no effect -->
    <disabledPackageSources>
    </disabledPackageSources>
</configuration>