<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
      <!-- The Nomis API Base URL -->
      <Parameter name="HMPPS.NomisApiService.BaseUrl" value="" />
      <!-- The Nomis API client token -->
      <Parameter name="HMPPS.NomisApiService.ClientToken" value="" />
      <!-- The Nomis API secret key -->
      <Parameter name="HMPPS.NomisApiService.SecretKey" value="" />
  </TestRunParameters>
</RunSettings>
