.sc-gallery-option-content, .sc-gallery-option-content-active {
  padding: 6px 4px 6px 4px; 
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sc-gallery-option-content:hover, .sc-gallery-option-content-active:hover {
  background-color: #E3E3E3;
}

.sc-gallery-option-content-active {
  background-color: #D0EBF6;
}

.sc-gallery-option-content-header {
  font-weight: bold; 
}