<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The Nomis API Base URL -->
    <add key="HMPPS.NomisApiService.BaseUrl" value="https://noms-api-dev.dsd.io/nomisapi" />
    <!-- The Nomis API client token -->
    <add key="HMPPS.NomisApiService.ClientToken" value="REMOVED" />
    <!-- The Nomis API secret key -->
    <add key="HMPPS.NomisApiService.SecretKey" value="REMOVED" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
