@using Sitecore.Mvc
@model Sitecore.Speak.Components.Models.Structures.Page_Structures.Application.Dashboards.DashboardRenderingModel
@{
  var globalFooter = Html.Sitecore().Placeholder("GlobalFooter");
  var isFooterEmpty = string.IsNullOrEmpty(globalFooter.ToString());
}

@if (!Model.IsHeaderHidden)
{
  <header class="sc-globalHeader">
    @Html.Sitecore().Placeholder("GlobalHeader")
  </header>
}

<section class="sc-applicationContent @Model.IsTopClass()">
  @Html.Sitecore().Placeholder("ApplicationContent")
</section>

@if (Model.ShowFooter && !isFooterEmpty)
{
  @globalFooter
}