.sc_LargeDropDownButton_DropDownItemsContainer {
  background-color: #fff;
  border: 1px solid #D6D6D6;
  border-collapse: separate;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.sc_LargeDropDownButton_DropDownItemsContainer .sc_DropDownItem {
  height: 34px;
  position: relative;
  cursor: pointer;
}
.sc_LargeDropDownButton_DropDownItemsContainer .sc_DropDownItem:hover {
  background-color: #e3e3e3;
}

.sc_LargeDropDownButton_DropDownItemsContainer .sc_DropDownItem .sc_DropDownItemLink {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(43, 43, 43);
  padding-left: 14px;
  padding-right: 14px;
}

.sc_LargeDropDownButton_DropDownItemsContainer .sc_DropDownItem .sc_DropDownItemLink_Disabled {
  color: #B3B3B3;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 14px;
  padding-right: 14px;
}

.sc_LargeDropDownButton_DropDownItemsContainer .sc_DropDownItem .sc_DropDownItemLink:hover {
  background-color: #e3e3e3;
}

.sc_LargeDropDownButton_DropDownItemsContainer .sc_DropDownItem .sc_DropDownItemImage {
  position: relative;
  top: 10px;
  border: none;
}

.sc_LargeDropDownButton_DropDownItemsContainer .sc_DropDownItem .sc_DropDownItemText {
  position: relative;
  top: 9px;
  padding-left: 5px;
}