@using Sitecore.Mvc
@using Sitecore.ExperienceEditor.Speak.Ribbon.Controls.InsertOptions
@model Sitecore.Mvc.Presentation.RenderingModel
@Html.Sitecore().Controls().InsertOptions(Model.Rendering)

<!-- Element: InsertPage 
    <div class="sc-insert-items">
      

        <a href="#" class="sc-item-thumbnail sc-item-thumbnail-selected">
            <div class="sc-image-container">
                <img src="/sitecore/shell/client/Sitecore/Speak/Ribbon/Assets/Images/SitecoreIcons/48x48/index.png" alt="Accordion folder">
            </div>
            <span class="sc-display-name">AccordionFolder</span>
        </a>
        <a href="#" class="sc-item-thumbnail">
            <div class="sc-image-container">
                <img src="/sitecore/shell/client/Sitecore/Speak/Ribbon/Assets/Images/SitecoreIcons/48x48/rss.png" alt="Syndication feed">
            </div>
            <span class="sc-display-name">SyndicationFeed</span>
        </a>
        <a href="#" class="sc-item-thumbnail">
            <div class="sc-image-container">
                <img src="/sitecore/shell/client/Sitecore/Speak/Ribbon/Assets/Images/SitecoreIcons/48x48/newspaper.png" alt="News">
            </div>
            <span class="sc-display-name">News</span>
        </a>
        <a href="#" class="sc-item-thumbnail">
            <div class="sc-image-container">
                <img src="/sitecore/shell/client/Sitecore/Speak/Ribbon/Assets/Images/SitecoreIcons/48x48/folder_document.png" alt="News folder">
            </div>
            <span class="sc-display-name">NewsFolder</span>
        </a>
        <a href="#" class="sc-item-thumbnail">
            <div class="sc-image-container">
                <img src="/sitecore/shell/client/Sitecore/Speak/Ribbon/Assets/Images/SitecoreIcons/48x48/phone_redirect.png" alt="Redirect item">
            </div>
            <span class="sc-display-name">RedirectItem</span>
        </a>

    </div>-->