<?xml version="1.0" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <!--List all services used by custom Sitecore pipeline processors / handlers / events... etc.-->
      <!-- lifetime values can be: Singleton, Scoped, Transient (default)-->
      <register serviceType="HMPPS.ErrorReporting.ILogManager, HMPPS.ErrorReporting" implementationType="HMPPS.ErrorReporting.SitecoreLogManager, HMPPS.ErrorReporting" />
    </services>
  </sitecore>
</configuration>
