@model Sitecore.Speak.Components.Models.Common.GlobalLogos.GlobalLogoRenderingModel
@{
  Model.NoScript();  
  
  Model.Class.Append("sc-global-logo");
  Model.Class.Append(Model.Size.ToLower());
    
  Model.DataBind.IsVisible();
  Model.DataBind.Bind("attr", "{title: Tooltip()}");
}
<a @Model.HtmlAttributes href="@Model.NavigateUrl"></a>