div[data-sc-id=MoreCampaignsBorder] {
  border-top: 1px solid #ccc !important;
}

div[data-sc-id=Campaigns] td.ventilate {
    cursor: pointer;
}

div.sc-advancedExpander[data-sc-id=CampaignsAccordion] .sc-advancedExpander-body
{
  border: none;
}




