@model Sitecore.Social.Client.Mvc.Areas.Social.Models.ShareButtonViewModel
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<div style="float:right;" onclick="@Model.SubscribeToShareButtonEventScript">
  <script type="IN/Share" data-url="@Model.SharePageUrlWithAnalyticsParameters" data-counter="right"></script>
</div>