@model Sitecore.Speak.Components.Models.Indicators.ValueLabels.ValueLabelRenderingModel
@{
    Model.Class.Append("sc-ValueLabel");
    Model.DataBind.IsVisible();
    Model.DataBind.Bind("attr", "{ title: Tooltip() }");
}
<div @Model.HtmlAttributes>
  <div class="sc-ValueLabel-Row">
    @if (Model.LabelPosition == "Top")
    {
      <div class="sc-ValueLabel-Cell sc-@Model.LabelPosition">
        <div class="sc-ValueLabel-Label sc-ValueLabel-@Model.LabelSize" data-bind="html: Label, style: { color: LabelColor }"></div>
      </div>
  <div class="sc-ValueLabel-Cell sc-@Model.LabelPosition">
    <div class="sc-ValueLabel-Value sc-ValueLabel-@Model.ValueSize" data-bind="html: Value, style: { color: ValueColor }"></div>
  </div>
    }
    else
    {
      <div class="sc-ValueLabel-Cell sc-@Model.LabelPosition">
        <div class="sc-ValueLabel-Value sc-ValueLabel-@Model.ValueSize" data-bind="html: Value, style: { color: ValueColor }"></div>
      </div>
  <div class="sc-ValueLabel-Cell sc-@Model.LabelPosition">
    <div class="sc-ValueLabel-Label sc-ValueLabel-@Model.LabelSize" data-bind="html: Label, style: { color: LabelColor }"></div>
  </div>
    }
  </div>
</div>